/* Error: Expected "important".
 *     ,
 * 354 |                         bottom: auto! !important;
 *     |                                       ^
 *     '
 *   scss\components\_user_action_widgets.scss 354:21  @import
 *   scss\main.scss 26:9                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Expected "important".\a     \2577 \a 354 \2502                          bottom: auto! !important;\d\a     \2502                                        ^\a     \2575 \a   scss\\components\\_user_action_widgets.scss 354:21  @import\a   scss\\main.scss 26:9                               root stylesheet';
}
