/*variables*/
:root {
  --ff-m: "Poppins", sans-serif;
  --ff-h: "Poppins", sans-serif;
  --fs-10: 0.625rem;
  --fs-11: 0.6875rem;
  --fs-12: 0.75rem;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-30: 1.875rem;
  --fs-32: 2rem;
  --fs-48: 3rem;
  --color-white-o-10: hsla(0, 0%, 100%, 0.1);
  --color-white-o-20: hsla(0, 0%, 100%, 0.2);
  --color-primary-200: #eff4ff;
  --color-gray-blue-400: #d1d9eb;
  /* 
  --color-white: #ffffff;
  --color-black-200: #272727;
  --color-black: #000000;
  --color-black-o-60: hsla(0, 0%, 0%, 0.6);
  --color-black-o-20: hsla(0, 0%, 0%, 0.2);
  --color-black-o-10: hsla(0, 0%, 0%, 0.1); */
  /* 
  --color-gray-200: #f8f8f8;
  --color-gray-300: #f5f5f5;
  --color-gray-400: #f2f2f2;
  --color-gray-500: #e7e7e7;
  --color-gray-600: #808080;
  --color-gray-700: #4f4f4f; */
  /* 
  --color-primary-200: #f5ebff;
  --color-primary-300: #ecdcfe;
  --color-primary-500: hsla(268, 36%, 50%, 1); */
  /* 	--color-red-200: #e9cbd0;
  --color-red-400: #d44b6c;

  --color-green-online-background: #daffe9;
  --color-green-online: #22c162;

  --color-orange-400: #ff8c00; */
  /* 	--color-cta-200: #e1ffda;
  --color-cta-400: var(--color-secondary);
  --color-cta-600: var(--color-secondary-hover); */
  --padding-sides: 40px;
  --padding-top-header: 8px;
  --header-height: 52px;
  /* 	--hamburger-width: 56px;
  --menu-image-width: clamp(60px, 40px + 3vw, 90px);  */
}

@media screen and (max-width: 767px) {
  :root {
    --padding-sides: 15px;
    --padding-top-header: 11px;
  }
}
/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
}

/*css reset*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  line-height: 1.4;
  color: var(--color-black);
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-family: var(--ff-m);
  background: white;
  margin: 0;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}

p,
span,
li,
ol,
a,
ul,
input,
button,
textarea {
  font-family: inherit !important;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-wrap: balance;
  font-family: var(--ff-h);
}

h1,
.h1 {
  font-size: var(--fs-32);
  font-weight: 700;
  line-height: 1.2;
  padding-top: 0.625em;
  padding-bottom: 0.375em;
}
@media screen and (max-width: 767px) {
  h1,
  .h1 {
    font-size: var(--fs-26);
    padding-bottom: 0.5em;
  }
}

p {
  padding-bottom: 0.9375em;
}

/* A elements that don't have a class get default styles */
a {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-decoration: none;
  color: var(--color-primary);
}
a:hover, a:focus-within {
  color: var(--color-primary-hover);
}

b {
  font-weight: 700;
}

/* Make images easier to work with */
img,
picture,
iframe {
  height: auto;
  display: block;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

img,
a {
  -webkit-user-drag: none; /* Non-standard, but some browsers support */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border-style: none;
}

input,
textarea,
select {
  border-radius: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-black-o-20);
  padding: 1.5em 1em;
  -webkit-transition: border-color 0.2s ease-out;
  transition: border-color 0.2s ease-out;
}
input:focus,
textarea:focus,
select:focus {
  outline: solid 2px var(--color-primary);
}

input[type=submit] {
  background-color: var(--color-primary);
  border-radius: 16px;
  color: white;
  font-size: var(--fs-18);
  font-weight: 700;
  padding: 1.1667em;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  text-align: center;
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:focus-within {
  background-color: var(--color-primary-hover);
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

button {
  all: unset;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*-------------------------------------- Hide for now */
.admin-bar {
  display: none;
}

.skip-link.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*-------------------------------------- Scrollbar */
/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 0.375rem; /* 6px */
}

::-webkit-scrollbar-track {
  background: transparent; /* Transparent background */
}

@media screen and (min-width: 1280px) {
  ::-webkit-scrollbar-track {
    background-color: var(--color-gray-400);
  }
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary-hover); /* Primary-hover color on hover */
  cursor: -webkit-grab;
  cursor: grab;
}

/*-------------------------------------- Body styles */
.content-hidden .content-wrapper,
.content-hidden .breadcrumbs-wrapper,
.content-hidden #footer {
  visibility: hidden;
}

.scroll-lock {
  overflow: hidden;
}

/* .overall-wrapper > * {
	@include body-max-width;
} */
.display-none {
  display: none !important;
}

.sr-only {
  display: none;
}

.no-display {
  display: none;
}

.hidden {
  display: none;
}

.show-on-mobile {
  display: none;
}

.show-on-pc {
  display: block;
}

.user-action {
  display: none;
}

/* .top-navigation-bar {
	display: none;
} */
@media screen and (max-width: 767px) {
  .show-on-mobile {
    display: block;
  }
  .show-on-pc {
    display: none;
  }
}
.tooltip[role=tooltip] {
  width: 250px;
  font-size: var(--fs-13);
  padding-bottom: 0.5em;
  z-index: 10000;
}
.tooltip[role=tooltip] .tooltip-inner {
  background: var(--color-primary);
  color: white;
  border-radius: 16px;
  padding: 1em 1em 0.75em;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-primary-hover);
}
.tooltip[role=tooltip] .tooltip-arrow {
  display: none;
}

.scroll-wrapper {
  overflow: auto;
}
.scroll-wrapper::-webkit-scrollbar {
  height: 6px;
}

body:has(#header .menu-level-1 > li.ext:hover)::before,
body:has(#header .menu-level-1 > li.ext:focus-within)::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(var(--color-primary-hover-h), var(--color-primary-hover-s), var(--color-primary-hover-l), 0.5);
  z-index: 8;
  pointer-events: none;
  backdrop-filter: blur(5px);
}

#header {
  --angle: 90deg;
  --start: 0%;
  --end: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--color-primary)), to(var(--color-primary-hover)));
  background: linear-gradient(var(--angle), var(--color-primary) var(--start), var(--color-primary-hover) var(--end));
  --angle: 70deg;
  --start: 5%;
  --end: 50%;
  padding: 27px 20px 0;
}
#header .navigation-wrapper {
  position: relative;
  z-index: 8;
}
#header .header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 54px;
  padding-left: 20px;
}
#header .header-top .site-name-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
#header .header-top .site-name-wrapper .site-name {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 177px;
}
#header .header-top .site-name-wrapper .site-name a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
#header .header-top .site-name-wrapper .site-name a img {
  height: auto;
  max-height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: -webkit-filter 0.2s ease-in-out;
  transition: -webkit-filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out;
  transition: filter 0.2s ease-in-out, -webkit-filter 0.2s ease-in-out;
}
#header .header-top .site-name-wrapper .site-name:hover img, #header .header-top .site-name-wrapper .site-name:focus-within img {
  -webkit-filter: brightness(1.25) contrast(1.2);
          filter: brightness(1.25) contrast(1.2);
}
#header .header-top .search {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  height: 100%;
  padding: 1px 0;
}
#header .header-top .search form {
  height: 100%;
}
#header .header-top .search form fieldset {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
#header .header-top .search form fieldset::before {
  pointer-events: none;
  content: "";
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_search.svg");
  background-size: cover;
}
#header .header-top .search form fieldset input[type=search] {
  /* width: clamp(200px, 38vw, 726px); */
  width: 548px;
  background: var(--color-white-o-10);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white-o-20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--fs-13);
  color: white;
}
#header .header-top .search form fieldset input[type=search]::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}
#header .header-top .search form fieldset input[type=search]::-moz-placeholder {
  color: white;
  opacity: 1;
}
#header .header-top .search form fieldset input[type=search]:-ms-input-placeholder {
  color: white;
  opacity: 1;
}
#header .header-top .search form fieldset input[type=search]::-ms-input-placeholder {
  color: white;
  opacity: 1;
}
#header .header-top .search form fieldset input[type=search]::placeholder {
  color: white;
  opacity: 1;
}
#header .header-top .search form fieldset input[type=search]:focus {
  outline: solid 2px var(--color-tertiary);
  outline-offset: 1px;
}
#header .header-top .search form fieldset button {
  --angle: 270deg;
  --start: 0%;
  --end: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--angle)), color-stop(var(--color-tertiary)), to(var(--color-tertiary-hover)));
  background: linear-gradient(var(--angle), var(--color-tertiary) var(--start), var(--color-tertiary-hover) var(--end));
  border-style: none;
  border-radius: 4px;
  color: white;
  padding: 0 14px;
  font-size: var(--fs-14);
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  height: calc(100% - 12px);
}
#header .header-top .search form fieldset button:hover, #header .header-top .search form fieldset button:focus-within {
  background: var(--color-primary-500);
}
@media screen and (max-width: 767px) {
  #header .header-top .search form fieldset button {
    display: none;
  }
}
#header .header-top .search .search-whisperer {
  display: none;
}
#header .menu-helper {
  display: none;
}
#header .navigation-close {
  display: none;
}
#header .navigation-buttons {
  display: none;
}
#header #navigation {
  display: grid;
  grid-template-columns: clamp(1000px, 60%, 2000px) 1fr;
  max-width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}
@media screen and (max-width: 1279px) {
  #header #navigation {
    grid-template-columns: 80% 1fr;
  }
}
#header #navigation .navigation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#header #navigation .navigation-buttons > a {
  padding: 15px;
  color: black;
  background: white;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#header #navigation .navigation-buttons > a .cart-price {
  font-weight: 700;
}
#header .menu-helper-custom {
  display: none;
  border-radius: 8px 8px 0 0;
  position: relative;
}
#header .menu-helper-custom.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#header .menu-helper-custom .menu-helper-custom-submenu {
  display: none;
}
#header .menu-helper-custom:hover, #header .menu-helper-custom:focus-within {
  background: white;
  color: black;
}
#header .menu-helper-custom:hover .menu-helper-custom-submenu, #header .menu-helper-custom:focus-within .menu-helper-custom-submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(var(--color-primary-200)));
  background: linear-gradient(180deg, #ffffff 0%, var(--color-primary-200) 100%);
  width: 16.5em;
  gap: 16px;
  padding: 2em 1em 1.75em 2em;
  z-index: 8;
  border-radius: 8px 0 8px 8px;
  -webkit-box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
}
#header .menu-helper-custom:hover .menu-helper-custom-submenu a, #header .menu-helper-custom:focus-within .menu-helper-custom-submenu a {
  color: black;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
#header .menu-helper-custom:hover .menu-helper-custom-submenu a:hover, #header .menu-helper-custom:hover .menu-helper-custom-submenu a:focus-within, #header .menu-helper-custom:focus-within .menu-helper-custom-submenu a:hover, #header .menu-helper-custom:focus-within .menu-helper-custom-submenu a:focus-within {
  color: var(--color-primary);
}
#header .menu-level-1,
#header .menu-level-1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header .menu-level-1 li {
  padding: 0;
  margin: 0;
}
#header .menu-level-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: var(--fs-16);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  color: white;
}
#header .menu-level-1 strong,
#header .menu-level-1 b {
  font-weight: inherit;
}
#header .menu-level-1 a {
  display: block;
}
#header .menu-level-1 > li > a,
#header .menu-level-1 .menu-helper-custom > span {
  color: inherit;
  font-weight: 600;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1em 1.8125em 1.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 6px;
  height: 100%;
  cursor: pointer;
}
#header .menu-level-1 > li:first-child > a {
  padding-left: 1.375em;
}
#header .menu-level-1 > li > a .submenu-arrow,
#header .menu-level-1 .menu-helper-custom > span::after {
  content: "";
  display: block;
  width: 0.625em;
  height: 100%;
  background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_primary_down.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#header .menu-level-1 > li:hover .submenu-arrow,
#header .menu-level-1 > li:focus-within .submenu-arrow,
#header .menu-level-1 .menu-helper-custom:hover span::after,
#header .menu-level-1 .menu-helper-custom:focus-within span::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
#header .menu-level-1 > li {
  border-radius: 8px 8px 0 0;
}
#header .menu-level-1 > li:hover, #header .menu-level-1 > li:focus-within {
  background: white;
  color: black;
}
#header .menu-level-1 > li:hover .menu-level-2, #header .menu-level-1 > li:focus-within .menu-level-2 {
  display: grid;
}
#header .menu-level-1 .menu-level-2 {
  display: none;
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(var(--color-primary-200)));
  background: linear-gradient(180deg, #ffffff 0%, var(--color-primary-200) 100%);
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 9;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(6.8125em, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 22px;
  padding: 27px 22px 30px;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}
@media screen and (max-width: 1679px) {
  #header .menu-level-1 .menu-level-2 {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1439px) {
  #header .menu-level-1 .menu-level-2 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 1279px) {
  #header .menu-level-1 .menu-level-2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1023px) {
  #header .menu-level-1 .menu-level-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}
#header .menu-level-1 .menu-level-2 > li {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: relative;
  background: white;
  border-radius: 8px;
  border-style: solid;
  border-color: var(--color-gray-blue-400);
  border-width: 1px;
  padding: 0 10px 0 25px;
}
#header .menu-level-1 .menu-level-2 > li > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#header .menu-level-1 .menu-level-2 > li > a:hover, #header .menu-level-1 .menu-level-2 > li > a:focus-within {
  background: hsla(var(--color-tertiary-hover-h), var(--color-tertiary-hover-s), var(--color-tertiary-hover-l), 0.05);
}
#header .menu-level-1 .menu-level-2 > li img {
  background-color: red;
}
#header .menu-level-1 .menu-level-2 > li > div > a {
  color: inherit;
  font-size: var(--fs-18);
}
#header .menu-level-1 .menu-level-3 {
  display: none;
}