// Define SCSS variables for breakpoints
$large-mobile-min: 500px;
$mobile-max: 767px;

$tablet-min: 768px;
$tablet-medium-min: 1024px;
$tablet-max: 1279px;
$desktop-min: 1280px;
$desktop-medium-min: 1440px;
$desktop-large-min: 1680px;

.articleAnalytics_statsValue {
	display: none !important;
}

.type-posts-listing {
	#content {
		max-width: 1280px;
		margin: 0 auto;
	}
	h1 {
	}
	.subcategories {
		list-style: none;

		padding: 0;
		gap: var(--gap-10);
		display: flex;
		flex-wrap: wrap;
		font-size: var(--fs-16);
		padding: 20px 0 10px 0;

		li {
			background-color: var(--color-gray-400);
			border-radius: var(--br-8);

			@media screen and (min-width: $desktop-min) {
				border-radius: var(--br-16);
			}
			a {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: clamp(0.25em, 10%, 1.5em);
				padding: 0.77em 1em;
				@media screen and (min-width: $desktop-min) {
					padding: 0.75em 1em;
				}
				.image {
					display: none;
				}
				.text {
					font-size: var(--fs-16);

					color: var(--color-black);
					max-width: none;
					text-wrap: balance;
				}
			}
			&:hover,
			&:focus-within {
				outline: solid 2px var(--color-primary);
				background-color: var(--color-gray-200);
			}
		}
	}
	#newsWrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 20px;
		row-gap: 40px;
		padding-top: 40px;
		@media screen and (max-width: $tablet-max) {
			grid-template-columns: repeat(2, 1fr);
			row-gap: 40px;
		}
		@media screen and (max-width: $mobile-max) {
			grid-template-columns: 1fr;
			row-gap: 30px;
			padding-top: 30px;
		}
		.news-item {
			.image {
				border-radius: var(--br-16);
				overflow: hidden;
				img {
					transition: transform 0.2s ease-in-out;
				}
			}
			.text {
				display: flex;
				flex-direction: column;
				.description {
					display: none;
				}
				.title {
					font-size: var(--fs-20);
					color: var(--color-black);
					font-weight: var(--fw-700);
					padding: 0.5em 0 1em 0;
				}
				time {
					color: var(--color-black-o-60);
					font-size: var(--fs-16);
				}
			}
			&:hover,
			&:focus-within {
				.image {
					img {
						transform: scale(1.05);
					}
				}
				.text {
					.title {
						color: var(--color-primary);
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
/*------------------------------------------------------------------------------Nový blog*/
.in-blog.type-post:not(.old-blog) .content-wrapper-in {
	display: block;
}

.in-blog.type-post:not(.old-blog) #content p,
.in-blog.type-post:not(.old-blog) #content h1,
.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3,
.in-blog.type-post:not(.old-blog) #content h4,
.in-blog.type-post:not(.old-blog) #content h5,
.in-blog.type-post:not(.old-blog) #content h6,
.in-blog.type-post:not(.old-blog) #content a,
.in-blog.type-post:not(.old-blog) #content b,
.in-blog.type-post:not(.old-blog) #content strong,
.in-blog.type-post:not(.old-blog) #content span {
	color: var(--color-black);

	text-align: left;
}

.in-blog.type-post:not(.old-blog) {
	--maxWidth: 960px;
	--contentPad: 20px;
}
.in-blog.type-post:not(.old-blog) #content {
	max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
	padding: 0 var(--contentPad);
	font-size: var(--fs-16);
	text-wrap: pretty;
	margin: 0 auto;
}

.in-blog.type-post:not(.old-blog) #content img {
	border-radius: var(--br-16);
}

.in-blog.type-post:not(.old-blog) #content p {
	font-size: var(--fs-16);
	line-height: 1.8;
	margin-top: var(--fs-24);
	margin-bottom: var(--fs-24);
}

.in-blog.type-post:not(.old-blog) #content h1 {
	color: var(--color-black);
	font-size: var(--fs-24);
	font-weight: 800;
}
.in-blog.type-post:not(.old-blog) #content h2,
.in-blog.type-post:not(.old-blog) #content h3 {
	font-weight: 800;
	line-height: 1.28;
	margin-top: var(--fs-32);
	margin-bottom: var(--fs-16);
}
.in-blog.type-post:not(.old-blog) #content h4 {
	font-weight: 800;
	line-height: 1.28;
	margin-top: var(--fs-28);
	margin-bottom: var(--fs-12);
}
.in-blog.type-post:not(.old-blog) #content h2 {
	font-size: var(--fs-22);
}
.in-blog.type-post:not(.old-blog) #content h3 {
	font-size: var(--fs-20);
}
.in-blog.type-post:not(.old-blog) #content h4 {
	font-size: var(--fs-18);
}
.in-blog.type-post:not(.old-blog) #content ul,
.in-blog.type-post:not(.old-blog) #content ol {
	margin: var(--fs-24) 0;
	font-size: var(--fs-16);
	line-height: 1.8;
	list-style-type: none;
	padding: 0;
}
.in-blog.type-post:not(.old-blog) #content ol {
	counter-reset: section;
}
.in-blog.type-post:not(.old-blog) #content ul li,
.in-blog.type-post:not(.old-blog) #content ol li {
	position: relative;
	margin-bottom: var(--fs-20);
	padding-left: var(--fs-20);
}
.in-blog.type-post:not(.old-blog) #content ol li {
	padding-left: var(--fs-48);
	counter-increment: section;
}
.in-blog.type-post:not(.old-blog) #content ul li::before {
	position: absolute;
	top: 16px;
	left: 0;
	width: 8px;
	height: 8px;
	content: "";
	transform: translateY(-50%);
	border-radius: 50%;
	background-color: var(--color-black);
}
.in-blog.type-post:not(.old-blog) #content ol li::before {
	content: counter(section);
	width: var(--fs-32);
	height: var(--fs-32);
	position: absolute;
	top: 16px;
	left: 0;
	font-weight: var(--fw-700);
	font-size: var(--fs-14);
	line-height: var(--fs-32);
	text-align: center;
	transform: translateY(-50%);
	background-color: var(--color-primary-200);
	color: var(--color-primary-hover);
	border-radius: 6px;
}
.in-blog.type-post:not(.old-blog) #content a {
	transition: color 0.1s ease;
	text-decoration: underline;

	word-break: break-word;
}
.in-blog.type-post:not(.old-blog) #content a:hover {
	color: var(--color-primary-hover);
}

@media (min-width: 641px) {
	.in-blog.type-post:not(.old-blog) #content h1 {
		font-size: var(--fs-24);
	}
}

@media (min-width: 1200px) {
	.in-blog.type-post:not(.old-blog) #content {
		padding: 0 var(--fs-30);
	}
	.in-blog.type-post:not(.old-blog) #content h1 {
		font-size: var(--fs-32);
	}
	.in-blog.type-post:not(.old-blog) #content h2 {
		font-size: var(--fs-32);
		margin-top: var(--fs-48);
		margin-bottom: var(--fs-24);
	}
	.in-blog.type-post:not(.old-blog) #content h3 {
		margin-top: var(--fs-40);
	}

	.in-blog.type-post:not(.old-blog) #content ul,
	.in-blog.type-post:not(.old-blog) #content ol {
		margin: var(--fs-40) 0;
	}
	.in-blog.type-post:not(.old-blog) #content ul li {
		padding-left: 56px;
	}
	.in-blog.type-post:not(.old-blog) #content ul li::before {
		left: var(--fs-24);
		transform: translate(-50%, -50%);
	}
	.in-blog.type-post:not(.old-blog) #content ol li {
		padding-left: 56px;
	}
	.in-blog.type-post:not(.old-blog) #content ol li::before {
		left: var(--fs-12);
	}
}

/*AUTOR BLOGU*/
#blog-author {
	display: grid;
	grid-template-columns: 100px 1fr;
	gap: var(--fs-24);
	background: var(--color-gray-200);
	border-radius: var(--br-16);
	padding: var(--fs-24) 36px 9px 36px;
	align-items: start;
}

.author-image {
	border-radius: 50%;
	overflow: hidden;
	border-style: solid;
	border-color: var(--color-primary);
	border-width: 1px;
}

#blog-author p {
	margin: 0 !important;
}

#blog-author .author-name {
	font-size: var(--fs-22) !important;
	font-weight: var(--fw-700) !important;
	margin-top: 4px !important;
	margin-bottom: 8px !important;
}
#blog-author .author-text .author-label {
	font-size: var(--fs-12) !important;
	margin: 0 !important;
}
.author-text {
	font-size: 15px !important;
	line-height: 15px !important;
}
#blog-author .author-text p {
	margin-bottom: 15px !important;
}
@media (max-width: 767px) {
	#blog-author {
		grid-template-columns: 1fr;
		gap: 10px;
	}
	.author-image {
		max-width: 120px;
		margin: auto;
	}
	#blog-author .author-label,
	#blog-author .author-name {
		text-align: center !important;
		margin-top: 0 !important;
	}
}

/*------------------------------------------------------------------------------Související články blog*/
.show-blog-heading {
	font-size: var(--fs-22);
	font-weight: 800;
	line-height: 1.28;
	margin-top: var(--fs-32);
	margin-bottom: var(--fs-16);
	text-align: left;
	padding-left: 7px;
}

.blog-fetched-related {
	display: flex;
	justify-content: flex-start;
	overflow-x: auto;
	margin-bottom: var(--fs-16);
}
.blog-fetched-related > * {
	padding: calc(var(--gap-10) / 1.5);
	max-width: 300px;
	min-width: 250px;
	color: var(--color-black) !important;
}
.blog-fetched-related img {
	border-radius: var(--br-16);
	filter: brightness(0.95);
	transition: filter 0.3s ease;
}
.blog-fetched-related a:hover img {
	filter: brightness(1);
}
.blog-fetched-related a h4 {
	transition: color 0.2s ease;

	font-size: var(--fs-20);
	line-height: 1.28;
	margin-bottom: 0.5em;
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
}
.blog-fetched-related a:hover h4 {
	color: var(--color-primary) !important;
}
.blog-fetched-related a p {
	color: #666;
	display: -webkit-box !important;
	font-size: var(--fs-16);
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	overflow: hidden;
	margin: 0;
}

@media (min-width: 1200px) {
	.show-blog-heading {
		text-align: center;
		font-size: var(--fs-32);
		margin-top: var(--fs-48);
		margin-bottom: var(--fs-24);
	}
	.blog-fetched-related {
		justify-content: center;
		margin-bottom: var(--fs-24);
	}
	.blog-fetched-related > * {
		max-width: 25%;
		min-width: auto;
		flex: 1;
	}
	.show-blog-heading {
		padding-left: 0;
	}
}

/*------------------------------------------------------------------------------Blog produkty z kategorie a produkty z detailu*/
.blog-fetched-category .p-in .p-in-in .ratings-wrapper,
.blog-fetched-category .p-in .p-bottom,
.blog-fetched-category .p-code,
.blog-fetched-category .flags {
	display: none;
}

.blog-fetched-products,
.blog-fetched-category {
	display: flex;
	overflow-x: auto;
	justify-content: flex-start;
	margin-top: var(--fs-24);
	margin-bottom: var(--fs-24);
	margin-left: calc(var(--gap-10) / -2);
	margin-right: calc(var(--gap-10) / -2);
}

.blog-fetched-products > a,
.blog-fetched-category > .product {
	max-width: 60%;
	width: 300px;
	flex-shrink: 0;
	padding: calc(var(--gap-10) / 1.5);
	margin-bottom: 40px;
	position: relative;
}

.blog-fetched-products > a,
.blog-fetched-category > .product a {
	text-decoration: none !important;
	color: var(--color-black) !important;
}
.blog-fetched-products > a::before,
.blog-fetched-category > .product::before {
	display: block;
	content: "";
	position: absolute;
	width: calc(100% - var(--gap-10));
	height: calc(100% + var(--fs-16) * 4);
	top: 0;
	left: calc(var(--gap-10) / 2);
	pointer-events: none;
	background-color: hsla(204, 5%, 60%, 0.06);
	border-radius: var(--br-16);
	transition: opacity 0.1s ease;
}
.blog-fetched-products > a::after,
.blog-fetched-category > .product::after {
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	width: 80%;
	max-width: 200px;
	transform: translate(-50%, -50%);
	pointer-events: auto;
	background-color: var(--color-primary);
	border-radius: var(--br-16);
	color: white;
	font-size: var(--fs-16);
	padding: 0.75em 0.25em;
	text-align: center;
	transition: background-color 0.1s ease;
}
.blog-fetched-products > a:hover,
.blog-fetched-category > .product:hover a {
	text-decoration: underline !important;
}
.blog-fetched-products > a:hover::after,
.blog-fetched-category > .product:hover::after {
	background-color: var(--color-primary-hover);
}
.blog-fetched-products > a:hover::before,
.blog-fetched-category > .product:hover::before {
	opacity: 0.6;
}
.cs .blog-fetched-products > a::after,
.cs .blog-fetched-category > .product::after {
	content: "Zobrazit produkt";
}
.sk .blog-fetched-products > a::after,
.sk .blog-fetched-category > .product::after {
	content: "Zobraziť produkt";
}
.pl .blog-fetched-products > a::after,
.pl .blog-fetched-category > .product::after {
	content: "Pokaż produkt";
}
.blog-fetched-products > a p,
.blog-fetched-category > .product .name span {
	text-align: center !important;
	line-height: 1.6 !important;
	text-decoration: none !important;
	font-weight: var(--fw-700);
	display: -webkit-box !important;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
	padding: 0 10px;
	margin-bottom: 2em !important;
	margin-top: 1em !important;
}
@media (min-width: 1200px) {
	.blog-fetched-products,
	.blog-fetched-category {
		display: flex;
		justify-content: center;
	}
	.blog-fetched-products > a,
	.blog-fetched-category > .product {
		max-width: 50%;
		min-width: 25%;
		width: auto;
		flex-shrink: 1;
		flex: 1;
	}
}

/*------------------------------------------------------------------------------Blog Zobrazit všechny články a produkty tlačítko*/
.show-all-blog-btn {
	width: auto;
	display: flex;
	justify-content: center;
}

.show-all-blog-btn a {
	margin: 0px auto 0px 7px;
	text-align: center;
	font-size: var(--fs-20);
	font-weight: 500;
	color: var(--color-primary) !important;
	border-radius: var(--br-16);
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-primary);
	padding: 0.6em 1em;
	transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
	text-decoration: none !important;
}
.show-all-blog-btn a:hover,
.show-all-blog-btn a:focus-within {
	background: var(--color-primary);
	border-color: var(--color-primary);
	color: white !important;
}

@media (min-width: 1200px) {
	.show-all-blog-btn a {
		margin: 0px auto 0px auto;
	}
}

/**/
.in-blog.type-post:not(.old-blog) .comments,
.in-blog.type-post:not(.old-blog) .share {
	max-width: var(--maxWidth); /*80 rem a 3 rem padding na PC*/
	padding: 0 var(--contentPad);
	margin-left: auto;
	margin-right: auto;
}
.in-blog.type-post:not(.old-blog) .comments {
	margin-top: var(--fs-24);
	margin-bottom: var(--fs-16);
}

/*----------------------------------------------------------------------------------BLOG NAVIGACE*/

.article-nav {
	background-color: var(--color-gray-200);
	border-radius: var(--br-16);
	margin-top: var(--fs-32);
	margin-bottom: -4px;
}
.article-content {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 0.3s ease;
	padding: 0 var(--fs-24);
}
.article-content > ul {
	overflow: hidden;
}
.article-content > ul > li:first-of-type {
	padding-top: 0.6em !important;
}
.article-content > ul > li:last-of-type {
	padding-bottom: 1em !important;
}

.article-nav.open .article-content {
	grid-template-rows: 1fr;
}

.article-content ul {
	margin: 0 !important;
}
.article-content ul li {
	margin: 10px 0 !important;
	padding: 0 !important;
}
.article-content > ul > li::before {
	display: none;
}
.article-content ul li::before {
	background-color: var(--color-primary) !important;
	width: 6px !important;
	height: 6px !important;
}
.article-content ul li a {
	text-decoration: none !important;
	color: var(--color-primary) !important;
}
.article-content > ul > li li {
	padding-left: 38px !important;
}
.article-content > ul > li > a {
	font-weight: var(--fw-700);
}
.article-content a:hover {
	text-decoration: underline !important;
}

#open-article-nav {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	cursor: pointer;
	padding: var(--fs-16) var(--fs-24) var(--fs-22);
	border-radius: var(--br-16);
	border-bottom-style: solid;
	border-width: 1px;
	border-color: transparent;
}
#open-article-nav:hover,
.article-nav.open #open-article-nav {
	background: var(--color-gray-400);
}
.article-nav.open #open-article-nav {
	border-color: var(--color-gray-500);
	border-radius: var(--br-16) var(--br-16) 0 0;
}

#open-article-nav:hover .show-article,
#open-article-nav:hover .hide-article {
	text-decoration: underline;
}
#open-article-nav > span {
	padding-top: 8px;
}
#open-article-nav > span:first-child {
	font-weight: 700;
	font-size: 1.1em;
	margin-right: 2em;
}
#open-article-nav > span:nth-child(2)::after {
	content: "↓";
	padding-left: 8px;
}

.article-nav.open #open-article-nav > span:nth-child(2)::after {
	transform: rotate(180deg);
}
.article-nav.open .show-article,
.hide-article {
	display: none;
}
.article-nav.open .hide-article {
	display: inline-block;
}
@media (max-width: 767px) {
	.article-content ul li::before {
		left: var(--fs-12) !important;
	}
	.article-content > ul > li li {
		padding-left: var(--fs-28) !important;
	}
}
/*----------------------------------------------------------------------------------KONEC BLOG NAVIGACE*/
