/*-------------------------------------------------------------------------404 not found */
/*404 not found*/
.not-found-grid {
	display: grid;
	grid-template-columns: 0.8fr 1fr;
	grid-template-rows: 1fr;
	color: black;
	margin-bottom: 100px;
	.not-found-image {
		grid-column: 1/3;
		grid-row: 1;
	}
	.not-found-image img {
		border-radius: 8px;
	}
	.not-found-text {
		grid-column: 2;
		grid-row: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 20px 40px;
	}
	.not-found-text h2 {
		font-size: 76px;
		margin: 0 0 0.2em;
		font-weight: 700;
	}
	.not-found-text p {
		font-size: var(--fs-16);
		margin: 0.5em;
	}
	.not-found-buttons {
		display: flex;
		justify-content: center;
		gap: 20px;
		font-weight: 700;
		font-size: var(--fs-14);
		margin-top: var(--fs-16);
	}
	.not-found-buttons > * {
		display: block;
		padding: 20px 40px;
		border-radius: 8px;
		transition: color 0.2s ease, background 0.2s ease;
	}
	.not-found-home-button {
		background: white;
		color: var(--color-primary);
	}
	.not-found-home-button:hover {
		background: var(--color-secondary);
		color: white;
	}
	.not-found-registration-button {
		color: white;
		background: var(--color-primary);
	}
	.not-found-registration-button:hover {
		background: var(--color-secondary);
		color: white;
	}
	@media screen and (max-width: $mobile-max) {
		display: flex;
		flex-direction: column-reverse;

		.not-found-text {
			padding-bottom: 20px;
		}
		.not-found-home-button {
			background: var(--color-gray-blue-400);
			color: var(--color-primary);
		}
	}
}
