.customer-page {
	#content {
		overflow: hidden;
	}
	#content-wrapper {
		@include body-max-width;
	}

	.content-wrapper-in {
		display: grid;
		grid-template-columns: 290px 1fr;
		gap: 60px;
		align-items: start;
		padding-top: 60px;

		.sidebar {
			@include whiteBlueGradient;
			--angle: 135deg;
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			padding: 10px 20px;
			margin-bottom: 60px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-direction: column;
				li {
					&.active a {
						font-weight: 700;
					}
					a {
						color: black;
						&:hover {
							color: var(--color-primary);
							text-decoration: underline;
						}
					}
					font-size: var(--fs-14);
					padding: 10px 0;
					border-bottom-style: solid;
					border-width: 1px;
					border-color: var(--color-gray-blue-400);
					order: 1;

					&.logout {
						order: 99;
						border-bottom: none;
						a {
							color: var(--color-red-400);
						}
					}
				}
			}
		}

		.content-inner {
			padding-bottom: 100px;
			h1 {
				padding-top: 0;
				padding-bottom: 1em;
			}
			#register-form {
				.country-flag {
					display: none;
					min-width: 18px;
					height: 18px;
					width: max-content;
					&.selected {
						display: flex;
					}

					svg {
						min-width: 18px;
						width: 18px;
						height: 18px;
						margin-right: 5px;
					}
				}
				.country-flag {
					&:not(.country-flag-CZ) {
						position: relative;
						&::after {
							content: "Pro doručení zásilky je nutno zadat české číslo, jinak nebude možno zásilku odeslat.";
							display: block;
							font-size: var(--fs-16);
							position: absolute;
							left: 0;
							top: -20px;
							transform: translateY(-100%);
							background: white;
							border-style: solid;
							border-color: var(--color-red-400);
							border-radius: 8px;
							border-width: 1px;
							width: 18em;
							padding: 10px;
						}
					}
				}
				.shp-flag-name {
					display: none;
				}
				.js-phone-code {
					display: none;
				}
				.phone-combined-input {
					display: flex;
					align-items: center;
					gap: 8px;
					@media screen and (max-width: $mobile-max) {
						width: 100%;
					}
				}

				.form-group {
					display: flex;
					column-gap: 10px;
					align-items: center;
					margin-bottom: 14px;
					&.smart-label-wrapper {
						display: grid;
						grid-template-columns: 33.33% 1fr;
						margin-bottom: 8px;

						input,
						select {
							width: 100%;
							padding: 1em 1em;
						}
						@media screen and (max-width: $mobile-max) {
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							gap: 0;
							label {
								padding-top: 16px;
							}
						}
					}
					&.form-group-hasTooltip {
						label {
							grid-row: 1;
							grid-column: 1;
							text-decoration: underline;
							text-decoration-style: dashed;
						}
						.show-tooltip {
							grid-row: 1;
							grid-column: 1;
							width: 100%;
							opacity: 0;
						}
						.vatId-description {
							display: none;
						}
					}
					&.submit-wrapper {
						p {
							width: 100%;
						}
					}
					&:has(#billCountryId) select {
						background: var(--color-gray-blue-400);
						opacity: 0.5;
					}
					&.consents {
						margin-bottom: 0;
					}
				}
				.js-hidden {
					display: none;
				}
				.js-hidden.visible {
					display: block;
				}
				.js-validator-msg.msg-error {
					color: var(--color-red-400);
					grid-row: 1;
					grid-column: 1/-1;
					text-align: left;
					padding-right: 10px;
					text-align: right;
				}
				.js-validated-element-wrapper:has(.msg-error) input {
					outline: solid 2px var(--color-red-400);
				}
				.required-asterisk {
					position: relative;
					&::after {
						content: "*";
						color: var(--color-red-400);
						position: absolute;
						right: -0.75em;
						top: 0;
					}
				}
				.box-sm {
					margin-bottom: 20px;
				}
			}
			.table-wrapper {
				overflow-x: auto;
				max-width: 100%;
				width: 100%;
				margin-bottom: 40px;

				&.grabbing {
					cursor: grabbing;
					user-select: none;
					* {
						user-select: none;
					}
				}

				&::-webkit-scrollbar {
					height: 6px;
				}

				table {
					font-size: var(--fs-14);
					min-width: 850px;
					width: 100%;
					border-collapse: separate;
					border-spacing: 0;
					padding-bottom: 6px;

					thead {
						@include whiteBlueGradient;
						--angle: 135deg;

						tr:first-child {
							th {
								border-top-style: solid;
								border-bottom-style: solid;
								border-width: 1px;
								border-color: var(--color-gray-blue-400);
								text-align: left;
							}
							th:first-child {
								border-left-style: solid;
								border-top-left-radius: 8px;
								border-bottom-left-radius: 8px;
							}
							th:last-child {
								border-right-style: solid;
								border-top-right-radius: 8px;
								border-bottom-right-radius: 8px;
							}
						}
					}
					td,
					th {
						padding: 1.5em 0.5em;
					}
					td {
						border-bottom-style: solid;
						border-width: 1px;
						border-color: var(--color-gray-blue-400);
					}
					.client-table-heading {
						display: none;
					}

					.p-name {
						display: flex;
						flex-wrap: wrap;
						row-gap: 5px;
						a {
							width: 100%;
							color: black;
							&:hover,
							&:focus {
								color: var(--color-primary);
								text-decoration: underline;
							}
						}
						.p-name__codeLabel,
						.p-name__code {
							font-size: var(--fs-12);
							color: var(--color-black-o-60);
						}
						.p-name__code {
							padding-left: 0.1em;
						}
					}
					.list-summary {
						text-align: right;
						display: grid;
						grid-template-columns: 250px 150px;
						column-gap: 20px;
						gap: 16px;
						max-width: max-content;
						margin-left: auto;
						dd {
							margin: 0;
						}
						> :nth-child(1),
						> :nth-child(2) {
							font-size: var(--fs-18);
						}
					}
				}
			}
			h2 {
				font-size: var(--fs-18);
				padding-bottom: 1em;
			}
			.row {
				display: flex;
				flex-direction: row;
				margin-bottom: 20px;
				gap: 20px;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-radius: 8px;
				padding: 20px;
				line-height: 2;
				h4 {
					font-size: var(--fs-18);
					padding-bottom: 1.5em;
				}
			}
			.btn-primary {
				@include add-to-cart-button;
				width: fit-content;
			}
			.pagination-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
				gap: 20px;
				p {
					padding: 0;
				}
			}
		}
	}
}
