.in-natios-pomaha-hematoonkologii-v-ostrave {
	#content {
		@include body-max-width-thinner;
		h2,
		.h2,
		h3,
		.h3 {
			font-size: var(--fs-28);
			font-weight: 700;
			line-height: 1.4;
			padding-top: 0.75em;
			padding-bottom: 0.5em;
			strong {
				font-weight: 700;
			}
		}
	}
}
/*article*/
.in-blog.type-post {
	.breadcrumbs-wrapper,
	.news-item-detail {
		@include body-max-width-thinnest;
	}
	.content-inner {
		h1,
		.h1 {
			font-size: var(--fs-32);
			font-weight: 700;
			line-height: 1.4;
			padding: 0.6875em 0;
			text-wrap: pretty;
		}
		h2,
		.h2 {
			font-size: var(--fs-28);
			font-weight: 700;
			line-height: 1.4;
			padding-top: 0.25em;
			padding-bottom: var(--fs-24);
			font-weight: 700;
		}
		h3,
		.h3 {
			font-size: var(--fs-18);
			font-weight: 700;
			line-height: 1.4;
			padding-top: 0;
			padding-bottom: var(--fs-20);
		}
		h4,
		.h4 {
			font-size: var(--fs-16);
			font-weight: 700;
			line-height: 1.4;
			padding-top: 0;
			padding-bottom: var(--fs-16);
		}
		strong,
		b {
			font-weight: 700;
		}
		p {
			font-size: var(--fs-16);
			line-height: 1.6;
			padding-top: 0;
			padding-bottom: 2em;
		}
		a {
			text-decoration: underline;
		}
		ul {
			@include list-reset;
			padding-top: 0;
			padding-bottom: 2em;
			margin: 0;
		}
		ol {
			@include ol-reset;
			padding-top: 0;
			padding-bottom: 2em;
			margin: 0;
			&:has(h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6) {
				padding-bottom: var(--fs-24);
			}
		}
		img {
			border-radius: 8px;
		}
	}
	.article-nav {
		@include whiteBlueGradient;
		border-radius: 8px;
		padding: 0 20px;
		margin: 0 0 var(--fs-24) 0;
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);

		#open-article-nav {
			font-size: var(--fs-18);
			font-weight: 700;
			padding: 1.25em 0;
			cursor: pointer;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}

		.article-content {
			display: grid;
			grid-template-rows: 0fr;
			transition: grid-template-rows 0.3s ease;

			* {
				font-size: var(--fs-14);
			}
			> ul {
				@include list-reset;
				overflow: hidden;
				margin: 0 !important;
				padding: 0 !important;

				> li {
					margin: 1em 0 !important;
					padding: 0 0 0 1.25em !important;
					&:first-of-type {
						margin-top: 0 !important;
					}
					&:before {
						top: 1px;
						transform: translateY(50%);
					}

					ul {
						list-style: none;
						margin: 0;
						padding: 0.75em 0 0.25em 1em !important;
						li {
							padding: 0;
							margin: 0;
							&::before {
								display: none;
							}
						}
					}
					a {
						text-decoration: none;
						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
		&.open {
			.article-content {
				grid-template-rows: 1fr;
			}
		}
	}
	time {
		font-size: var(--fs-13);
		padding: 2px 8px;
		border-style: solid;
		border-width: 1px;
		border-radius: 4px;
		border-color: var(--color-gray-blue-400);
		@include whiteBlueGradient;
		margin-bottom: 1em;
		display: flex;
		justify-content: flex-start;
		width: max-content;
	}

	.blog-fetched-products {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;
		padding: 20px 0;
		> a {
			border-style: solid;
			border-width: 1px;
			border-radius: 8px;
			border-color: var(--color-gray-blue-400);
			display: flex;
			flex-direction: column;
			text-align: center;
			padding: 32px 20px;
			gap: 26px;
			text-decoration: none;
			@include whiteBlueGradient;
			&:hover {
				p {
					text-decoration: underline;
				}
			}
			p {
				display: -webkit-box;
				--number-of-lines: 3;
				-webkit-line-clamp: var(--number-of-lines);
				-webkit-box-orient: vertical;
				overflow: hidden;
				line-height: 1.4;
				font-weight: 700;

				padding: 0;
				height: calc(1em * var(--number-of-lines) * 1.4 - 2px);
			}
			img {
				mix-blend-mode: multiply;
			}
			.show-product-btn {
				@include add-to-cart-button;
				font-size: var(--fs-14);
			}
		}
	}

	.related-blogs-wrapper {
		@include body-max-width-thinner;
		padding-top: 40px;
		padding-bottom: 80px;
		@media screen and (max-width: $small-tablet-max) {
			padding-top: 30px;
			padding-bottom: 60px;
		}
		h3 {
			margin-bottom: 1em;
		}
	}
	.blog-related-slider {
		@include customSlider;
		--gap: 20px;

		@media screen and (max-width: $small-tablet-max) {
			--gap: 15px;
		}
		.blog-fetched-related {
			gap: var(--gap);
			> a {
				display: flex;
				flex-direction: column;
				--number-of-items: 4;
				--item-width: calc(
					(100% / var(--number-of-items)) - (var(--gap) * (var(--number-of-items) - 1) / var(--number-of-items))
				);
				min-width: var(--item-width);
				flex-basis: var(--item-width);
				text-decoration: none;
				@media screen and (max-width: $tablet-max) {
					--number-of-items: 3;
				}
				@media screen and (max-width: $small-tablet-max) {
					--number-of-items: 2;
				}
				h4 {
					font-size: var(--fs-18);
					color: var(--color-tertiary-hover);
					line-height: 1.4;
					font-weight: 700;
					margin-top: 0.75em;
					margin-bottom: 0.5em;
					--number-of-lines: 2;
					min-height: calc(1em * var(--number-of-lines) * 1.4 - 2px);
					padding-bottom: 0;
				}
				&:hover,
				&:focus {
					h4 {
						text-decoration: underline;
					}
				}
				p {
					display: -webkit-box;
					font-size: var(--fs-14);
					--number-of-lines: 3;
					-webkit-line-clamp: var(--number-of-lines);
					-webkit-box-orient: vertical;
					overflow: hidden;
					line-height: 1.4;
					padding: 0;
					height: calc(1em * var(--number-of-lines) * 1.4 - 2px);
				}
			}
		}
	}
	.show-all-blog-btn {
		@include primaryButton;
		font-size: var(--fs-16);
		margin: 40px auto 0 auto;
		display: flex;
		align-items: center;
		max-width: max-content;
		a {
			color: white;
			text-decoration: none;
		}
	}

	.share,
	.next-prev,
	.comments {
		display: none;
	}
}
