.in-o-znacce-natios {
	.breadcrumbs-wrapper {
		display: none;
	}
	#content header h1 {
		display: none;
	}
}

.brand-page {
	@mixin content-width {
		width: 100%;
		max-width: 1200px;
		padding: 0 var(--padding-sides);
		margin: 0 auto;
	}
	@mixin content-width-thin {
		width: 100%;
		max-width: 700px;
		padding: 0 var(--padding-sides);
		margin: 0 auto;
	}
	@mixin content-width-extra-thin {
		width: 100%;
		max-width: 540px;
		padding: 0 var(--padding-sides);
		margin: 0 auto;
	}
	.gradient-background {
		@include whiteBlueGradient;
		--angle: 135deg;
	}
	.primary-background {
		@include primaryBackgroundGradient;
		--angle: 30deg;
		--end: 50%;
		color: white;
		p {
			color: white;
		}
	}
	.border-bottom {
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
	.border-top {
		border-top-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
	.full-width-wrapper {
		position: relative;
		> * {
			@include content-width;
		}
	}
	.centered-content {
		text-align: center;
	}
	.arrow-section-down {
		display: block;
		position: absolute;
		--width: 5.5em;
		bottom: calc(-1 * var(--width) / 2);
		left: 50%;
		transform: translateX(-50%);
		width: var(--width);
		height: var(--width);

		cursor: pointer;
		z-index: 3;
		padding: 0;
		margin: 0;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_primary_with_border.svg);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_down.svg);
			background-size: 20%;
			background-repeat: no-repeat;
			background-position: center;
			transition: transform 0.2s ease;
		}
		&:hover {
			transform: translateX(-50%) scale(1.05);
			transition: transform 0.2s ease;
		}
	}
	h3,
	.h3 {
		font-size: var(--fs-28);
		font-weight: 700;
		line-height: 1.4;
		padding-top: 0;
		padding-bottom: 1em;
	}
	h4,
	.h4 {
		font-size: var(--fs-18);
		font-weight: 700;
		line-height: 1.4;
		padding: 0;
	}
	p {
		font-size: var(--fs-18);
		line-height: 1.5;
		padding-top: 0;
		padding-bottom: 1.5em;
	}
	.full-width-wrapper:first-child {
		&::before {
			content: "";
			position: absolute;
			top: -70px;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/product_background.svg);
			pointer-events: none;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-position: center;
			z-index: 1;
		}
	}
	.first-block {
		@include content-width-thin;
		text-align: center;
		padding-top: 10em;
		padding-bottom: 12em;
		position: relative;
		z-index: 2;
		img {
			max-width: 178px;
			margin: 0 auto 2.25em auto;
		}
		h1 {
			font-size: var(--fs-48);
			padding-bottom: 0.54em;
			padding-top: 0;
			line-height: 1.4;
			font-weight: 700;
		}
		ul {
			@include list-reset;
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: var(--fs-18);
			font-weight: 700;
			li {
				padding: 1em 0 1em 2.75em;
				&::before {
					width: 2em;
					height: 2em;
					background: url(https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_questionmark_primary.svg);
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
			}
		}
		h2 {
			font-size: var(--fs-28);
			padding-top: 0.892em;
			padding-bottom: 0;
			display: flex;
			line-height: 1.4;
			flex-direction: column;
		}
	}
	.images-on-sides {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		.content-center {
			@include content-width-thin;
			text-align: center;
			padding-top: 17em;
			padding-bottom: 17em;
		}
		h3 {
			padding-bottom: 1.7143em;
		}
	}

	.content-with-image {
		display: flex;
		--text-width: 45%;

		.text {
			width: var(--text-width);
			padding: 5em 2em 5em 2em;
			&.text-on-left {
				padding-left: 0;
				padding-right: 2em;
			}
			&.text-on-right {
				padding-left: 2em;
				padding-right: 0;
			}
		}
		.image {
			width: calc(100% - var(--text-width));
		}
	}

	.full-width-wrapper:nth-child(3) {
		padding-top: 9em;
		padding-bottom: 12em;
	}
	.full-width-wrapper:nth-child(4) {
		padding-top: 10em;
		padding-bottom: 3.75em;
	}
	.full-width-wrapper:nth-child(5) {
		padding-top: 3.75em;
		padding-bottom: 8em;
	}

	.hexagon-points {
		padding-top: 5.3125em;
		padding-bottom: 5.3125em;
		h3 {
			padding-bottom: 3.75em;
		}
	}
	.cross-points {
		padding-top: 0;
		padding-bottom: 6.375em;
		h3 {
			padding-bottom: 2.5em;
		}
	}
	.hexagon-points,
	.cross-points,
	.image-points {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
		text-align: center;
		h3 {
			grid-column: 1 / -1;
		}
		> * {
			display: flex;
			flex-direction: column;
			gap: var(--fs-12);
			img {
				margin-bottom: var(--fs-12);
			}
		}
	}
	.image-points {
		grid-template-columns: repeat(4, 1fr);
		h3 {
			padding-top: 6em;
			padding-bottom: 6em;
		}
	}
	.image-on-bottom {
		padding-top: 7em;

		.centered-content.thin {
			@include content-width-extra-thin;
			margin-bottom: 1em;
		}
	}
	.full-width-wrapper:last-child {
		padding-top: 7em;
		padding-bottom: 7em;
		.centered-content.thin {
			@include content-width-thin;
		}
		#natios-categories {
			margin-top: 3em;
			display: flex;
			flex-direction: column;
			gap: 1.5em;
			h4 {
				text-align: center;
			}
			.menu-level-2 {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				gap: 20px;
				li {
					@include menuItemSetup;
					a {
						color: black;
					}
					&:hover,
					&:focus {
						a {
							color: white;
						}
					}
				}
			}
		}
	}
}
