.filters-wrapper {
	padding-top: 40px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: column;
	gap: 40px;

	.filters-unveil-button-wrapper {
		@include body-max-width;
		display: none;
	}
	.filter-section-button {
		display: none !important;
	}
	.filter-total-count {
		display: none;
	}
	#manufacturer-filter {
		display: none;
	}
	#price-filter-form {
		display: none !important;
	}
	#filters {
		@include body-max-width;
		display: flex;
		--gap: 24px;
		--overlap-height: 16px;
		gap: var(--gap);
		width: 100%;
	}
	.filter-sections {
		display: flex;
	}
	#category-filter-hover {
		display: flex;
		gap: var(--gap);
	}
	.slider-wrapper,
	.filter-section {
		display: flex;
		position: relative;
		--enf-of-gradient: 200px;
		z-index: 1;
		h4 {
			display: flex;
			flex-direction: row;

			align-items: center;
			position: relative;
			z-index: 9;
			font-size: var(--fs-16);
			font-weight: 400;
			padding: 0.3125em 10px 0.3125em 0.625em;
			gap: 10px;
			@include whiteBlueGradient;
			--end: var(--enf-of-gradient);
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			cursor: pointer;
			border-radius: 8px;
			user-select: none;
			&::after {
				display: flex;
				content: "";
				margin-top: 2px;
				width: 0.625em;
				height: 1em;
				background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_primary_down.svg");
				background-size: 70%;
				background-repeat: no-repeat;
				background-position: center;
				transform: rotate(0deg);
			}
		}
	}

	.slider-section {
		&:first-child {
			display: none; //temp vegan apod
		}
	}

	.filter-section {
		font-size: var(--fs-14);
		form {
			display: none;
			position: absolute;
			left: 0;
			top: calc(100% + var(--overlap-height) - 2px);
			min-width: 100%;
			width: max-content;
			z-index: 8;
			@include whiteBlueGradient;
			--end: var(--enf-of-gradient);
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			border-top-left-radius: 0;
			padding: 10px 10px 14px 0.72em;
			max-height: 20.7em;
			overflow-y: auto;

			fieldset {
				display: flex;
				flex-direction: column;
				gap: 14px;
				.advanced-filters-wrapper {
					display: none !important;
				}
				> div {
					display: flex;
					align-items: center;
					gap: 6px;
					order: 1;
					&:has(label.disabled) {
						order: 2;
					}
					&:has(input[type="checkbox"]:checked) label {
						font-weight: 700;
					}
					&:has(label.disabled) input {
						opacity: 0.3;
						pointer-events: none !important;
					}
					label.disabled {
						opacity: 0.3;
						pointer-events: none;
						text-decoration: line-through;
					}
				}
			}
			.filter-count {
				&::before {
					content: "(";
				}
				&::after {
					content: ")";
				}
			}
		}
		&:before {
			display: none;
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: var(--overlap-height);
			border-left-style: solid;
			border-right-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			z-index: 9;
			@include whiteBlueGradient;
			--end: var(--enf-of-gradient);
		}

		&.expanded {
			filter: drop-shadow(0px 8px 20px var(--color-gray-blue-400-o-50));
			&:before {
				display: block;
			}
			h4 {
				border-bottom-style: none;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				color: var(--color-tertiary-hover);
				&::after {
					transform: rotate(180deg);
				}
			}
			form {
				display: block;
			}
		}
	}

	.slider-wrapper {
		position: relative;
		.slider-header {
			display: none;
			font-size: var(--fs-14);
			position: absolute;
			left: 0;
			top: calc(100% + var(--overlap-height) - 2px + 4.25em);
			min-width: 290px;
			width: max-content;
			background: transparent;
			z-index: 9;
			justify-content: space-between;
			padding: 0 1em;
			> span {
				background: white;
				padding: 7px 5px 5px 5px;
				min-width: 90px;
				text-align: center;
				border-radius: 8px;
				border-style: solid;
				border-color: var(--color-gray-blue-400);
				border-width: 1px;
			}
		}
		.slider-content {
			display: none;
			--width: 1.714em;
			font-size: var(--fs-14);
			position: absolute;
			left: 0;
			top: calc(100% + var(--overlap-height) - 2px);
			min-width: 290px;
			width: max-content;

			@include whiteBlueGradient;
			--end: var(--enf-of-gradient);
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			border-top-left-radius: 0;
			padding: 20px 1em 5.5em 1em;
			#slider {
				background-color: var(--color-gray-blue-400);
				border-color: inherit;
				height: 4px;
				position: relative;
				text-align: left;
				width: calc(100% - var(--width));
				margin: auto;
				z-index: 9;
				.ui-slider-range {
					height: 4px;
					position: relative;
					background-color: var(--color-tertiary-hover);
				}

				span {
					width: var(--width);
					height: var(--width);

					background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_primary.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					top: -9px;
					outline: none !important;
					display: block;
					position: absolute;
					cursor: grab;

					margin-left: calc(var(--width) / -2);
					&:focus {
						cursor: grabbing;
					}
				}
			}
		}
		&:before {
			display: none;
			content: "";
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			height: var(--overlap-height);
			border-left-style: solid;
			border-right-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			z-index: 9;
			@include whiteBlueGradient;
			--end: var(--enf-of-gradient);
		}
		&.expanded {
			h4 {
				border-bottom-style: none;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				color: var(--color-tertiary-hover);
				&::after {
					transform: rotate(180deg);
				}
			}
			filter: drop-shadow(0px 8px 20px var(--color-gray-blue-400-o-50));
			&:before {
				display: block;
			}
			.slider-header {
				display: flex;
			}
			.slider-content {
				display: block;
			}
		}
	}
}

.selected-filters-wrapper {
	@include body-max-width;

	width: 100%;

	.selected-filters-content {
		@include whiteBlueGradient;
		--angle: 135deg;
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		border-radius: 8px;
		padding: 16px 22px 16px 30px;
		display: flex;
		align-items: center;
		gap: 15px;
	}
	.selected-filters-heading {
		padding-right: 1.5em;
		font-size: var(--fs-18);
		font-weight: 700;
		display: flex;
		align-items: center;
		gap: 6px;
		&::before {
			content: "";
			width: 1em;
			height: 1em;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_filter.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
	#clear-filters {
		padding: 0;
		margin-left: auto;
		font-weight: 700;

		a {
			display: flex;
			align-items: center;
			gap: 6px;
			color: black;
			&:after {
				content: "";
				--width: 8.25px;
				display: block;
				width: var(--width);
				height: var(--width);
				background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_close_blue.svg");
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
	}
	.selected-filter-container {
		background: white;
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		border-radius: 8px;
		font-size: var(--fs-16);
		padding: var(--fs-16);
		line-height: 1;
		display: flex;
		gap: 14px;
	}
	.selected-filters-list {
		display: flex;
		gap: 14px;
		font-weight: 700;
	}
	.selected-filter-item {
		display: flex;
		align-items: center;
		cursor: pointer;
		gap: 6px;
		&:after {
			content: "";
			--width: 8.25px;
			display: block;
			width: var(--width);
			height: var(--width);
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_close_blue.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		&.price-range-item {
			cursor: default;
			&:after {
				display: none;
			}
		}
	}
}

.custom-filter-toggle-btn {
	display: none;
}

@media screen and (max-width: $tablet-max) {
	.filters-wrapper {
		padding: 25px 0 35px;
		gap: 24px;

		#filters {
			@include whiteBlueGradient;
			--angle: 135deg;
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			padding: 16px 22px 16px 30px;
			padding: 16px;
			display: flex;
			flex-direction: column;
			gap: 15px;
			width: calc(100% - var(--padding-sides) * 2);

			> * {
				display: none;
			}

			.custom-filter-toggle-btn {
				padding-right: 0;
				font-size: var(--fs-18);
				font-weight: 700;

				display: flex;
				align-items: center;
				gap: 10px;
				cursor: pointer;
				&::before {
					content: "";
					width: 1em;
					height: 1em;
					background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_filter.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
				}
				&::after {
					display: flex;
					content: "";
					margin-left: auto;
					width: 0.625em;
					height: 1em;
					background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_primary_down.svg");
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					transform: rotate(0deg);
				}
			}
			&.active {
				> * {
					display: flex;
					width: 100%;
				}
				.custom-filter-toggle-btn {
					&::after {
						transform: rotate(180deg);
					}
				}
			}
			.slider-wrapper {
				width: 100%;
				flex-direction: column;
				margin-top: 10px;
				&:before {
					display: none;
				}
				h4 {
					width: 100%;
					gap: 6px;
					flex-direction: row-reverse;
					justify-content: flex-end;
					&::after {
						margin-top: 0;
						background-size: 85%;
					}
				}
				.slider-header {
					position: relative;
					padding-top: 10px;
					inset: 0;
					width: 100%;
					border-left-style: solid;
					border-right-style: solid;
					border-width: 1px;
					border-color: var(--color-gray-blue-400);

					@include whiteBlueGradient;
					--end: var(--enf-of-gradient);
				}
				.slider-content {
					position: relative;
					inset: 0;
					padding: 20px 1em 10px 1em;
					height: 60px;
					min-width: none;
					width: 100%;
					border-top-style: none;
					border-top-right-radius: 0;
				}
			}
			#category-filter-hover {
				flex-direction: column;
				width: 100%;
				gap: 16px;
				> * {
					width: 100%;
					> * {
						width: 100%;
					}
				}
			}

			.filter-section {
				flex-direction: column;
				&:before {
					display: none;
				}

				form {
					border-top-style: none;
					position: initial;
					inset: 0;
				}
				h4 {
					flex-direction: row-reverse;
					justify-content: flex-end;
					gap: 6px;
					&::after {
						margin-top: 0;
						background-size: 85%;
					}
				}
			}
		}
	}
	.selected-filters-wrapper {
		.selected-filters-content {
			background: transparent;
			border-style: none;
			padding: 0;
			flex-wrap: wrap;
			flex-direction: row;
		}
		.selected-filters-heading {
			order: 1;
		}
		#clear-filters {
			order: 2;
		}
		.selected-filter-container {
			order: 5;
		}
		.selected-filters-heading {
			width: 50%;
			&::before {
				display: none;
			}
		}
		#clear-filters {
			margin-left: auto;
			width: 45%;
			justify-content: flex-end;
			padding-right: 10px;
			a {
				justify-content: flex-end;
			}
		}
		.selected-filter-container {
			padding: 12px;
			flex-wrap: wrap;
		}
		.selected-filters-list {
			flex-wrap: wrap;
		}
	}
}
