#category-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	--pad-bottom: 24px;
	padding-bottom: var(--pad-bottom);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--color-gray-blue-400);

	.listSorting {
		.listSorting__controls {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			gap: 50px;
			button {
				cursor: pointer;
				position: relative;
				&:hover {
					color: var(--color-primary);
				}
				&.listSorting__control--current {
					font-weight: 700;
					cursor: default;
					color: black;
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						@include tertiaryBackgroundGradient;
						bottom: calc(var(--pad-bottom) * -1 - 1px);
						left: 0;
					}
				}
			}
		}
	}
}

#listSortingControl-name {
	display: none;
}
