.type-category {
	.category-content-wrapper {
		@include body-max-width;
	}
	.category__secondDescription {
		padding-top: 75px;
		@media screen and (max-width: $tablet-max) {
			padding-top: 30px;
		}
	}
	.category-content-wrapper {
		display: flex;
		flex-direction: column;
		.filters-wrapper {
			order: 2;
		}
		.category-header {
			order: 4;
		}

		.products {
			order: 6;
		}

		.listingControls {
			order: 8;
		}

		.category__secondDescription {
			order: 10;
		}
		#filters {
			width: 100%;
		}
		.selected-filters-wrapper {
			padding: 0;
		}
	}
}
