#category-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	--pad-bottom: 24px;
	padding-bottom: var(--pad-bottom);
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: var(--color-gray-blue-400);
	font-size: var(--fs-16);

	@media screen and (max-width: $tablet-max) {
		align-items: flex-start;
	}

	.listSorting {
		.listSorting__controls {
			list-style: none;
			padding: 0;
			margin: 0;
			display: flex;
			gap: 50px;
			button {
				cursor: pointer;
				position: relative;
				&:hover {
					color: var(--color-primary);
				}
				&.listSorting__control--current {
					font-weight: 700;
					cursor: default;
					color: black;
					&:after {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						@include tertiaryBackgroundGradient;
						bottom: calc(var(--pad-bottom) * -1 - 1px);
						left: 0;
					}
				}
			}
		}
	}
	.listItemsTotal {
		color: var(--color-black-o-60);
		strong {
			font-weight: 400;
		}
	}
	@media screen and (max-width: $tablet-max) {
		padding-bottom: 0;
		border-style: none;
		font-size: var(--fs-14);
		.listSorting {
			.listSorting__controls {
				display: flex;
				flex-direction: column;
				gap: 15px;
				user-select: none;
				li {
					cursor: pointer;
				}
				li.active {
					order: 1;
					display: flex;
					flex-direction: row;
					cursor: pointer;
					pointer-events: auto;
					button {
						cursor: pointer;
					}
					&:after {
						margin-left: 6px;
						margin-top: 3px;
						content: "";
						display: block;
						width: 1em;
						height: 1em;
						background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_primary_down.svg");
						background-size: 70%;
						background-repeat: no-repeat;
						background-position: center;
						position: relative;
					}
				}
				li:not(.active) {
					display: none;
					order: 99;
				}
				&.active {
					li {
						display: flex;
					}
					li.active {
						&:after {
							transform: rotate(180deg);
						}
					}
				}
				button.listSorting__control--current {
					&::after {
						display: none;
					}
				}
			}
		}
	}
}

#listSortingControl-name {
	display: none;
}
.listSorting {
	li:has(> button#listSortingControl-name) {
		display: none !important;
	}
}
