.type-category {
	.category-top > * {
		@include body-max-width;
	}
	.category-top {
		@include whiteBlueGradient;
		--angle: 135deg;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-color: var(--color-gray-blue-400);
		h1 {
			font-size: var(--fs-32);
			font-weight: 700;
			line-height: 1.4;
			color: black;
			padding-top: 0.625em;
			padding-bottom: 0.8125em;
			margin-top: 0;
			margin-bottom: 0;
		}
		.category-perex {
			font-size: var(--fs-16);
			line-height: 1.6;
			color: var(--color-black-300);
			padding-bottom: 1.25em;
			p {
				line-height: 1.6;
			}
			a {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		.subcategories {
			list-style: none;
			padding-top: 0;
			padding-bottom: 38px;
			margin-top: 0;
			margin-bottom: 0;
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			gap: 26px;
			li {
				a {
					@include menuItemSetup;
					height: 100%;
					@media screen and (max-width: $small-tablet-max) {
						gap: 20px;
						grid-template-columns: 40px 1fr;
						padding: 15px 8px 15px 10px;
						font-size: var(--fs-14);
					}
					@media screen and (max-width: $mobile-max) {
						gap: 10px;
						grid-template-columns: 34px 1fr;
						padding: 15px 6px 15px 8px;
						font-size: var(--fs-14);
					}
				}
			}

			@media screen and (max-width: $desktop-medium-max) {
				grid-template-columns: repeat(5, 1fr);
			}
			@media screen and (max-width: $desktop-small-max) {
				grid-template-columns: repeat(4, 1fr);
				gap: 20px;
			}
			@media screen and (max-width: $tablet-max) {
				grid-template-columns: repeat(3, 1fr);
				gap: 10px;
			}
			@media screen and (max-width: $mobile-max) {
				grid-template-columns: repeat(2, 1fr);
				gap: 10px;
			}
		}
	}
}

.category-perex {
	&.category-perex-has-shortened {
		> * {
			display: none;
		}
		.category-perex-shortened {
			display: block;
		}
		&.active {
			.category-perex-shortened {
				display: none;
			}
			> * {
				display: block;
			}
		}
	}
	.read-more-perex {
		cursor: pointer;
		color: var(--color-primary);
		padding: 0 0.35em;
		text-decoration: underline;
	}
}
