.contact-page {
	.contact-page-blocks-wrapper {
	}
	.contact-page-blocks {
		display: grid;
		grid-template-columns: 2fr 2fr 1fr 1fr;
		--gap: 20px;
		gap: var(--gap);
	}

	.contact-page-block {
		display: flex;
		align-items: center;
		gap: 24px;

		p {
			max-width: 300px;
			padding: 0;
		}
		a {
			color: var(--color-tertiary-hover);
			&:hover {
				color: var(--color-tertiary-hover);
				text-decoration: underline;
			}
		}
		img {
			width: 30px;
			height: auto;
		}
	}
	.contact-page-block.large {
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		border-radius: 8px;
		padding: 52px 32px 52px 52px;
		@include whiteBlueGradient;

		.contact-customer-support-icon {
			padding: 24px;
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
		}
		a {
			font-size: var(--fs-22);
		}
		p {
			font-size: var(--fs-14);
			color: var(--color-black-o-60);
		}
	}
	.contact-page-block.small {
		justify-content: center;
		padding: 10px;
		gap: 14px;
		img {
			width: 24px;
			height: auto;
		}
		a {
			font-size: var(--fs-18);
		}
	}
	.contact-customer-support-text {
		display: flex;
		flex-direction: column;
		gap: 6px;
	}
}
