#dkLabFavPageWrapper {
	.product {
		opacity: 1 !important;
	}
	.products-block {
		padding: 40px 0;
	}
	.p-tools {
		display: flex;
		justify-content: space-between;
		flex-direction: row-reverse;
		gap: 10px;
		.quantity {
			@include quantity-setup;

			height: 100%;
			margin-bottom: 0.5em;
			@media screen and (max-width: $mobile-max) {
				display: none !important;
			}
		}
		.btn-cart {
			flex-grow: 1;
			@include add-to-cart-button;
		}
	}
	.dkLabFavDeleteBtn {
		position: absolute;
		right: 0;
		top: 0;
		&:after {
			content: "";
			margin-left: 4px;
			display: block;
			width: 1em;
			height: 1em;
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_close_black.svg");
			background-size: 50%;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	#dkLabFavPageBtnShareListUnregistered {
		@include primaryButton;
		margin-top: 20px;
		margin-left: auto;
	}
	#dkLabFavouritePageMenu {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		gap: 20px;
		flex-direction: column;
		align-items: flex-start;
		> li {
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			padding: 10px 20px;
		}
	}
}
