.in-index {
	.products-slider {
		@include body-max-width-padding-in-width;
		@include customSlider;
	}
	.products-block {
		width: 100%;
		padding-bottom: 64px;

		@media screen and (max-width: $tablet-max) {
			padding-bottom: 32px;
		}
	}
}
