@media screen and (min-width: $tablet-medium-min) {
	.in-index {
		#carousel {
			position: relative;
			min-height: 600px;
			display: flex;
			.carousel-inner {
				display: grid;
			}
			.item.previous {
				display: block;
				pointer-events: none;
				animation: fadeOut 0.3s ease-in-out forwards;

				@keyframes fadeOut {
					from {
						opacity: 1;
						z-index: 7;
					}
					to {
						opacity: 0;
						z-index: 0;
					}
				}
				* {
					pointer-events: none;
				}
			}

			.carousel-thumbnails-wrapper {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				position: absolute;
				height: 100%;
				top: 0;
				right: 39px;
				gap: 14px;
				z-index: 8;
				max-width: 40%;
				width: 360px;
				.item-thumbnail {
					width: 100%;
					display: flex;
					padding: 25px 18px;
					background: white;
					border-radius: 8px;
					position: relative;
					cursor: pointer;
					outline-style: solid;
					outline-color: transparent;
					outline-width: 1px;
					align-items: center;
					gap: 20px;

					img {
						width: 72px;
					}

					&:hover,
					&:focus-within {
						outline-color: var(--color-primary);
					}

					&.active {
						border-radius: 0 8px 8px 0;
						background: linear-gradient(135deg, var(--color-primary-200) 0%, white 100%);
						&::before {
							content: "";
							position: absolute;
							left: -6px;
							top: 0;
							width: 6px;
							height: 100%;
							background: var(--color-primary);
							border-radius: 8px 0 0 8px;
						}
						&::after {
							content: "";
							position: absolute;
							left: -10px;
							top: 50%;
							transform: translateY(-50%) rotate(45deg);
							width: 8px;
							height: 8px;
							background: var(--color-primary);
						}
					}
				}
			}
			.item {
				display: none;
			}
			.item.active {
				display: block;
				.extended-banner-texts {
					z-index: 3;
				}
			}
			.item {
				grid-column: 1;
				grid-row: 1;
			}
			.item {
				border-radius: 8px;
				overflow: hidden;
				height: 100%;
				position: relative;
				> span {
					display: block;
					height: 100%;
					> a {
						display: block;
						height: 100%;
						overflow: hidden;
						img {
							height: 100%;
							object-fit: cover;
							transition: transform 0.3s ease-in-out;
						}
						&::before {
							content: "";
							width: 100%;
							height: 100%;
							background: hsla(231, 67%, 12%, 0.4);
							background: linear-gradient(90deg, hsla(231, 67%, 12%, 0.6) 0%, hsla(231, 67%, 12%, 0) 55%);
							position: absolute;
							left: 0;
							top: 0;
							z-index: 1;
						}
					}
				}
				.small {
					display: none;
				}
				.extended-banner-texts {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					flex-direction: column;
					max-width: 30em;
					margin-left: 76px;
					z-index: 2;
				}
				.extended-banner-title {
					font-size: var(--fs-32);
					font-weight: 700;
					color: white;
					line-height: 1.25;
				}
				.extended-banner-text {
					font-size: var(--fs-20);
					color: white;
					line-height: 1.4;
					padding-top: 0.65em;
					padding-bottom: 1.25em;
				}
				.extended-banner-link {
					@include primaryButton;
				}
				.item-thumbnail {
					display: none;
				}
				&:hover {
					img {
						transform: scale(1.025);
					}
				}
			}
		}
	}
}

@media screen and (max-width: $small-tablet-max) {
	.in-index {
		.before-carousel {
			padding-top: 0;
		}
		.banners-row {
			padding: 0;
		}
		#carousel {
			position: relative;
			.carousel-inner {
				display: flex;
				overflow-x: auto;
				scroll-snap-type: x mandatory;
				> * {
					flex: 0 0 100%;
					scroll-snap-align: start;
				}
				&::-webkit-scrollbar {
					display: none;
				}
			}
			.large {
				display: none;
			}
			.small {
				display: block;
				position: relative;
				img {
					width: 100%;
				}
			}

			.extended-banner-texts {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
				max-width: 100%;
				padding-left: 20px;
				padding-right: 4.5em;
				text-wrap: pretty;
			}
			.item:not(:first-child) {
				.extended-banner-texts {
					padding-left: 4.5em;
				}
			}
			.extended-banner-title {
				font-size: var(--fs-24);
				font-weight: 700;
				color: white;
				line-height: 1.45;
			}
			.extended-banner-text {
				font-size: var(--fs-16);
				color: white;
				line-height: 1.4;
				padding-top: 0.65em;
				padding-bottom: 1.45em;
			}

			.extended-banner-link {
				@include primaryButton;
				font-size: var(--fs-16);
				padding: 1em 2em;
			}
			.carousel-thumbnails-wrapper {
				display: none;
			}
			.carousel-control {
				@include carouselControl;
				max-height: none !important;
				left: auto !important;
				right: 10px !important;
				&::after {
					transform: none !important;
				}
				&.right {
					transform: translate(0%, -50%) scale(1) !important;
				}
				&.left {
					left: 10px !important;
					right: auto !important;
					transform: translate(0%, -50%) scale(1) !important;
				}
				&.hidden {
					display: none !important;
				}
			}
		}
	}
}

.in-index {
	.footer-banners {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
		position: relative;
		padding-bottom: 80px;
		padding-top: 80px;
		border-top-style: solid;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		@media screen and (max-width: $tablet-max) {
			grid-template-columns: 1fr;
			padding-bottom: 40px;
			padding-top: 30px;
		}
		.footer-banner {
			min-height: 500px;
			width: calc(100% - var(--padding-sides));
			max-width: calc(910px);
			overflow: hidden;
			border-radius: 8px;
			height: 100%;
			position: relative;

			@media screen and (max-width: $tablet-max) {
				max-width: 100%;
				margin: auto !important;
				width: 100%;
				padding: 0 var(--padding-sides);
			}
			&:first-child {
				margin-left: auto;
			}
			&:last-child {
				margin-right: auto;
			}
			> span {
				display: block;
				height: 100%;
				> a {
					display: block;
					height: 100%;
					overflow: hidden;
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
						transition: transform 0.3s ease-in-out;
						border-radius: 8px;
					}
				}
			}
			.small {
				display: none;
			}
			@media screen and (max-width: $mobile-max) {
				.large {
					display: none;
				}
				.small {
					display: block;
				}
			}
			.extended-banner-texts {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
				max-width: 30em;
				margin-left: 76px;
			}
			.extended-banner-title {
				font-size: var(--fs-32);
				font-weight: 700;
				color: white;
				line-height: 1.25;
			}
			.extended-banner-text {
				font-size: var(--fs-20);
				color: white;
				line-height: 1.4;
				padding-top: 0.65em;
				padding-bottom: 1.25em;
			}
			.extended-banner-link {
				@include primaryButton;
			}
			.item-thumbnail {
				display: none;
			}
			&:hover {
				img {
					transform: scale(1.025);
				}
			}
			@media screen and (max-width: $small-tablet-max) {
				.extended-banner-texts {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					display: flex;
					align-items: flex-start;
					justify-content: center;
					flex-direction: column;
					max-width: 100%;
					padding-left: 20px;
					padding-right: 5em;
					text-wrap: pretty;
					margin: 0 var(--padding-sides);
				}
				.extended-banner-title {
					font-size: var(--fs-24);
					font-weight: 700;
					color: white;
					line-height: 1.45;
				}
				.extended-banner-text {
					font-size: var(--fs-16);
					color: white;
					line-height: 1.4;
					padding-top: 0.65em;
					padding-bottom: 1.45em;
				}
				.extended-banner-link {
					@include primaryButton;
					font-size: var(--fs-16);
					padding: 1em 2em;
				}
			}
		}
	}
}

/* @media screen and (max-width: $mobile-max) {
	.in-index {
		.footer-banners {
			display: flex;
			flex-direction: column;
			gap: 10px;

			> * {
				flex: 0 0 100%;
			}
			.large {
				display: none;
			}
			.small {
				display: block;
				position: relative;
				img {
					width: 100%;
				}
			}
			.extended-banner-texts {
				position: absolute;
				left: 0;
				top: 0;
				height: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				flex-direction: column;
				max-width: 100%;
				padding-left: 20px;
				padding-right: 5em;
				text-wrap: pretty;
			}
			.extended-banner-title {
				font-size: var(--fs-24);
				font-weight: 700;
				color: white;
				line-height: 1.45;
			}
			.extended-banner-text {
				font-size: var(--fs-16);
				color: white;
				line-height: 1.4;
				padding-top: 0.65em;
				padding-bottom: 1.45em;
			}
			.extended-banner-link {
				@include primaryButton;
				font-size: var(--fs-16);
				padding: 1em 2em;
			}
			.carousel-thumbnails-wrapper {
				display: none;
			}
			.carousel-control {
				display: none;
			}
		}
	}
} */

.before-carousel {
	padding-top: 40px;
	padding-bottom: 42px;
	--angle: 135deg;
	@include whiteBlueGradient;

	border-bottom-style: solid;
	border-width: 1px;
	border-color: var(--color-gray-blue-400);
}
