.in-index {
	.products-slider {
		@include body-max-width;
		@include customSlider;
		padding: 0;
	}
	.products-block {
		@include body-max-width;
		padding: 0 0 64px 0;
		margin: 0 var(--padding-sides);
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
}
