.in-index {
	.products-slider {
		@include body-max-width;
		@include customSlider;
		padding: 0;
		.carousel-control {
			&.left {
			}
			&.right {
				/* right: calc(var(--padding-sides) / 2); */
			}
		}
	}
	.products-block {
		@include body-max-width;
		padding: 0 0 64px 0;
		margin: 0 var(--padding-sides);
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
}
