.in-index .overall-wrapper > .content-wrapper > .content-wrapper-in {
	max-width: none;
	padding: 0;
	margin: 0 auto;
}
.banners-row {
	@include body-max-width;
}

.in-index {
	.homepage-group-title {
		font-size: var(--fs-28);
		line-height: 1.4;
		font-weight: 700;
		text-align: center;
		padding-top: 2.2857em;
		padding-bottom: 1em;
		@media screen and (max-width: $tablet-max) {
			font-size: var(--fs-24);
			padding-top: 1.25em;
			padding-bottom: 0.7083em;
		}
	}
}
