.ordering-process:not(.id--15) {
	#header {
		#navigation,
		#dkLabFavHeaderWrapper,
		#dkLabComparerHeaderWrappper {
			display: none;
		}
		> .container {
			padding-bottom: 27px;
			@media screen and (max-width: $tablet-max) {
				padding-bottom: 15px;
			}
		}
	}
	.cart-inner {
		@include body-max-width-thinner();
		padding-bottom: 50px;
		@media screen and (max-width: $small-tablet-max) {
			padding-bottom: 30px;
		}
	}

	.free-gifts-wrapper {
		@include body-max-width-thinner();
	}
}

.ordering-process.id--15 {
	.navigation-buttons {
		display: none !important;
	}
}

.ordering-process {
	padding-bottom: 20px;
}
