.ordering-process:not(.id--15) {
	#header {
		#navigation,
		#dkLabFavHeaderWrapper,
		#dkLabComparerHeaderWrappper {
			display: none;
		}
		> .container {
			padding-bottom: 27px;
		}
	}
	.cart-inner {
		@include body-max-width-thinner();
		padding-bottom: 50px;
	}

	.free-gifts-wrapper {
		@include body-max-width-thinner();
	}
}

.ordering-process.id--15 {
	.navigation-buttons {
		display: none !important;
	}
}
