.ordering-process {
	--width-of-right-column: 400px;
	--gap: 75px;
	.summary-wrapper,
	.cart-summary-wrapper {
		@include whiteBlueGradient;
		--angle: 45deg;
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		border-radius: 8px;
		padding: 27px;
	}
	.price-wrapper {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		padding-bottom: 30px;
		.price {
			text-align: right;
		}
		.price-primary {
			font-size: var(--fs-18);
			padding-bottom: 0.25em;
		}
		.price-secondary {
			font-size: var(--fs-13);
			font-weight: 400;
			color: var(--color-black-o-80);
		}
	}

	.next-step {
		display: flex;
		flex-direction: column;
		gap: 26px;
		align-items: center;
		> * {
			order: 50;
		}
		#continue-order-button,
		.next-step-forward,
		.next-step-finish {
			@include add-to-cart-button;
			width: 100%;
			padding-left: 0;
			padding-right: 0;
			order: 1;
			gap: 5px;
			flex-wrap: wrap;
		}
		.next-step-back {
			font-weight: 700;
			color: var(--color-tertiary-hover);
			cursor: pointer;
			display: flex;
			text-transform: uppercase;
			font-size: var(--fs-14);
			order: 99;

			&:before {
				content: "";
				width: 1.5em;
				height: 1.5em;
				background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_back_cart.svg");
				background-size: contain;
				background-repeat: no-repeat;
				margin-right: 6px;
				transition: transform 0.2s ease;
			}
			&:hover {
				text-decoration: underline;
				color: var(--color-primary);
				&:before {
					transform: scale(1.25);
				}
			}
		}
	}

	.cart-item {
		display: grid;
		grid-template-columns: 60px 1fr 3em 5em;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		padding: 15px 5px;
		align-items: center;
		&:first-child {
			border-top-style: solid;
		}
		.image-block {
			grid-row: 1;
			grid-column: 1;
			padding: 10px;
		}
		.cart-item-name {
			grid-row: 1;
			grid-column: 2;
			padding-right: 3em;
			max-width: 500px;
			a {
				font-size: var(--fs-13);
				color: black;
				line-height: 1.2;
				&:hover {
					text-decoration: underline;
					color: var(--color-primary);
				}
			}
		}
		.cart-item-amount {
			grid-row: 1;
			grid-column: 3;
			text-align: right;
			font-size: var(--fs-13);
		}
		.cart-item-price {
			grid-row: 1;
			grid-column: 4;
			text-align: right;
			font-size: var(--fs-13);
			font-weight: 700;
		}
	}

	#checkoutSidebar {
		position: initial !important;
		.cart-content {
			display: grid;
			align-items: start;
			grid-template-columns: 1fr var(--width-of-right-column);
			padding-top: 40px;
			gap: var(--gap);
			@media screen and (max-width: $small-tablet-max) {
				display: flex;
				flex-direction: column;
				--gap: 20px;
			}
		}
		h4 {
			font-size: var(--fs-18);
			padding-bottom: var(--fs-16);
			line-height: 1;
		}

		.cart-summary-wrapper {
			font-size: var(--fs-13);

			@media screen and (max-width: $small-tablet-max) {
				width: 100%;
			}
			.recapitulation-single {
				position: relative;
				padding-right: 6em;
				padding-bottom: 0.725em;
				strong {
					font-weight: 400;
				}
				strong span {
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			.order-summary-item.helper {
				display: flex;
				justify-content: space-between;
				padding-bottom: 0.725em;

				strong {
					font-weight: 400;
				}
			}
			.order-summary-item.price {
				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				padding-top: 10px;
				margin-top: 2px;
			}
		}
	}
}
