.ordering-process {
	.order-delivery-payment-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 22px;
	}

	.co-delivery-method,
	.co-payment-method {
		h4 {
			font-size: var(--fs-18);
			padding-bottom: var(--fs-16);
			line-height: 1;
		}
		.shipping-billing-table {
			.radio-wrapper {
				display: grid;
				grid-template-columns: 20px 1fr;
				gap: 11px;
				padding: 14px 18px 14px 15px;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-bottom: 1px solid var(--color-gray-blue-400);
				border-top-style: none;
				align-items: center;
				cursor: pointer;
				* {
					cursor: pointer;
				}
				&:last-child {
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
				&:first-child {
					border-top-style: solid;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
				}
				input {
					margin: 0;
				}
				label {
					display: grid;
					grid-template-columns: 80px 1fr 5em;
					align-items: center;
					gap: 13px;
				}
				.payment-logo {
					grid-column: 1;
					grid-row: 1;
				}
				.payment-info {
					font-size: var(--fs-14);
					grid-column: 2;
					grid-row: 1;
					b {
						font-weight: 400;
					}
					.sublabel {
						display: block;
						font-size: var(--fs-13);
						a {
							text-decoration: underline;
						}
					}
				}
				.payment-shipping-price {
					font-size: var(--fs-14);
					text-align: right;
					&.for-free {
						color: var(--color-green-400);
					}
				}
				&.active,
				&:hover {
					outline: 1px solid var(--color-tertiary-hover);
				}
				&.active {
					@include whiteBlueGradient;
					--angle: 135deg;
					--end: 200%;
				}
				.show-tooltip {
					background: var(--color-primary-200);
					color: var(--color-primary);
					display: inline-block;
					width: 1em;
					height: 1em;
					text-align: center;
					border-radius: 50%;
					cursor: help;
				}
				.not-possible-info {
					display: none;
				}
				&.inactive-child {
					opacity: 0.4;
					pointer-events: none;
					.not-possible-info {
						display: block;
						color: var(--color-red-400);
					}
				}
			}
		}
	}

	#checkoutSidebar {
		position: initial !important;
		.cart-content {
			display: grid;
			grid-template-columns: 1fr 400px;
			padding-top: 40px;
			gap: 75px;
		}
		h4 {
			font-size: var(--fs-18);
			padding-bottom: var(--fs-16);
			line-height: 1;
		}
		.cart-item {
			display: grid;
			grid-template-columns: 80px 1fr 3em 5em;
			border-bottom-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			padding: 15px 5px;
			align-items: center;
			&:first-child {
				border-top-style: solid;
			}
			.cart-item-name {
				grid-row: 1;
				grid-column: 2;
				padding-right: 3em;
				max-width: 500px;
				a {
					font-size: var(--fs-13);
					color: black;
					line-height: 1.2;
					&:hover {
						text-decoration: underline;
						color: var(--color-primary);
					}
				}
			}
			.cart-item-amount {
				grid-row: 1;
				grid-column: 3;
				text-align: right;
				font-size: var(--fs-13);
			}
			.cart-item-price {
				grid-row: 1;
				grid-column: 4;
				text-align: right;
				font-size: var(--fs-13);
				font-weight: 700;
			}
		}

		.cart-summary-wrapper {
			@include whiteBlueGradient;
			--angle: 45deg;
			border-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 8px;
			padding: 27px;
			font-size: var(--fs-13);
			.recapitulation-shipping-billing {
				position: relative;
				padding-right: 6em;
				padding-bottom: 0.725em;
				strong {
					font-weight: 400;
				}
				strong span {
					position: absolute;
					right: 0;
					top: 0;
				}
			}

			.order-summary-item.helper {
				display: flex;
				justify-content: space-between;
				padding-bottom: 0.725em;

				strong {
					font-weight: 400;
				}
			}
			.order-summary-item.price {
				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				padding-top: 10px;
				margin-top: 2px;
			}
		}
	}
}

/*Hiding thing*/
.ordering-process {
	/* 	#checkoutSidebar, */
	.checkout-box {
		display: none;
	}
}
