.ordering-process {
	.order-delivery-payment-form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 22px;

		@media screen and (max-width: $small-tablet-max) {
			grid-template-columns: 1fr;
			gap: 30px;
		}
	}

	.co-delivery-method,
	.co-payment-method {
		h4 {
			font-size: var(--fs-18);
			padding-bottom: var(--fs-16);
			line-height: 1;
		}
		.shipping-billing-table {
			.radio-wrapper {
				display: grid;
				grid-template-columns: 20px 1fr;
				gap: 11px;
				padding: 14px 18px 14px 15px;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-bottom: 1px solid var(--color-gray-blue-400);
				border-top-style: none;
				align-items: center;
				cursor: pointer;

				@media screen and (max-width: $mobile-max) {
					align-items: start;
				}

				* {
					cursor: pointer;
				}
				&:last-child {
					border-bottom-left-radius: 8px;
					border-bottom-right-radius: 8px;
				}
				&:first-child {
					border-top-style: solid;
					border-top-left-radius: 8px;
					border-top-right-radius: 8px;
				}
				input {
					margin: 0;
					@media screen and (max-width: $mobile-max) {
						margin-top: 5px;
					}
				}
				label {
					display: grid;
					grid-template-columns: 80px 1fr 5em;
					align-items: center;
					gap: 13px;
					@media screen and (max-width: $mobile-max) {
						grid-template-columns: 1fr 1fr;
						gap: 5px;
						position: relative;
						align-items: start;
					}
				}
				.payment-logo {
					grid-column: 1;
					grid-row: 1;
					@media screen and (max-width: $mobile-max) {
						width: 82px;
					}
				}
				.payment-info {
					font-size: var(--fs-14);
					grid-column: 2;
					grid-row: 1;
					@media screen and (max-width: $mobile-max) {
						grid-column: 1/-1;
						grid-row: 2;
					}
					b {
						font-weight: 400;
					}
					.sublabel {
						display: block;
						font-size: var(--fs-13);
						a {
							text-decoration: underline;
						}
					}
				}
				.payment-shipping-price {
					font-size: var(--fs-14);
					text-align: right;
					&.for-free {
						color: var(--color-green-400);
					}
					@media screen and (max-width: $mobile-max) {
						grid-column: 2;
						grid-row: 1;
					}
				}
				&.active,
				&:hover {
					outline: 1px solid var(--color-tertiary-hover);
				}
				&.active {
					@include whiteBlueGradient;
					--angle: 135deg;
					--end: 200%;
					.shipping-billing-name {
						font-weight: 700 !important;
					}
				}
				.show-tooltip {
					background: var(--color-primary-200);
					color: var(--color-primary);
					display: inline-block;
					width: 1em;
					height: 1em;
					text-align: center;
					border-radius: 50%;
					cursor: help;
				}
				.not-possible-info {
					display: none;
				}
				&.inactive-child {
					opacity: 0.4;
					pointer-events: none;
					.not-possible-info {
						display: block;
						color: var(--color-red-400);
					}
				}
			}
		}
	}
}

/*Hiding thing*/
.ordering-process {
	/* 	#checkoutSidebar, */
	.checkout-box {
		display: none;
	}
}
