.type-product {
	.products-related-header {
		border-top-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		padding-top: 62px;
		font-size: var(--fs-28);
		padding-bottom: 1em;
		text-align: center;
	}
	.products-slider {
		@include body-max-width-padding-in-width;
		@include customSlider;
	}
	.products-block {
		width: 100%;
		padding-bottom: 64px;
	}
	.browse-p {
		display: none;
	}
}
