.type-product {
	.products-related-header {
		border-top-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		padding-top: 62px;
		font-size: var(--fs-28);
		padding-bottom: 1em;
		text-align: center;
	}
	.products-slider {
		@include body-max-width;
		@include customSlider;
		padding: 0;
	}
	.products-block {
		@include body-max-width;
		padding: 0 0 64px 0;
		margin: 0 var(--padding-sides);
		flex-wrap: nowrap;
		overflow-x: scroll;
	}
	.browse-p {
		display: none;
	}
}
