.product-top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	> .col-xs-12:first-child {
		display: none;
	}
}

/*info wrapper*/
.product-top {
	.p-info-wrapper {
		@include whiteBlueGradient;
		--angle: 135deg;
		border-left-style: solid;
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		border-bottom-left-radius: 8px;
		padding: 20px 0 57px 0;
		display: flex;
		flex-direction: column;

		> * {
			max-width: 910px;

			padding-left: calc(var(--padding-sides) + 7px) !important;
			padding-right: var(--padding-sides) !important;
		}

		.detail-parameters,
		.p-final-price-wrapper {
			display: none; // moznosti doruceni
		}

		> * {
			order: 99;
		}
		.breadcrumbs-wrapper {
			order: 1;
		}
		h1 {
			order: 2;
		}
		.review-and-code-wrapper {
			order: 3;
		}
		.p-short-description {
			order: 4;
		}
		.detail-parameters-top {
			order: 5;
		}
		.availability-and-delivery-wrapper {
			order: 6;
		}
		.price-and-button-wrapper-wrapper {
			order: 7;
		}
		.social-buttons-wrapper {
			order: 8;
		}
	}
	.p-info-wrapper {
		.breadcrumbs-wrapper {
			padding-top: 0 !important;
			margin: 0 !important;
		}
		h1 {
			font-size: var(--fs-32);
			line-height: 1.4;
			padding-top: 56px;
			padding-bottom: 0.375em;
		}
		.review-and-code-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.stars-wrapper {
				display: flex;
				align-items: center;
				gap: 10px;
				pointer-events: auto;
				cursor: pointer;
				.star-list {
					order: 1;
					@include star-list;
					gap: 8px;
					padding-right: 4px;
					position: relative;
					top: -2px;
					.star {
						pointer-events: none;
						width: 21px;
						height: 21px;
					}
				}
				.stars-score {
					order: 2;
					color: var(--color-gray-600);
					font-size: var(--fs-11);
					line-height: 1;
					position: relative;
					.stars-score-text {
						font-weight: 700;
						color: black;
						font-size: var(--fs-16);
					}
				}
				.stars-label {
					order: 3;
					padding-left: 2px;
					font-size: var(--fs-13);
					text-decoration: underline;
				}
			}
			.p-code {
				font-size: var(--fs-13);
				color: var(--color-gray-600);
			}
		}
		.p-short-description {
			padding: 28px 0 32px 0;
			font-size: var(--fs-22);
			ul {
				font-size: var(--fs-16);
				@include list-reset;
				padding: 0;
				li {
					padding: 0.375em 0 0.375em 1.25em;
					&:before {
						top: 0.375em; // height of hexagon
						transform: translateY(75%);
					}
				}
				p {
					padding: 0 !important;
					margin: 0 !important;
				}
			}
		}
		.detail-parameters-top {
			display: flex;
			flex-wrap: wrap;
			gap: 14px;
			.parameter-wrapper {
				font-size: var(--fs-14);
				flex-basis: 11em;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-400);
				border-radius: 8px;
				background: white;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 6px;
				padding: 5px 10px;
				min-height: 5.7142em;
			}
			.parameter-value {
				font-weight: 700;
				font-size: var(--fs-18);

				@include textTertiaryGradient;
			}
		}
		.availability-and-delivery-wrapper {
			padding-top: 52px;
			padding-bottom: 15px;
			font-size: var(--fs-16);
			display: flex;
			align-items: center;
			gap: 10px;
			.availability-value {
				display: flex;
				align-items: center;
				gap: 0.3em;
				padding: 5px 10px 4px;
				border-radius: 8px;
				@include redGradient;
				--angle: 270deg;
				&:has(.availability-amount) {
					@include greenGradient;
					--angle: 270deg;
					.availability-label {
						color: var(--color-green-500);
					}
				}
				.availability-label {
					font-weight: 700;
				}
				.availability-amount {
					color: var(--color-green-500);
				}
			}
			.delivery-time {
				color: var(--color-tertiary-hover);
				text-decoration: underline;
				font-size: var(--fs-13);
				cursor: help;
			}
		}
		.price-and-button-wrapper-wrapper {
			.price-and-button-wrapper {
				width: 100%;
				background: white;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-radius: 8px;
				padding: 26px 29px !important;

				display: grid;
				grid-template-columns: auto auto auto;
				grid-template-rows: 1fr 1fr;
				align-items: center;
				justify-items: start;

				.price-standard {
					grid-column: 1;
					grid-row: 1;
					font-size: var(--fs-16);
					text-decoration: line-through;
					color: var(--color-red-400);
				}
				.price-final {
					grid-column: 1;
					grid-row: 2;
					font-size: var(--fs-24);
					font-weight: 700;
					display: flex;
					align-items: flex-end;
					line-height: 1;
					gap: 7px;
					.with-vat-info {
						font-size: var(--fs-13);
						color: var(--color-black-o-60);
						font-weight: 400;
						padding-bottom: 2px;
					}

					.product-price-per-unit {
						display: flex;
						font-size: var(--fs-13);
						color: var(--color-black-o-80);
						align-items: center;
						border-style: solid;
						border-width: 1px;
						border-color: var(--color-gray-blue-400);
						border-radius: 8px;
						font-weight: 400;
						padding: 5px 10px;
						@include whiteBlueGradient;
						margin-left: 7px;
					}
				}
				&.no-standard-price .price-final {
					grid-row: 1 / -1;
				}

				.quantity {
					grid-column: 3;
					grid-row: 1 / -1;
					@include quantity-setup;
					margin-left: auto;
					height: 100%;
					margin-right: 9px;
				}
				.add-to-cart-button {
					font-size: var(--fs-18);
					grid-column: 4;
					grid-row: 1 / -1;
					@include add-to-cart-button;
					width: calc(100% - 1em);
					height: 100%;
					padding-bottom: 0;
					padding-top: 0;
					padding-left: 0.5em;
					padding-right: 0.5em;
					min-height: 3.75em;
				}
			}
		}

		.social-buttons-wrapper {
			padding-top: 38px;
			display: flex;
			gap: 48px;
			--icon-width: 20px;
			.dkLabComparerDiv {
				order: 1;
				display: flex;
				gap: 4px;
				align-items: center;
				&:before {
					content: "";
					display: block;
					width: var(--icon-width);
					height: var(--icon-width);
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_social_wrapper_compare.svg");
					background-size: contain;
					background-repeat: no-repeat;
				}
			}
			.link-icons {
				order: 2;
				display: flex;
				flex-direction: row-reverse;
				gap: 48px;
				a {
					display: flex;
					gap: 4px;
					align-items: center;
				}
				.watchdog {
					&:before {
						content: "";
						display: block;
						width: var(--icon-width);
						height: var(--icon-width);
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_social_wrapper_watchdog.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				.chat {
					&:before {
						content: "";
						display: block;
						width: var(--icon-width);
						height: var(--icon-width);
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_social_wrapper_question.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
				.print {
					&:before {
						content: "";
						display: block;
						width: var(--icon-width);
						height: var(--icon-width);
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_social_wrapper_print.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
			p[data-testid="productCardDescr"] {
				order: 3;
				padding: 0;
				a {
					text-decoration: underline;
					display: flex;
					gap: 4px;
					align-items: center;
					&:before {
						content: "";
						display: block;
						width: var(--icon-width);
						height: var(--icon-width);
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_social_wrapper_readmore.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}
			}
			span,
			a {
				color: var(--color-tertiary-hover);
				font-size: var(--fs-14);
				font-weight: 400;
				cursor: pointer;
				&:hover {
					color: var(--color-primary);
				}
			}
			span {
				text-decoration: underline;
			}
			.share {
				display: none !important;
			}
		}
	}
}

/*image wrapper*/
.product-top {
	.p-image-wrapper {
		padding-top: 30px;
		padding-right: 56px;
		display: flex;
		flex-direction: column;
		position: relative;
		padding-left: var(--padding-sides);
		max-width: 960px;
		margin-left: auto;

		.p-image {
			position: relative;
			padding: 3% 15%;

			.p-main-image {
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;

				&:before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/product_background.svg");
					pointer-events: none;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					z-index: -1;
				}
				&.no-first-image {
					&:before {
						display: none;
					}
				}
				img {
					position: relative;
					mix-blend-mode: multiply;
					padding: 4%;
					border-radius: 8px;
				}
			}
		}
		.p-thumbnails-wrapper {
			margin-top: 30px;
			.p-thumbnails-inner {
				@include customSlider;
				--gap: 18px;
				> div {
					--gap: 18px;
					gap: var(--gap);
				}
				.p-thumbnail {
					position: relative;
					border-style: solid;
					border-width: 1px;
					border-color: var(--color-gray-blue-400);
					border-radius: 8px;
					min-width: 130px;
					max-height: 90px;
					display: flex;
					align-items: center;
					justify-content: center;
					&::before {
						content: "";
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						@include whiteBlueGradient;
						z-index: -1;
					}
					img {
						position: relative;
						mix-blend-mode: multiply;
						height: auto;
						max-height: 100%;
						width: auto;
					}
				}
				.cbox-gal {
					display: none;
				}
			}
		}
		.dkLabFavouriteDiv {
			--element-width: 38px;
			--bg-size: 75%;
			position: absolute;
			bottom: 5%;
			right: 12px;

			.dkLabFavDetailSpan {
				display: block;
				width: var(--element-width);
				height: var(--element-width);
				cursor: pointer;
				background-size: var(--bg-size);
				background-repeat: no-repeat;
				background-position: center;
				background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_favorites_empty.svg");
				transition: transform 0.2s ease-out;
				&.dkLabFavouriteDetailLinkRemove {
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_favorites_full.svg");
				}
				&:hover {
					transform: scale(1.2);
				}
				span {
					display: none;
				}
			}
		}
		.flags-default {
			@include flags-default;
			top: 0;
			left: 0;
			.flag {
				font-size: var(--fs-13);
			}
		}
		.flags-extra {
			@include flags-extra;
			top: 0;
			right: 0;
			.flag-discount {
				font-size: var(--fs-24);
			}
		}
		.product-image-support-element {
			margin-top: 52px;
			text-align: center;
			font-size: var(--fs-16);

			.support-text {
				padding-left: 32px;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					width: 22px;
					height: 22px;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_heart_red.svg");
					background-size: contain;
					background-repeat: no-repeat;
					transform: translateY(-50%);
				}
			}
			.support-link {
				color: var(--color-tertiary-hover);
				font-size: var(--fs-14);
				margin-left: 16px;
				text-transform: uppercase;
				font-weight: 700;
				position: relative;
				--width: 1.25em;
				padding-right: calc(var(--width) + 4px);
				&:before {
					position: absolute;
					right: 0;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					display: block;

					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_blue.svg");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					width: var(--width);
					height: var(--width);
				}
				&::after {
					position: absolute;
					right: -1px;
					top: 50%;
					transform: translateY(-50%);
					content: "";
					display: block;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_right.svg");
					background-size: 25%;
					background-position: center;
					background-repeat: no-repeat;
					width: var(--width);
					height: var(--width);
				}
				&:hover {
					color: var(--color-primary);
				}
			}
		}
	}
}
