#lb-search-element {
	@include body-max-width;
	.lb-search {
		.lb-search__container {
			display: block;
		}

		.lb-search__aside {
			width: 100%;
		}

		.lb-search__main {
			padding: 0;
			width: 100%;
		}
	}
}
