.id--15 {
	.content-inner {
		@include body-max-width-thinnest;
	}
	.summary-thx {
		font-size: var(--fs-42);
		text-align: center;
		font-weight: 700;
		padding-top: 1em;
	}
	.order-summary-heading {
		width: max-content;
		margin: 1em auto;
		text-align: center;
		font-size: var(--fs-18);
		padding: 10px 20px;
		background-color: var(--color-green-200);
		color: var(--color-green-400);
		border-radius: 8px;
	}
	.recapitulation-wrapper {
		display: flex;
		flex-direction: column;
		.reca-number {
			order: 1;
			text-align: center;
			font-size: var(--fs-14);
		}
		h4 {
			font-size: var(--fs-24);
			padding-bottom: 1.25em;
			text-align: center;
		}
		.co-order {
			order: 2;
			padding-top: 50px;
			padding-bottom: 50px;
			.cart-table {
				border-style: none;
				tr {
					td {
						border-top-style: solid;
						border-top-width: 1px;
						border-top-color: var(--color-gray-blue-400);
					}
					&:last-child {
						td {
							border-bottom-style: solid;
							border-bottom-width: 1px;
							border-bottom-color: var(--color-gray-blue-400);
						}
					}
				}
				.p-quantity {
					strong {
						font-weight: 400;
					}
				}
				.p-price {
					font-weight: 700;
				}
			}
		}
		.co-payment-method {
			order: 3;
			.row {
				padding: 20px 25px;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-radius: 10px;
				@include whiteBlueGradient;
				--angle: 135deg;
				max-width: 450px;
				margin: 0 auto;
				tr {
					font-size: var(--fs-14);
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;
					gap: 20px;
					padding: 5px 0;
					th {
						font-weight: 400;
						text-align: left;
					}
					td {
						font-weight: 700;
						text-align: right;
						strong {
							font-weight: 700;
							&[data-testid="orderTotalPrice"] {
								font-size: var(--fs-22);
							}
						}
					}
				}
			}
		}
		.order-summary-item.total {
			padding-top: 50px;
			text-align: center;
			font-size: var(--fs-16);
			padding-bottom: 1em;
		}
		.order-complete-links {
			display: flex;
			justify-content: center;
			p {
				padding: 0;

				a {
					@include primaryButton;
				}
			}
		}
	}
}
