.is-test-eshop {
	//all code here
	.product-top {
		.p-image-wrapper {
			.p-image {
				@include customSlider;
				.p-main-image {
					min-width: 100%;
					width: 100%;
				}
				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}
