.in-vyhledavani #content-wrapper {
	visibility: visible;
}

.is-test-eshop {
	.raventic-search-results {
		@include body-max-width;
	}
	.raventic-search-results-container {
		display: flex;
		flex-direction: column;
	}

	.raventic-search-results-products {
		order: 2;
		.raventic-search-results-products-list {
		}
	}
	.raventic-search-results h1 {
		font-size: var(--fs-32);
		font-weight: 700;
		line-height: 1.4;
		color: black;
		padding-top: 0;
		padding-bottom: 0.8125em !important;
		padding-bottom: 0 !important;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.type-search {
	}

	.raventic-search-results-filters {
		width: 100%;
		order: 1;
		overflow: visible;

		h3 > svg {
			display: none;
		}
		svg {
			max-width: 20px;
			max-height: 20px;
		}

		.raventic-search-results-filters-mobile {
			display: none;
		}
		.raventic-search-results-filters-desktop {
			display: flex;
			--gap: 24px;
			gap: var(--gap);
			flex-direction: row;

			.raventic-search-results-filters-filter-enum-item-checkbox,
			.raventic-search-results-filters-filter-price-item-checkbox {
				position: relative;
				&::before {
					content: "";
					@include inputCheckbox;
				}
				&.raventic-search-results-filters-filter-enum-item-checkbox-checked,
				&.raventic-search-results-filters-filter-price-item-checkbox-checked {
					&::after {
						position: absolute;
						left: 0;
						top: 0.25em;
						transform: translateX(50%);
						@include inputCheckboxChecked;
					}

					& ~ span {
						font-weight: 700;
					}
				}

				svg {
					display: none;
				}
			}
			.raventic-search-results-filters-filter-enum-search {
				display: flex;
				align-items: center;
				flex-direction: row-reverse;
				gap: 4px;
				flex-wrap: nowrap;
				margin-bottom: 1em;
				input {
					padding: 0.5em 1em;
					flex: 1;
				}
			}
			.raventic-search-results-filters-filter-price-selector {
				margin-bottom: 1em;
				input {
					padding: 0.5em 1em;
					width: 9em;
				}
			}
		}
	}

	.raventic-search-results-products {
		.raventic-search-results-filter-selection {
			background: #f6f6f6;
			border-style: solid;
			border-width: 1px;

			svg {
				max-width: 20px;
				max-height: 20px;
			}
		}
	}
}
