.in-vyhledavani #content-wrapper {
	visibility: visible;
}

.is-test-eshop {
	.raventic-search-results {
		@include body-max-width;
	}
	.raventic-search-results-container {
		display: flex;
		flex-direction: column;
	}
	.raventic-search-results-products {
		order: 2;
		.raventic-search-results-products-list {
		}
	}
	.raventic-search-results h1 {
		font-size: var(--fs-32);
		font-weight: 700;
		line-height: 1.4;
		color: black;
		padding-top: 0;
		padding-bottom: 0.8125em !important;
		padding-bottom: 0 !important;
		margin-top: 0;
		margin-bottom: 0;
	}

	&.type-search {
	}
	.raventic-search-results-filters {
		width: 100%;
		order: 1;
		overflow: visible;
		padding-bottom: 0;

		h3 > svg {
			display: none;
		}
		svg {
			max-width: 20px;
			max-height: 20px;
		}
	}
	.raventic-search-results-filters-mobile {
		display: none !important;
	}
	.raventic-search-results-filters-desktop {
		display: flex;
		--gap: 24px;
		gap: var(--gap);
		flex-direction: row;

		@media screen and (max-width: $tablet-max) {
			flex-direction: column;
			width: 100%;
			gap: 16px;
			> * {
				width: 100%;
			}
		}

		.raventic-search-results-filters-filter-enum-item-checkbox,
		.raventic-search-results-filters-filter-price-item-checkbox {
			position: relative;
			&::before {
				content: "";
				@include inputCheckbox;
			}
			&.raventic-search-results-filters-filter-enum-item-checkbox-checked,
			&.raventic-search-results-filters-filter-price-item-checkbox-checked {
				&::after {
					position: absolute;
					left: 0;
					top: 0.25em;
					transform: translateX(50%);
					@include inputCheckboxChecked;
				}

				& ~ span {
					font-weight: 700;
				}
			}

			svg {
				display: none;
			}
		}
		.raventic-search-results-filters-filter-enum-search {
			display: flex;
			align-items: center;
			flex-direction: row-reverse;
			gap: 4px;
			flex-wrap: nowrap;
			margin-bottom: 1em;
			input {
				padding: 0.5em 1em;
				flex: 1;
			}
		}
		.raventic-search-results-filters-filter {
			order: 99;
			&.raventic-search-results-filters-filter-price {
				order: 1;
			}
		}

		.raventic-search-results-filters-filter-price-selector {
			margin-bottom: 1em;
			input {
				padding: 0.5em 1em;
				width: 9em;
			}
		}
	}

	.raventic-search-results-products {
		.raventic-search-results-filter-selection {
			//if its empty or doent have raventic-search-results-filter-selection-item inside, hide it
			margin-top: 40px;
			@media screen and (max-width: $tablet-max) {
				margin-top: 0;
			}
			&:not(:has(.raventic-search-results-filter-selection-item)) {
				display: none;
			}

			svg {
				max-width: 20px;
				max-height: 20px;
			}
		}
	}
	&.id--11 {
		.content-wrapper {
			min-height: 100vh;
		}
	}
	&.id--11:not(.raventic-search-results-transformed) {
		.content-wrapper {
			position: relative;
			&:before {
				content: "";
				width: 100%;
				height: 90%;
				@include body-max-width;
				position: absolute;
				left: 50%;
				top: 0;
				transform: translateX(-50%);
				border-radius: 8px;
				background: linear-gradient(
					90deg,
					var(--color-primary-200) 25%,
					var(--color-primary-300) 50%,
					var(--color-primary-200) 75%
				);
				background-size: 200% 100%;
				animation: skeleton-shimmer 1.5s infinite linear;
			}
			* {
				visibility: hidden;
			}
		}
	}
}

@keyframes skeleton-shimmer {
	0% {
		background-position: 200% 0;
	}
	100% {
		background-position: -200% 0;
	}
}

//raventic dropdown
.is-test-eshop {
	.raventic-search-dropdown-external {
		.raventic-search-dropdown-input {
			display: none !important;
		}
		.raventic-search-dropdown-body-tabs {
			display: none !important;
		}

		.raventic-search-dropdown-body {
			width: 1440px !important;
			max-width: 90vw !important;
			position: fixed;
			left: 50%;
			top: calc(var(--header-height) / 2 + 10px) !important;
			transform: translateX(-50%);
			background: var(--color-primary-200);
			overflow: auto;
			max-height: calc(100vh - var(--header-height) - 20px);
			border-radius: 8px;
		}
		.raventic-search-dropdown-body-content {
			padding: 25px 35px;
			display: grid;
			grid-template-columns: 24% 76%;
		}
		.raventic-search-dropdown-body-sidebar {
			display: flex;
			flex-direction: column;
			gap: 18px;
		}
		.raventic-search-dropdown-body-products {
			h2 {
				display: none;
			}
			.raventic-search-dropdown-body-products-query {
				display: flex;
				align-items: center;
				svg {
					max-width: 24px;
					max-height: 24px;
				}
			}
		}
		.raventic-search-dropdown-body-products-list {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: repeat(5, 1fr);
			gap: 16px;
		}

		.raventic-product-image {
			width: 100px;
			height: 100px;
			img {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
	}
}
.admin-logged {
	.raventic-search-dropdown-body {
		top: calc(var(--header-height) / 2 - 10px + var(--admin-bar-height)) !important;
	}
}
