#colorbox {
	position: fixed !important;

	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	background-color: hsla(var(--color-primary-hover-h), var(--color-primary-hover-s), var(--color-primary-hover-l), 0.5);
	z-index: 10000;
	#cboxMiddleLeft,
	#cboxMiddleRight {
		display: none !important;
	}

	#cboxWrapper {
		width: 100% !important;
		height: 100% !important;
		position: relative !important;
		display: flex !important;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		> div {
			width: 100% !important;
			display: flex;
			justify-content: center;
			> #cboxContent {
				width: auto !important;

				max-width: calc(100% - var(--padding-sides) * 2) !important;
				height: auto !important;
				position: relative !important;
			}
			#cboxLoadedContent {
				width: 100% !important;
				height: auto !important;
				max-height: 80vh;
				max-height: 80svh;
				overflow: auto !important;
				@include whiteBlueGradient;
				--angle: 45deg;
				--start: 0%;
				--end: 100%;
				border-radius: 8px;
				padding: 25px 30px 25px 30px;
				position: relative;
				@media screen and (max-width: $tablet-max) {
					padding: 15px 20px 15px 20px;
				}
			}
			#cboxClose {
				@include closeBtn;
				display: flex;
				top: 5px;
				right: 5px;
				transform: translate(50%, -50%);
			}
		}
	}

	#cboxCurrent {
		display: none !important;
	}

	#cboxPrevious,
	#cboxNext {
		@include carouselControl;

		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		align-items: center;
		font-size: 0;
	}
}

.content-modal {
	.required-asterisk {
		&:after {
			content: "*";
			color: var(--color-red-400);
			padding-left: 2px;
		}
	}
	form {
		border-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		gap: 10px;

		fieldset {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		.form-group {
			display: flex;
			flex-direction: column;
			gap: 5px;
			padding-bottom: 10px;
		}
	}
	h1,
	h2,
	h3 {
		font-size: var(--fs-24);
		font-weight: 700;
		line-height: 1.2;
		strong {
			font-weight: 700;
		}
	}
	.disclaimer {
		font-size: var(--fs-12);
		color: var(--color-black-o-60);
		font-style: italic;
	}
	#watchdog-form {
		gap: 0;
	}
	.watchdog-row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 10px;
		padding: 20px 0;
		align-items: center;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: var(--color-black-o-20);
	}
	.watchdog-action-buttons {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	#watchdog-reset {
		display: flex;
		justify-content: flex-end;
		text-align: center !important;
		padding: 1em 0.5em;
		margin-top: 10px !important;
		margin-bottom: 10px;
		background: rgba(0, 0, 0, 0) !important;
		border-style: solid !important;
		border-color: black;
		border-radius: 8px;
		border-width: 1px;
		color: black !important;
	}
	.shipping-options-popup {
		padding-bottom: 20px;
	}
	.shipping-row {
		display: grid;
		grid-template-columns: 120px 1fr auto;
		flex-direction: row;
		gap: 10px;
		padding: 15px 0;
		align-items: center;

		.payment-info {
			grid-column: 2;
			grid-row: 1;
		}
		.payment-logo {
			grid-column: 1;
			grid-row: 1;
		}
		.payment-shipping-price {
			grid-column: 3;
			grid-row: 1;
		}
		@media screen and (max-width: $mobile-max) {
			grid-template-columns: 70px 1fr auto;
			gap: 5px;
		}

		.for-free {
			color: var(--color-secondary);
		}
		.show-tooltip {
			font-size: var(--fs-13);
			font-weight: 700;
			color: var(--color-primary);
			width: 1.385em;
			height: 1.385em;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background: var(--color-primary-200);
			border-radius: 50%;
		}
	}
	.extra.delivery {
		margin-top: 10px;
		position: relative;
		padding-bottom: 20px;
	}
	.price-range {
		position: absolute;
		width: 100%;
		height: 6px;
		background: var(--color-gray-500);
		border-radius: 8px;
		bottom: 0;
		left: 0;
		> div {
			position: absolute;
			height: 6px;
			background: var(--color-primary);
			border-radius: 8px;
			bottom: 0;
			left: 0;
		}
	}

	.delivery-point-form {
		padding-bottom: 10px;
		.table {
			tr {
				display: flex;
				justify-content: space-between;
				@media screen and (max-width: $mobile-max) {
					flex-direction: column;
					align-items: center;
					gap: 10px;
					td {
						width: 100%;
						input {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.delivery-point-logos {
		max-width: 200px;
		margin: 0 auto;
	}
	.pickup-point-opening-hours {
		display: none;
		&.active {
			display: table;
		}
	}

	.ui-menu,
	.delivery-point-result-table-wrap {
		list-style: none;
		max-height: 240px;
		height: 240px;
		overflow-y: auto;
		overflow-x: hidden;
		margin: 0;
		padding: 0;
		position: relative !important;
		inset: 0 !important;
		width: 100% !important;

		li {
			margin: 0;
			padding: 15px 0;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			border-bottom-color: var(--color-black-o-20);
			cursor: pointer;

			&:hover,
			&:focus-within {
				background: var(--color-primary-200);
			}
		}
	}
	.delivery-point-result-table {
		td {
			padding: 10px 0;
		}
		.btn {
			width: 100%;
			cursor: pointer;
		}
	}
}

.ui-helper-hidden-accessible {
	display: none !important;
}

#colorbox.productDetail {
	#cboxLoadedContent {
		padding: 50px 60px !important;
		@media screen and (max-width: $tablet-max) {
			padding: 30px 20px !important;
		}
		img {
			border-radius: 8px;
			width: 100% !important;
			height: auto !important;
			pointer-events: none !important;
			max-height: calc(80svh - 100px) !important;
			@media screen and (max-width: $tablet-max) {
				max-height: calc(80svh - 60px) !important;
			}
		}
	}
}
