// Compare window grid layout
#dkLabComparerMainDiv {
	h1 {
		font-size: var(--fs-28);
		padding-bottom: 1.2857em;
	}
	@media screen and (max-width: $tablet-max) {
		h1 {
			font-size: var(--fs-24);
			padding-bottom: 0.625em;
		}
	}
}

#dkLabComparerTable {
	display: none !important;
}

#dkLabComparerTableDiv {
	overflow-x: auto;
	padding-bottom: 4px;

	.dklab-comparer-control {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 58px;
		height: 58px;
		cursor: pointer;
		z-index: 10;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_blue.svg");
			background-size: 100%;
			background-repeat: no-repeat;
			background-position: center;
		}
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_right.svg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: 20%;
			margin-left: 2px;
			transition: transform 0.2s ease-out;
		}
		&:hover {
			&::after {
				transform: scale(1.15);
			}
		}
		&.right {
			right: -20px;
		}
		&.left {
			left: -20px;
			&::after {
				background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_left.svg");
				background-repeat: no-repeat;
				background-position: center;
				background-size: 20%;
				margin-left: -2px;
			}
		}
	}

	&::-webkit-scrollbar {
		height: 8px;
	}

	.dklab-comparer-grid {
		display: grid;

		grid-template-columns: (auto, 1fr);
		font-size: var(--fs-16);
		color: black;

		@media screen and (max-width: $tablet-max) {
			font-size: var(--fs-13);
		}
		.dklab-comparer-grid-item {
			background: white;
			border-left-style: solid;
			border-right-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);

			padding: 14px 27px;
			--margin: 4px;
			margin: 0 var(--margin);
			position: relative;

			@media screen and (max-width: $tablet-max) {
				padding: 10px 14px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: calc(0px - var(--margin) - 4px);
				width: calc(100% + (2 * (var(--margin) + 1px)));
				height: 1px;
				background: var(--color-gray-blue-400);
				pointer-events: none;
			}
			&.dkLabComparerImage {
				position: relative;

				> span {
					font-size: 0;
					position: absolute;
					top: 7px;
					right: 7px;
					width: 28px;
					height: 28px;
					cursor: pointer;
					transition: transform 0.2s ease-out;

					&:before {
						content: "";
						position: absolute;
						width: 100%;
						height: 100%;
						background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_close_black.svg");
						background-size: 50%;
						background-repeat: no-repeat;
						background-position: center;
					}
					&:hover {
						transform: scale(1.1);
					}
				}
				a {
					img {
						margin-top: 28px;
						transition: transform 0.2s ease-out;
					}
					&:hover {
						img {
							transform: scale(1.05);
						}
					}
				}
			}
			&.dklab-comparer-product-name {
				a {
					font-size: var(--fs-13);
					color: var(--color-primary);
					color: var(--color-tertiary-hover);
					text-decoration: underline;
					font-weight: 700;
					&:hover,
					&:focus {
						color: var(--color-primary);
					}
				}
				padding: 14px 34px 7px;

				@media screen and (max-width: $tablet-max) {
					padding: 10px 14px 5px;
				}
			}
			&.dklab-comparer-price {
				font-weight: 700;
				padding: 7px 34px 14px;

				@media screen and (max-width: $tablet-max) {
					padding: 5px 14px 10px;
				}
			}
			&.dklab-comparer-button {
				display: flex;
				button {
					@include add-to-cart-button;
					width: 100%;
					padding-top: 0.8125em;
					padding-bottom: 0.8125em;
					span {
						font-size: var(--fs-16);
					}
				}
			}
			&.no-bg {
				background: none;
				border-left-style: none;
				border-right-style: none;
				padding-left: 0;
				&::before {
					left: 0;
				}
			}
			&.dklab-comparer-button {
				border-top-style: none;
				border-bottom-style: solid;
				border-bottom-left-radius: 8px;
				border-bottom-right-radius: 8px;
				&.no-bg {
					border-style: none;
				}

				&:before {
					display: none;
				}
			}
			&.dkLabComparerImage {
				border-top-left-radius: 8px;
				border-top-right-radius: 8px;
				border-top-style: solid;
				&.no-bg {
					border-style: none;
				}
				&:before {
					display: none;
				}
			}
			&.first-parameter {
				&:before {
					display: none;
				}
			}

			&.dklab-comparer-product-name {
				&:before {
					display: none;
				}
			}
			&.dklab-comparer-price {
				&:before {
					display: none;
				}
			}
		}
	}
}
