#footer {
	@include primaryBackgroundGradient;
	--angle: 30deg;
	--start: 0%;
	--end: 50%;
	padding-top: 62px;

	@media screen and (max-width: $tablet-max) {
		padding-top: 46px;
	}

	.site-name {
		display: none;
	}
	.custom-footer__instagram {
		@include body-max-width;
		h4 {
			color: white;
			text-align: center;
			a {
				color: white;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 20px;
				padding-bottom: 2.5em;
				@media screen and (max-width: $mobile-max) {
					flex-direction: column;
					gap: 10px;
				}
				.ig-follow-text {
					font-size: var(--fs-24);
					font-weight: 700;
				}
				.ig-account-name {
					font-size: var(--fs-18);
					font-weight: 400;
					display: flex;
					gap: 5px;
					align-items: center;
					&:before {
						content: "";
						display: block;
						width: 16px;
						height: 16px;
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_instagram_primary.svg");
						background-size: contain;
						background-repeat: no-repeat;
					}
				}

				&:hover {
					text-decoration: underline;
					.ig-account-name {
						&:before {
							filter: brightness(0) invert(1);
						}
					}
				}
			}
		}
		.instagram-widget {
			display: grid;
			justify-items: center;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows: 1fr;
			gap: 20px;

			@media screen and (max-width: $desktop-small-max) {
				grid-template-columns: repeat(3, 1fr);
				gap: 12px;
			}
			@media screen and (max-width: $mobile-max) {
				gap: 8px;
			}

			.instagram-follow-btn {
				display: none;
			}
			a {
				transition: opacity 0.2s ease-out;
				max-height: none;
				aspect-ratio: 4 / 5;
				position: relative;
				border-radius: 16px;
				overflow: hidden;
				display: flex;
				align-items: center;
				img {
					max-width: none;
					width: 100%;
				}
				&::after {
					content: "";
					display: block;
					position: absolute;
					width: 60px;
					height: 60px;
					border-radius: 16px;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					background-color: white;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_instagram_primary.svg");
					background-position: center;
					background-repeat: no-repeat;
					background-size: 65%;
					opacity: 0;
				}
				&:hover {
					opacity: 0.8;
					&::after {
						opacity: 1;
					}
				}
			}
		}
	}

	.footer-final-block {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include body-max-width;
		padding-top: 80px;
		padding-bottom: 100px;

		@media screen and (max-width: $tablet-max) {
			grid-template-columns: 1fr;
			padding-top: 35px;
			padding-bottom: 30px;
		}

		h4 {
			color: white;
			font-weight: 700;
			font-size: var(--fs-22);
			padding-bottom: 1.41em;

			@media screen and (max-width: $tablet-max) {
				padding-bottom: 0.5em;
			}
		}
		.footer-newsletter h4 {
			padding-bottom: 1.09em;
		}
		> * {
			padding-right: 5% !important;
		}
		> *:not(:first-child) {
			padding-left: 15% !important;
			position: relative;
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 1px;
				height: 100%;
				background-color: var(--color-white-o-10);
			}
		}
		> *:last-child {
			padding-right: 0 !important;
		}

		@media screen and (max-width: $tablet-max) {
			> *:nth-child(1) {
				padding-left: 0px !important;
				padding-right: 0px !important;
				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-10);
				padding-top: 25px;
				padding-bottom: 25px;
				&:before {
					display: none;
				}
			}
			> *:nth-child(2) {
				padding-left: 0px !important;
				padding-right: 0px !important;
				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-10);
				padding-top: 25px;
				padding-bottom: 25px;
				&:before {
					display: none;
				}
			}
			> *:nth-child(3) {
				padding-left: 0px !important;
				padding-right: 0px !important;

				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-10);
				padding-top: 30px;
				padding-bottom: 30px;
				&:before {
					display: none;
				}
			}
			> *:nth-child(4) {
				padding-left: 0px !important;
				padding-right: 0px !important;
				grid-column: 1/-1;
				border-top-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-10);
				padding-top: 30px;
				padding-bottom: 20px;
				&:before {
					display: none;
				}
			}
		}

		.customer-links,
		.about-us-links {
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				a {
					display: block;
					color: var(--color-white-o-80);
					font-size: var(--fs-16);
					text-decoration: none;
					line-height: 1.4;
					padding: 0.375em 0;
					&:hover {
						color: white;
						text-decoration: underline;
					}
				}
			}
		}
		.footer-contacts {
			.footer-contacts-blocks {
				display: flex;
				flex-direction: column;
				gap: 18px;
				@media screen and (max-width: $tablet-max) {
					padding-top: 10px;
				}
				.footer-contacts-block {
					display: flex;
					align-items: center;

					gap: 14px;
					.footer-customer-support-icon {
						--width: 52px;
						display: flex;
						align-items: center;
						justify-content: center;
						width: var(--width);
						height: var(--width);
						border-radius: 8px;
						background-color: var(--color-white-o-10);
						border-style: solid;
						border-width: 1px;
						border-color: var(--color-white-o-20);
					}
					.footer-customer-support-text {
						display: flex;
						flex-direction: column;
						gap: 4px;
						a {
							font-size: var(--fs-18);
							font-weight: 700;
							color: white;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
						p {
							margin: 0;
							padding: 0;
							font-size: var(--fs-12);
							color: var(--color-white-o-70);
						}
					}
				}
			}
		}
		.footer-newsletter {
			.footer-newsletter-wrapper-inner {
				.newsletter-header {
					position: relative;
					padding-right: 35%;
				}

				.newsletter-image {
					position: absolute;
					right: 0;
					top: 0px;
					width: 35%;
					height: auto;
					max-width: 120px;
				}
				form {
					max-width: 500px;
					.newsletter-input {
						position: relative;
						button {
							position: absolute;
							--margin: 6px;

							height: calc(100% - var(--margin) * 2);
							top: 50%;
							right: var(--margin);
							font-size: var(--fs-14);
							font-weight: 700;
							padding: 0 1em;
							transform: translateY(-50%);
							border-radius: 4px;
							@include tertiaryBackgroundGradientHoverEffect;
							color: white;

							.sr-only {
								display: block;
							}
						}
						input {
							font-size: var(--fs-16);
							padding: 1em 7.5em 1em 1em;
							width: 100%;
							background: var(--color-white-o-10);
							border-style: solid;
							border-width: 1px;
							border-color: var(--color-white-o-20);
							border-radius: 8px;
							color: white;
						}
					}
				}
				.gdpr-compliance {
					display: block;
					padding-top: 12px;
					font-size: var(--fs-12);
					color: var(--color-white-o-70);
					a {
						color: var(--color-white-o-70);
						text-decoration: underline;
						&:hover {
							color: white;
						}
					}
				}
			}
		}
	}

	.footer-delivery-payment {
		display: flex;
		background: white;
		gap: 130px;
		justify-content: center;
		align-items: center;
		padding: 46px var(--padding-sides) 50px;
		@media screen and (max-width: $tablet-max) {
			flex-direction: column;
			gap: 30px;
			padding: 20px var(--padding-sides) 25px;
		}
		.footer-deliveries,
		.footer-online-payments {
			display: flex;
			flex-wrap: wrap;
			gap: 15px;
			align-items: center;
			@media screen and (max-width: $tablet-max) {
				justify-content: center;
			}
			a {
				@media screen and (max-width: $tablet-max) {
					width: 100%;
					text-align: center;
				}
				&:hover,
				&:focus {
					text-decoration: underline;
				}
				h4 {
					font-size: var(--fs-18);
					font-weight: 700;
					color: black;
					padding-right: 15px;
				}
			}

			.delivery-service {
				width: 100px;
			}
		}
	}
	.footer-socials {
		display: none;
	}
	.footer-bottom {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		align-items: center;
		@include body-max-width;
		padding-top: 48px;
		padding-bottom: 58px;

		@media screen and (max-width: $tablet-max) {
			grid-template-columns: 1fr;
			grid-template-rows: auto auto auto;
			gap: 20px;
			padding-top: 35px;
			padding-bottom: 25px;
		}

		.footer-socials {
			display: flex;
			order: 2;
			gap: 20px;
			margin: auto;
			@media screen and (max-width: $tablet-max) {
				order: 1;
			}
			a {
				--width: 52px;
				display: flex;
				align-items: center;
				justify-content: center;
				width: var(--width);
				height: var(--width);
				border-radius: 8px;
				background-color: var(--color-white-o-10);
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-20);
				img {
					height: 28px;
					width: auto;
					transition: transform 0.2s ease-out;
				}
				&:hover {
					border-color: var(--color-tertiary-hover);
					img {
						transform: scale(1.1);
					}
				}
			}
		}
		#signature {
			order: 3;
			margin-left: auto;
			@media screen and (max-width: $tablet-max) {
				margin: auto;
				margin-bottom: 20px;
			}
			.image {
				display: inline-block;
				vertical-align: middle;

				img {
					filter: brightness(0) invert(1);
					display: block;
					vertical-align: middle;
				}
			}
			span,
			a {
				color: var(--color-white-o-60);
				text-decoration: none;
				font-size: var(--fs-14);
			}
			a:hover {
				color: white;
				text-decoration: underline;
			}

			.title {
				margin-left: 8px;
			}
		}
		.copyright {
			order: 1;
			max-width: 15em;
			color: var(--color-white-o-60);

			@media screen and (max-width: $tablet-max) {
				margin: auto;
				text-align: center;
				margin-top: 40px;
			}
		}
	}
}
