body:has(#header .menu-level-1 > li.ext:hover),
body:has(#header .menu-level-1 > li.ext:focus-within) {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: hsla(var(--color-primary-hover-h), var(--color-primary-hover-s), var(--color-primary-hover-l), 0.5);
		z-index: 8;
		pointer-events: none;
		backdrop-filter: blur(5px);
	}
}

.top-navigation-bar {
	display: none;
}

#header {
	@include primaryBackgroundGradient;
	--angle: 70deg;
	--start: 5%;
	--end: 50%;
	--component-max-height: 52px;

	> .container {
		position: relative;
		z-index: 8;
		@include body-max-width;
		padding: 27px var(--padding-sides) 0;
	}

	.header-top {
		display: flex;
		align-items: center;

		height: var(--component-max-height);

		/*empty block na margin*/
		&::before {
			content: "";
			order: 50;
			margin: auto;
		}

		.site-name-wrapper {
			order: 1;
			margin-right: 58px;
			.site-name {
				height: 100%;
				display: flex;
				align-items: center;
				max-width: 177px;
				a {
					display: flex;
					align-items: center;
					height: 100%;
					img {
						height: auto;
						max-height: 100%;
						width: 100%;
						object-fit: contain;
						transition: filter 0.2s ease-in-out;
					}
				}
				&:hover img,
				&:focus-within img {
					filter: brightness(1.25) contrast(1.2);
				}
			}
		}
		.search {
			order: 2;
			height: 100%;
			margin-right: 54px;

			form {
				height: 100%;
				fieldset {
					height: 100%;
					display: flex;
					position: relative;

					&::before {
						pointer-events: none;
						content: "";
						display: block;
						position: absolute;
						left: 15px;
						top: 50%;
						transform: translateY(-50%);
						width: 24px;
						height: 24px;
						background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_search_white.svg");
						background-size: cover;
					}

					input[type="search"] {
						/* width: clamp(200px, 38vw, 726px); */
						width: 548px;
						background: var(--color-white-o-10);
						border-radius: 8px;
						border-style: solid;
						border-width: 1px;
						border-color: var(--color-white-o-20);
						display: flex;
						font-size: var(--fs-13);
						color: white;
						padding: 0 10px 0 53px;
						&::placeholder {
							color: white;
							opacity: 1;
						}

						&:focus {
							outline: solid 2px var(--color-tertiary);
							outline-offset: 1px;
						}
					}
					button {
						@include tertiaryBackgroundGradientHoverEffect;
						border-style: none;
						border-radius: 4px;
						color: white;
						padding: 0 14px;
						font-size: var(--fs-14);
						font-weight: 700;
						cursor: pointer;
						position: absolute;
						right: 6px;
						top: 6px;
						height: calc(100% - 12px);

						@media screen and (max-width: $mobile-max) {
							display: none;
						}
					}
				}
			}
			.search-whisperer {
				display: none;
			}
		}
		.project-phone {
			order: 3;
			display: grid;
			grid-template-rows: 1fr 1fr;

			column-gap: 14px;
			row-gap: 4px;

			&::before {
				grid-column: 1;
				grid-row: 1 / -1;
				content: "";
				display: block;
				width: var(--component-max-height);
				height: var(--component-max-height);
				background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_phone_primary.svg");
				background-size: 50%;
				background-position: center;
				background-repeat: no-repeat;
				background-color: var(--color-white-o-10);
				border-radius: 8px;
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-white-o-20);
			}

			span {
				margin-top: auto;
				grid-row: 1;
				grid-column: 2;
				color: white;
				font-size: var(--fs-14);
				font-weight: 700;
				line-height: 1;
			}
			span.opening-hours {
				margin-top: 0;
				margin-bottom: auto;
				grid-row: 2;
				grid-column: 2;
				font-size: var(--fs-12);
				font-weight: 400;
				color: var(--color-white-o-70);
			}
			&:hover,
			&:focus-within {
				span:not(.opening-hours) {
					text-decoration: underline;
				}
			}
		}
		#dkLabFavHeaderWrapper {
			order: 98;
			display: flex;
			font-size: var(--fs-12);
			margin-right: 15px;
			&.no-count {
				display: none;
			}
			a {
				display: flex;
				align-items: center;
				gap: 4px;
				&:before {
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_favorites_empty.svg");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
				color: white;
				&:hover,
				&:focus-within {
					span {
						text-decoration: underline;
					}
				}
			}
			em {
				font-style: normal;
				&:before {
					content: "(";
				}
				&:after {
					content: ")";
				}
			}
		}
		#dkLabComparerHeaderWrappper {
			order: 97;
			display: flex;
			font-size: var(--fs-12);
			margin-right: 15px;
			&.no-count {
				display: none;
			}
			.dkLabComparerHeaderIconBtn {
				display: flex;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				&:before {
					content: "";
					display: block;
					width: 20px;
					height: 20px;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_compare_empty.svg");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
				color: white;
				&:hover,
				&:focus-within {
					span {
						text-decoration: underline;
					}
				}
			}
			em {
				font-style: normal;
				&:before {
					content: "(";
				}
				&:after {
					content: ")";
				}
			}
		}
		.top-nav-button {
			order: 99;
			display: flex;
			align-items: center;
			gap: 4px;
			span {
				display: none;
			}
			&::before {
				content: "";

				width: 20px;
				height: 20px;
				display: block;
				background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_user_primary.svg");
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
			}
			&::after {
				display: block;
				color: white;
				font-size: var(--fs-12);
			}
			&:hover,
			&:focus-within {
				&::after {
					text-decoration: underline;
				}
			}
		}
	}
	.menu-helper {
		display: none;
	}
	.navigation-close {
		display: none;
	}
	.navigation-buttons {
		display: none;
	}
	#navigation {
		display: grid;
		grid-template-columns:
			clamp(1000px, 60%, 2000px)
			1fr;
		max-width: 100%;
		align-items: center;
		padding-top: 18px;

		@media screen and (max-width: $tablet-max) {
			grid-template-columns: 80% 1fr;
		}

		.navigation-buttons {
			display: flex;
			justify-content: flex-end;
			margin-top: -10px;

			.cart-count {
				padding: 15px;
				color: black;
				background: white;
				border-radius: 8px;
				display: flex;
				align-items: center;
				gap: 14px;
				.cart-price {
					font-weight: 700;
					font-size: var(--fs-16);
					line-height: 1;
				}
				&:before {
					content: "";
					display: block;
					width: 22px;
					height: 22px;
					background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_cart_primary.svg");
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
				}
			}
		}
	}
	.menu-helper-custom {
		display: none;
		border-radius: 8px 8px 0 0;
		position: relative;

		&.active {
			display: flex;
		}
		.menu-helper-custom-submenu {
			display: none;
		}
		&:hover,
		&:focus-within {
			background: white;
			color: black;
			.menu-helper-custom-submenu {
				display: flex;
				flex-direction: column;
				position: absolute;
				top: 100%;
				right: 0;
				background: linear-gradient(180deg, #ffffff 0%, var(--color-primary-200) 100%);
				width: 16.5em;
				gap: 16px;
				padding: 2em 1em 1.75em 2em;
				z-index: 8;
				border-radius: 8px 0 8px 8px;
				box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
				a {
					color: black;
					font-weight: 400;
					padding: 0;
					margin: 0;
					&:hover,
					&:focus-within {
						color: var(--color-primary);
					}
				}
			}
		}
	}

	.menu-level-1,
	.menu-level-1 ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.menu-level-1 li {
		padding: 0;
		margin: 0;
	}
	.menu-level-1 {
		display: flex;
		font-size: var(--fs-16);
		flex-direction: row;
		flex-wrap: nowrap;
		color: white;

		strong,
		b {
			font-weight: inherit;
		}

		a {
			display: block;
		}
		> li > a,
		.menu-helper-custom > span {
			color: inherit;
			font-weight: 600;
			width: max-content;
			padding: 1em 1.8125em 1.75em;
			display: flex;
			align-items: center;
			gap: 6px;
			height: 100%;
			cursor: pointer;
		}
		> li:first-child > a {
			padding-left: 1.375em;
		}
		> li > a .submenu-arrow,
		.menu-helper-custom > span::after {
			content: "";
			display: block;
			width: 0.625em;
			height: 100%;
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_primary_down.svg");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
		> li:hover .submenu-arrow,
		> li:focus-within .submenu-arrow,
		.menu-helper-custom:hover span::after,
		.menu-helper-custom:focus-within span::after {
			transform: rotate(180deg);
		}
		> li {
			border-radius: 8px 8px 0 0;
			&:hover,
			&:focus-within {
				background: white;
				color: black;

				.menu-level-2 {
					display: grid;
				}
			}
		}
		.menu-level-2 {
			display: none;
			position: absolute;
			background: linear-gradient(180deg, #ffffff 0%, var(--color-primary-200) 100%);
			left: 0;
			top: 100%;
			width: calc(100% - var(--padding-sides) * 2);
			z-index: 9;
			grid-template-columns: repeat(6, 1fr);
			grid-auto-rows: minmax(6.8125em, 1fr);
			margin: 0 var(--padding-sides);
			column-gap: 20px;
			row-gap: 22px;
			padding: 27px 22px 30px;
			border-radius: 0 0 8px 8px;
			overflow: hidden;

			@media screen and (max-width: $desktop-medium-max) {
				grid-template-columns: repeat(5, 1fr);
			}
			@media screen and (max-width: $desktop-small-max) {
				grid-template-columns: repeat(4, 1fr);
			}
			@media screen and (max-width: $tablet-max) {
				grid-template-columns: repeat(3, 1fr);
			}
			@media screen and (max-width: $small-tablet-max) {
				grid-template-columns: repeat(2, 1fr);
			}

			> li {
				@include menuItemSetup;
				position: relative;

				> a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
				}
				> div > a {
					color: black;
				}
				&:hover,
				&:focus-within {
					> div > a {
						color: white;
					}
				}

				/* display: grid;
				grid-template-columns: 64px 1fr;
				gap: 30px;
				align-items: center;
				color: black;
				position: relative;
				background: white;
				border-radius: 8px;
				border-style: solid;
				border-color: var(--color-gray-blue-400);
				border-width: 1px;
				padding: 0 10px 0 25px;

				> a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					cursor: pointer;
					&:hover,
					&:focus-within {
						background: hsla(
							var(--color-tertiary-hover-h),
							var(--color-tertiary-hover-s),
							var(--color-tertiary-hover-l),
							0.05
						);
					}
				}
				img {
					background-color: red;
				}
				> div {
					> a {
						color: inherit;
						font-size: var(--fs-18);
					}
				} */
			}
		}

		.menu-level-3 {
			display: none;
		}
	}
}
