.benefitBanner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 52px var(--padding-sides) 48px;
	flex-wrap: wrap;
	--gap: 70px;
	--items-number: 4;
	gap: var(--gap);

	> * {
		width: calc((100% / var(--items-number)) - (var(--gap) * (var(--items-number) - 1) / var(--items-number)));
		max-width: 400px;
	}

	@media screen and (max-width: $desktop-medium-max) {
		--gap: 40px;
	}

	@media screen and (max-width: $tablet-max) {
		--items-number: 3;
	}
	@media screen and (max-width: $small-tablet-max) {
		padding: 38px var(--padding-sides) 38px;
		--items-number: 2;
		--gap: 20px;
	}
	@media screen and (max-width: $mobile-max) {
		--items-number: 1;
		--gap: 20px;
	}

	.benefitBanner__item {
		display: flex;
		align-items: center;
		gap: 6px;
	}
	.benefitBanner__picture {
		position: relative;
		display: flex;
		min-width: 83px;
		width: 83px;
		height: 73px; /*matematicky 72 ale 73 vypadá líp*/
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_primary_with_border.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		img {
			position: relative;
			z-index: 1;
			width: 32px;
			height: 32px;
		}
	}
	> .benefitBanner__item:first-child .benefitBanner__picture img {
		width: 28px;
		height: 28px;
		max-width: 40%;
	}
}

.in-index {
	.benefitBanner {
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
}
.type-category {
	.benefitBanner {
		margin-top: 70px;
		padding-top: 100px;
		padding-bottom: 105px;
		border-top-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
}

.type-product {
	.benefitBanner {
		padding-top: 80px;
		padding-bottom: 75px;
	}
}
