.benefitBanner {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 52px 0 48px;
	gap: 70px;
	.benefitBanner__item {
		display: flex;
		align-items: center;
		gap: 6px;
	}
	.benefitBanner__picture {
		position: relative;
		display: flex;
		width: 83px;
		height: 73px; /*matematicky 72 ale 73 vypadá líp*/
		align-items: center;
		justify-content: center;
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_dark_blue_with_border.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		img {
			position: relative;
			z-index: 1;
			width: 32px;
			height: 32px;
		}
	}
	> .benefitBanner__item:first-child .benefitBanner__picture img {
		width: 28px;
		height: 28px;
	}
}

.in-index {
	.benefitBanner {
		border-bottom-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
}
.type-category {
	.benefitBanner {
		padding-top: 100px;
		padding-bottom: 105px;
		border-top-style: solid;

		border-width: 1px;
		border-color: var(--color-gray-blue-400);
	}
}
