#lbx-ac-element {
	padding: 0;
	background-color: var(--color-primary-200);

	.luigi-ac-others,
	.luigi-ac-products {
		background: transparent;
	}

	.luigi-ac-products {
		.luigi-ac-button-buy {
			@include add-to-cart-button;
		}

		.luigi-ac-button-block--show-all {
			.luigi-ac-button {
				@include primaryButton;
				width: 100%;
				align-items: center;
			}
		}

		.luigi-ac-description {
			.luigi-ac-hero-color-clickable {
				@include add-to-cart-button;
			}
		}
	}
}
