#lbx-ac-element {
	padding: 0;
	background-color: var(--color-primary-200);
	--padding-top: 25px;
	--padding-left: 35px;

	width: 1530px !important;
	max-width: 90vw !important;

	.luigi-ac-others,
	.luigi-ac-products {
		background: transparent;
	}
	.luigi-ac-footer {
		display: none;
	}

	.luigi-ac-close {
		top: 16px;
		right: 16px;
	}

	.luigi-ac-ribbon,
	.luigi-ac-caret {
		display: none;
	}

	.luigi-ac-header {
		font-size: var(--fs-18);
		font-weight: 700;
		padding: 0;
		margin: 0;
		padding-bottom: 1em;
	}

	.luigi-ac-others {
		padding: var(--padding-top) var(--padding-left);
		border-style: none;

		.luigi-ac-item {
			padding: 0.25em 0;
			margin: 0;
		}
	}

	.luigi-ac-main {
		height: auto;
		border-left-style: solid;
		border-right-width: 1px;
		border-right-color: var(--color-gray-blue-400);
		display: grid;
		grid-template-columns: 2fr 3fr;
		> * {
			width: 100%;
		}
	}

	.luigi-ac-products {
		.luigi-ac-first-main {
			margin: 0;
			padding: var(--padding-top) var(--padding-left);

			.luigi-ac-button-buy {
				@include add-to-cart-button;
				color: black !important;
			}
		}

		.luigi-ac-rest-main {
			margin: 0;
			padding: var(--padding-top) var(--padding-left);
			display: grid;
			grid-template-columns: 1fr;
			flex-direction: column;
			gap: 16px;
			> * {
				width: 100%;
				padding: 0;
			}
			> a {
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-radius: 8px;
				background: white;
				padding: 10px 15px;
				background: white;
				&:hover,
				&:focus {
					.luigi-ac-name {
						color: var(--color-primary);
						text-decoration: underline;
					}
				}
			}
			.luigi-ac-image {
				height: auto;
				max-height: none;
				width: 70px !important;
				img {
					width: 100%;
				}
			}
			.flag {
				display: none;
			}
			.luigi-ac-button-block--show-all {
				position: initial;
				margin: 0;
				.luigi-ac-button {
					@include primaryButton;
					width: 100%;
					max-width: none;
					text-align: center;
					align-items: center;
					justify-content: center;
					padding-top: 1em;
					padding-bottom: 1em;
					font-size: var(--fs-16);
				}
			}

			.luigi-ac-description {
				display: grid;
				grid-template-columns: 2fr 1fr;

				.luigi-ac-text {
					grid-column: 1/-1;
					grid-row: 1;
					margin: 0;
				}

				.luigi-ac-price {
					grid-column: 1;
					grid-row: 2;
					padding-top: 7px;
					display: flex;
					flex-direction: row;
					gap: 8px;
					align-items: center;

					.luigi-ac-price-new {
						margin: 0;
					}
					.luigi-ac-price-old {
						color: var(--color-red-400);
						text-decoration: line-through;
					}
				}

				.luigi-ac-hero-color-clickable {
					grid-column: 2;
					grid-row: 2;
					position: relative;
					inset: 0;
					margin-left: auto;
					@include add-to-cart-button;

					&::before {
						position: absolute;
						content: "";
						display: block;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						width: 22px;
						height: 22px;
						background-image: url(https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_cart_black.svg);
						background-size: contain;
						background-position: center;
						background-repeat: no-repeat;
					}
				}
			}
		}
	}
}
