#lbx-ac-element {
	padding: 0;
	background-color: var(--color-primary-200);

	.luigi-ac-others,
	.luigi-ac-products {
		background: transparent;
	}

	.luigi-ac-ribbon,
	.luigi-ac-caret {
		display: none;
	}

	.luigi-ac-products {
		.luigi-ac-button-buy {
			@include add-to-cart-button;
		}

		.luigi-ac-button-block--show-all {
			.luigi-ac-button {
				@include primaryButton;
				width: 100%;
				max-width: none;
				text-align: center;
				align-items: center;
				justify-content: center;
				padding-top: 1em;
				padding-bottom: 1em;
				font-size: var(--fs-16);
			}
		}

		.luigi-ac-description {
			.luigi-ac-hero-color-clickable {
				@include add-to-cart-button;
			}
		}

		.luigi-ac-header {
			font-size: var(--fs-18);
			font-weight: 700;
			padding: 0;
			margin: 0;
			padding-bottom: 1em;
		}

		.luigi-ac-rest-main {
			display: grid;
			grid-template-columns: 1fr;
			flex-direction: column;
			gap: 16px;
			> * {
				width: 100%;
				padding: 0;
			}
			> a {
				border-style: solid;
				border-width: 1px;
				border-color: var(--color-gray-blue-400);
				border-radius: 8px;
				background: white;
			}
			.luigi-ac-image {
				height: auto;
				max-height: auto;
				width: 75px;
			}
			.flag {
				display: none;
			}
			.luigi-ac-text {
				margin: 0;
			}
			.luigi-ac-price {
				padding-top: 7px;
				display: flex;
				flex-direction: row;
				gap: 8px;

				.luigi-ac-price-new {
					margin: 0;
				}
				.luigi-ac-price-old {
					color: var(--color-red-400);
					text-decoration: line-through;
				}
			}
		}
	}
}
