/* .add-to-cart-button span {
	display: none;
} */

/* .cs .products-block .add-to-cart-button::before {
	content: "Přidat do košíku" / "Přidat do košíku";
	user-select: text;
} */

.cs #header .top-nav-button::after {
	content: "Příhlásit / Registrovat";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Přihlásit";
	}
}

.sk #header .top-nav-button::after {
	content: "Prihlásiť / Registrovať";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Prihlásiť";
	}
}
.pl #header .top-nav-button::after {
	content: "Zaloguj się / Zarejestruj";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Zaloguj się";
	}
}
