.add-to-cart-button span {
	display: none;
}

.cs .add-to-cart-button::before {
	content: "Přidat do košíku" / "Přidat do košíku";
	user-select: text;
}

.cs #header .top-nav-button::after {
	content: "Příhlásit / Registrovat" / "Příhlásit nebo Registrovat";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Přihlásit" / "Přihlásit";
	}
}

.sk #header .top-nav-button::after {
	content: "Prihlásiť / Registrovať" / "Prihlásiť alebo Registrovať";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Prihlásiť" / "Prihlásiť";
	}
}
.pl #header .top-nav-button::after {
	content: "Zaloguj się / Zarejestruj" / "Zaloguj się lub Zarejestruj";
	user-select: text;
	@media screen and (max-width: $tablet-max) {
		content: "Zaloguj się" / "Zaloguj się";
	}
}
