.lb-search {
  font-family: inherit !important;
}

.luigi-ac {
  width: 1020px !important;
  max-width: 100% !important;
}
@media screen and (min-width: 1680px) {
  .luigi-ac {
    left: -200px !important;
  }
}
.luigi-ac .luigi-ac-ribbon,
.luigi-ac .luigi-ac-caret {
  display: none;
}
.luigi-ac .luigi-ac-other-content,
.luigi-ac .luigi-ac-others .luigi-ac-title {
  color: var(--color-primary) !important;
}
.luigi-ac .luigi-ac-main .luigi-ac-name {
  color: var(--color-black) !important;
}
.luigi-ac .luigi-ac-query {
  border-radius: var(--br-8);
  color: var(--color-white) !important;
}
.luigi-ac .luigi-ac-query .luigi-ac-other-content {
  color: var(--color-white) !important;
}
.luigi-ac .luigi-ac-inner {
  border-radius: 0 0 var(--br-12) var(--br-12);
  overflow: hidden;
  -webkit-box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.2);
}
.luigi-ac .luigi-ac-others {
  height: auto !important;
  border-style: none !important;
}
@media screen and (max-width: 1020px) {
  .luigi-ac .luigi-ac-others {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-bottom: 40px !important;
  }
}
.luigi-ac .luigi-ac-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  -ms-flex-line-pack: center !important;
      align-content: center !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  border-radius: var(--br-10);
  overflow: hidden;
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.luigi-ac .luigi-ac-image img {
  width: var(--image-width);
  height: auto;
  -webkit-filter: brightness(1.03);
          filter: brightness(1.03);
  margin: auto;
  padding: 12.5% 25%;
}
.luigi-ac .luigi-ac-image:after {
  content: "";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.04);
}
.luigi-ac .luigi-ac-products {
  border-style: none !important;
  display: grid !important;
  grid-template-columns: 40% 1fr;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  height: 100% !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main {
  width: 100% !important;
  height: 100% !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main * {
  text-align: left !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-product {
  padding: 0 10px;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-action-primary {
  position: relative;
  inset: 0;
  width: 100%;
  border-radius: var(--br-16);
  margin-top: auto !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-action-primary .luigi-ac-button-block {
  margin-bottom: 20px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-action-primary .luigi-ac-button-action {
  text-align: center !important;
  padding: 1em 0.5em;
  background: var(--color-secondary) !important;
  border-radius: var(--br-16);
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-action-primary .luigi-ac-button-action:hover {
  background: var(--color-secondary-hover) !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-image {
  margin-top: 8px !important;
  width: 100% !important;
  height: auto !important;
  max-width: none !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-image img {
  padding: 10% 2.5%;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-header {
  padding-left: 10px;
}
.luigi-ac .luigi-ac-products .luigi-ac-first-main .luigi-ac-text {
  padding: 0;
}
.luigi-ac .luigi-ac-products .flag {
  display: none !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px !important;
  margin-bottom: 15px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-price-old,
.luigi-ac .luigi-ac-products .luigi-ac-price-new {
  margin-bottom: 0 !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  width: 100% !important;
  -ms-flex-wrap: nowrap !important;
      flex-wrap: nowrap !important;
  margin-bottom: 0 !important;
  height: 100%;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main > a {
  width: 100% !important;
  padding: 8px !important;
  margin: 0 !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main > a:last-of-type {
  display: none !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-image {
  height: auto !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main img {
  margin: 0 !important;
  max-height: 50px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-name {
  font-size: var(--fs-13) !important;
  white-space: normal;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-header {
  padding-left: 8px;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-button-block {
  margin-bottom: 20px !important;
  position: relative;
  inset: 0;
  width: 100%;
  padding: 0 8px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-button-block .luigi-ac-button {
  text-align: center !important;
  padding: 1em 0.5em;
  margin-top: 10px !important;
  background: transparent !important;
  border-style: solid !important;
  border-color: var(--color-black);
  border-radius: var(--br-16);
  border-width: 1px;
  color: var(--color-black) !important;
  -webkit-transition: none !important;
  transition: none !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-button-block .luigi-ac-button:hover {
  background: var(--color-primary) !important;
  color: var(--color-white) !important;
  border-color: var(--color-primary) !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-price {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-image {
  height: auto !important;
  max-width: none !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-image img {
  padding: 5px !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-action-hero {
  right: 10px !important;
  border-radius: 8px;
  background-color: var(--color-secondary) !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-action-hero:hover {
  background-color: var(--color-secondary-hover) !important;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-action-hero:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_add_to_cart.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.luigi-ac .luigi-ac-products .luigi-ac-rest-main .luigi-ac-action-hero img {
  display: none;
}
.luigi-ac .luigi-ac-close {
  top: 10px !important;
  width: 26px !important;
  height: 26px !important;
}
.luigi-ac .luigi-ac-close:before, .luigi-ac .luigi-ac-close:after {
  background: var(--color-red-400) !important;
  height: 2px !important;
}

@media screen and (max-width: 767px) {
  body.custom-search-active {
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
  }
  body.custom-search-active input[type=search] {
    z-index: 9999 !important;
  }
  body.custom-search-active input[type=search].active {
    display: block !important;
    position: fixed !important;
    left: calc(var(--padding-sides) + 5%) !important;
    top: 50px !important;
    background: var(--color-white) !important;
    font-size: var(--fs-16) !important;
    padding: 1em 0.5em !important;
    width: calc(100% - var(--padding-sides) * 2 - 10%) !important;
    border-style: solid;
    border-color: var(--color-black-o-60);
    border-width: 1px;
  }
  body.custom-search-active input[type=search]:focus {
    border-color: var(--color-primary);
    border-width: 2px;
  }
  body.custom-search-active #header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: var(--color-black-o-60);
    backdrop-filter: blur(5px);
    z-index: 9999;
    pointer-events: auto;
  }
  body.custom-search-active .luigi-ac {
    border-radius: var(--br-12);
    position: fixed;
    z-index: 10000;
    width: 100%;
    left: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 25px !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    grid-template-columns: 1fr;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
    height: auto !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-header {
    margin-top: 20px !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-product {
    height: auto !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-product .luigi-ac-description {
    margin: 0 10px;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-product .luigi-ac-image img {
    max-width: 100%;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-product .luigi-ac-price {
    margin-top: 0 !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-first-main .luigi-ac-product .luigi-ac-action-primary {
    width: 100%;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main {
    margin-top: 20px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: 20px;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-header {
    grid-column: 1/-1;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main > a:last-of-type {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    max-height: none !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-image img {
    margin: 0 auto !important;
    max-width: 100% !important;
    max-height: none !important;
    padding: 10% !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-text .luigi-ac-name {
    padding-top: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 3em;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-action-hero {
    bottom: calc(3.9em + 5px);
    right: 14px !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-price {
    margin: 0 !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-products .luigi-ac-rest-main .luigi-ac-button-block {
    grid-column: 1/-1;
    margin-bottom: 20px !important;
  }
  body.custom-search-active .luigi-ac .luigi-ac-inner .luigi-ac-others {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding-bottom: 80px;
  }
}
#lb-search-element .lb-search__body {
  margin-top: 0;
  border-style: none;
}
@media screen and (max-width: 1279px) {
  #lb-search-element .lb-search__body .lb-search__button-and-sorting {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1279px) and (max-width: 767px) {
  #lb-search-element .lb-search__body .lb-search__button-and-sorting {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 1279px) {
  #lb-search-element .lb-search__body .lb-search__button-and-sorting__button {
    display: block !important;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100% !important;
  }
  #lb-search-element .lb-search__body .lb-search__button-and-sorting__button .lb-search__mobile-filter {
    border-radius: var(--br-16);
  }
  #lb-search-element .lb-search__body .lb-search__button-and-sorting__sorting {
    width: 100% !important;
  }
  #lb-search-element .lb-search__body .lb-search__button-and-sorting__sorting .lb-sorts {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
#lb-search-element .lb-search__body .lb-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
#lb-search-element .lb-search__body .lb-container:has(.lb-results-wrapper.is-no-results) {
  grid-template-columns: 1fr;
}
@media screen and (max-width: 1279px) {
  #lb-search-element .lb-search__body .lb-container {
    grid-template-columns: 1fr;
  }
}
#lb-search-element .lb-search__body .lb-container .lb-search__aside {
  width: 90% !important;
  max-width: 248px;
  padding: 0;
  background-color: transparent;
}
@media screen and (max-width: 1279px) {
  #lb-search-element .lb-search__body .lb-container .lb-search__aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    max-width: none !important;
    min-height: 100vh;
    min-height: 100svh;
    z-index: 10000;
    background: white;
    display: none;
    padding: 40px var(--padding-sides) 20px;
  }
  #lb-search-element .lb-search__body .lb-container .lb-search__aside.is-active {
    display: block;
  }
  #lb-search-element .lb-search__body .lb-container .lb-search__aside .lb-search__close-filter {
    display: block;
  }
}
#lb-search-element .lb-search__body .lb-container .lb-aside-border {
  border-style: none;
}
#lb-search-element .lb-search__body .lb-container .lb-search__main {
  width: 100% !important;
  padding: 0 !important;
}
#lb-search-element .lb-search__body .lb-container .lb-search__main h1 {
  padding-top: 0;
  margin-bottom: 15px;
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-searches__headings {
  border-style: none;
}
@media screen and (max-width: 1279px) {
  #lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-searches__headings h2 {
    font-size: var(--fs-16);
  }
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-sorts select {
  width: auto;
  border-style: none;
  text-align: right;
  padding-right: 10px;
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list {
  border-style: none;
  margin: 0;
  padding: 20px 0;
  gap: 6px;
  font-size: var(--fs-13);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media screen and (min-width: 1279px) {
  #lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-10);
  }
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a {
  margin: 0 !important;
  width: 100% !important;
  border-style: none !important;
  background-color: var(--color-gray-400);
  border-radius: var(--br-8);
  padding: 0.77em 0.5em 0.77em 0.5em !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: clamp(0.25em, 10%, 1.5em);
}
@media screen and (min-width: 1280px) {
  #lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a {
    border-radius: var(--br-16);
    padding: 0.75em 2em 0.75em 1em !important;
  }
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a:after {
  display: none;
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a .lb-quick-search-default__item-image-wrapper img {
  width: auto !important;
  max-width: 40px;
  max-height: 40px;
}
@media screen and (min-width: 1280px) {
  #lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a .lb-quick-search-default__item-image-wrapper img {
    max-width: 56px;
    max-height: 56px;
  }
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a .lb-quick-search-default__item-title {
  font-size: 1em;
  color: var(--color-black);
  max-width: 12em;
  font-weight: var(--fw-400);
  text-wrap: balance;
  padding: 0;
  line-height: var(--lh-1-4);
}
#lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a:hover, #lb-search-element .lb-search__body .lb-container .lb-search__main .lb-quick-search-default__list > a:focus-within {
  outline: solid 2px var(--color-primary);
  background-color: var(--color-gray-200);
}
#lb-search-element .lb-search__body .lb-container .lb-product {
  padding: 0;
}
#lb-search-element .lb-pagination__btn {
  border-radius: var(--br-16);
  color: white;
}
@media screen and (min-width: 1279px) {
  #lb-search-element .lb-search .lb-search__button-and-sorting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.luigi-ac .luigi-ac-footer {
  display: none;
}