/*-------------------------------------- Hide for now */
.admin-bar {
	display: flex;
	background-color: #484848;
	border-color: #333;
	color: white;
	z-index: 99;
	position: relative;
	font-size: 12px;
	max-width: none;
	padding: 0 10px;
	justify-content: center;
	overflow: auto;

	ul {
		list-style: none;
		padding: 0;
	}
	#bar-menu {
		display: flex;
		flex-direction: row;
		column-gap: 0;
		margin: 0;
		> li {
			border-right: solid 1px var(--color-gray-600);
			&:first-child {
				border-left: solid 1px var(--color-gray-600);
			}
			> a {
				color: white;

				text-decoration: none;
				&:hover,
				&:focus {
					text-decoration: underline;
				}
			}
		}
		li {
			min-width: max-content;
			padding: 10px;
			position: relative;

			ul {
				left: 0;
				top: calc(100% - 1px);
				width: 100%;
				position: absolute;
				display: none;
				border: solid 1px var(--color-primary);
			}
			&:hover {
				ul {
					display: flex;
					flex-direction: column;
					background: var(--color-gray-400);
					li {
						min-width: auto;
						max-width: 100%;
						padding: 0;
						a {
							padding: 10px;
							display: block;
							border-bottom: solid 1px var(--color-gray-500);
							&:hover,
							&:focus {
								background: white;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
	@media screen and (max-width: $mobile-max) {
		font-size: 10px;
		#bar-menu {
			justify-content: flex-start;
			flex-wrap: wrap;
			li {
				padding: 5px;
				ul {
					a {
						padding: 5px !important;
					}
				}
			}
		}
	}
}

.skip-link.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
/*-------------------------------------- Body styles */
.content-hidden {
	.content-wrapper,
	.breadcrumbs-wrapper,
	#footer {
		visibility: hidden;
	}
}
.scroll-lock {
	overflow: hidden;
}
/* .overall-wrapper > * {
	@include body-max-width;
} */

.display-none {
	display: none !important;
}
.sr-only {
	display: none;
}
.no-display {
	display: none;
}
.hidden {
	display: none;
}
.show-on-mobile {
	display: none;
}
.show-on-pc {
	display: block;
}

.scroll-wrapper {
	overflow: auto;
	&::-webkit-scrollbar {
		height: 4px; // Reduce the height of the scrollbar
	}
}

@media screen and (max-width: $mobile-max) {
	.show-on-mobile {
		display: block;
	}
	.show-on-pc {
		display: none;
	}
}

.in-index .latest-contribution-box {
	display: none;
}

.overall-wrapper > .content-wrapper > .content-wrapper-in {
	/* @include body-max-width; */
}

.type-page:not(.in-o-znacce-natios) #content-wrapper {
	@include body-max-width;

	div[itemprop="about"] {
		padding-top: 30px;
		padding-bottom: 60px;
		@media screen and (max-width: $mobile-max) {
			padding-top: 20px;
			padding-bottom: 40px;
		}
	}
}
