/*variables*/
:root {
	--ff-m: "Poppins", sans-serif;
	--ff-h: "Poppins", sans-serif;
	--fs-10: 0.625rem;
	--fs-11: 0.6875rem;
	--fs-12: 0.75rem;
	--fs-13: 0.8125rem;
	--fs-14: 0.875rem;
	--fs-16: 1rem;
	--fs-18: 1.125rem;
	--fs-20: 1.25rem;
	--fs-22: 1.375rem;
	--fs-24: 1.5rem;
	--fs-26: 1.625rem;
	--fs-28: 1.75rem;
	--fs-30: 1.875rem;
	--fs-32: 2rem;
	--fs-48: 3rem;
	--fs-62: 3.875rem;
	--fs-64: 4rem;

	--color-white-o-10: hsla(0, 0%, 100%, 0.1);
	--color-white-o-20: hsla(0, 0%, 100%, 0.2);
	--color-white-o-60: hsla(0, 0%, 100%, 0.6);
	--color-white-o-70: hsla(0, 0%, 100%, 0.7);
	--color-white-o-80: hsla(0, 0%, 100%, 0.8);

	--color-black-o-20: hsla(0, 0%, 0%, 0.2);
	--color-black-o-40: hsla(0, 0%, 0%, 0.4);
	--color-black-o-60: hsla(0, 0%, 0%, 0.6);
	--color-black-o-80: hsla(0, 0%, 0%, 0.8);

	--color-primary-200: #eff4ff;
	--color-gray-blue-400: #d1d9eb;

	--color-gray-200: #f8f8f8;
	--color-gray-300: #f5f5f5;
	--color-gray-400: #f2f2f2;
	--color-gray-500: #e7e7e7;
	--color-gray-600: #808080;
	--color-gray-700: #4f4f4f;

	--color-green-200: #e1ffda;
	--color-green-400: #419f1f;

	--color-red-200: #ffe4eb;
	--color-red-300: #ff7d66;
	--color-red-400: #d44b6c;

	--padding-sides: 40px;
}

@media screen and (max-width: $mobile-max) {
	:root {
		--padding-sides: 15px;
		--padding-top-header: 11px;
	}
}
