// Define SCSS variables for breakpoints
$small-mobile-max: 499px;
$large-mobile-min: 500px;
$mobile-max: 767px;
$tablet-min: 768px;
$small-tablet-max: 1023px;
$tablet-medium-min: 1024px;
$tablet-max: 1279px;
$desktop-min: 1280px;
$desktop-small-max: 1439px;
$desktop-medium-min: 1440px;
$desktop-medium-max: 1679px;
$desktop-large-min: 1680px;

@mixin body-backdrop-blur {
	&::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: hsla(var(--color-primary-hover-h), var(--color-primary-hover-s), var(--color-primary-hover-l), 0.5);
		z-index: 999;
		pointer-events: none;
		backdrop-filter: blur(5px);
	}
}
@mixin body-backdrop-blur-disabled {
	&::before {
		content: none !important;
	}
}

@mixin primaryBackgroundGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(
		var(--angle),
		var(--color-primary) var(--start),
		var(--color-primary-hover) var(--end)
	) !important;
}
@mixin secondaryBackgroundGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(
		var(--angle),
		var(--color-secondary) var(--start),
		var(--color-secondary-hover) var(--end)
	) !important;
}
@mixin tertiaryBackgroundGradient {
	--angle: 270deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(
		var(--angle),
		var(--color-tertiary) var(--start),
		var(--color-tertiary-hover) var(--end)
	) !important;
}

@mixin secondaryBackgroundGradientHoverEffect {
	--angle: 90deg;
	--start: 0%;
	--middle: 40%;
	--end: 90%;
	background: linear-gradient(
		var(--angle),
		var(--color-secondary-hover) var(--start),
		var(--color-secondary) var(--middle),
		var(--color-secondary-hover) var(--end)
	) !important;
	background-size: 200% !important;
	background-position: right !important;
	transition: background-position 0.2s ease-out;
	cursor: pointer;
	&:hover {
		background-position: left !important;
		filter: drop-shadow(
			2px 2px 6px
				hsla(var(--color-secondary-hover-h), var(--color-secondary-hover-s), var(--color-secondary-hover-l), 0.4)
		);
	}
}
@mixin tertiaryBackgroundGradientHoverEffect {
	--angle: 270deg;
	--start: 0%;
	--middle: 45%;
	--end: 100%;
	background: linear-gradient(
		var(--angle),
		var(--color-tertiary) var(--start),
		var(--color-tertiary-hover) var(--middle),
		var(--color-tertiary) var(--end)
	) !important;
	background-size: 200% !important;
	background-position: right !important;
	transition: background-position 0.2s ease-out;
	cursor: pointer;
	&:hover {
		background-position: left !important;
		filter: drop-shadow(
			2px 2px 6px hsla(var(--color-tertiary-h), var(--color-tertiary-s), var(--color-tertiary-l), 0.4)
		);
	}
}

@mixin secondaryBackgroundGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(
		var(--angle),
		var(--color-secondary) var(--start),
		var(--color-secondary-hover) var(--end)
	) !important;
}

@mixin whiteBlueGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(var(--angle), white var(--start), var(--color-primary-200) var(--end));
}

@mixin whiteBlueGrayGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(var(--angle), white var(--start), var(--color-gray-blue-400) var(--end));
}

@mixin redGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(var(--angle), var(--color-red-400) var(--start), var(--color-red-300) var(--end));
}

@mixin greenGradient {
	--angle: 90deg;
	--start: 0%;
	--end: 100%;
	background: linear-gradient(var(--angle), var(--color-green-300) var(--start), var(--color-green-100) var(--end));
}

@mixin list-reset {
	list-style: none;
	margin: 0;
	padding: 1em 0;
	li {
		padding: 0.375em 0 0.375em 1.25em;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 0.5625em;
			height: 0.5625em;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_blue.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}

@mixin ol-reset {
	margin: 0;
	padding: 1em 0;
	list-style: none;
	counter-reset: list-counter;

	&[start="1"] {
		counter-reset: list-counter 0;
	}
	&[start="2"] {
		counter-reset: list-counter 1;
	}
	&[start="3"] {
		counter-reset: list-counter 2;
	}
	&[start="4"] {
		counter-reset: list-counter 3;
	}
	&[start="5"] {
		counter-reset: list-counter 4;
	}
	&[start="6"] {
		counter-reset: list-counter 5;
	}
	&[start="7"] {
		counter-reset: list-counter 6;
	}
	&[start="8"] {
		counter-reset: list-counter 7;
	}
	&[start="9"] {
		counter-reset: list-counter 8;
	}
	&[start="10"] {
		counter-reset: list-counter 9;
	}
	&[start="11"] {
		counter-reset: list-counter 10;
	}

	li {
		padding: 0.75em 0 0.75em 2.75em;
		position: relative;
		counter-increment: list-counter;

		&::before {
			content: counter(list-counter) ".";
			position: absolute;
			left: 0;
			font-size: 0.875em;
			font-weight: 400;
			color: black;
			@include whiteBlueGradient;
			border-style: solid;
			border-color: var(--color-gray-blue-400);
			border-width: 1px;
			border-radius: 8px;
			width: 2.2857em;
			height: 2.2857em;
			display: flex;
			justify-content: center;
			align-items: center;
			top: 50%;
			transform: translateY(-50%);
		}

		&:has(p, div, span, a, h1, h2, h3, h4, h5, h6) {
			&::before {
				display: none;
			}
			> *:first-child {
				padding: 0;
				padding-left: 0.25em;
				&::before {
					content: counter(list-counter) ".";
					position: absolute;
					left: 0;
					font-size: 0.875em;
					font-weight: 400;
					color: black;
					@include whiteBlueGradient;
					border-style: solid;
					border-color: var(--color-gray-blue-400);
					border-width: 1px;
					border-radius: 8px;
					width: 2.2857em;
					height: 2.2857em;
					display: flex;
					justify-content: center;
					align-items: center;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}

@mixin menuItemSetup {
	display: grid;
	grid-template-columns: 64px 1fr;
	gap: 25px;
	align-items: center;
	color: black;
	background: white;
	border-radius: 8px;
	border-style: solid;
	border-color: var(--color-gray-blue-400);
	border-width: 1px;
	padding: 23px 10px 23px 25px;
	cursor: pointer;
	font-size: var(--fs-18);

	&:hover,
	&:focus-within {
		@include primaryBackgroundGradient;

		cursor: pointer;
		color: white;
		border-color: transparent;
		img[src$=".svg"] {
			filter: brightness(0) invert(1);
		}
	}
}

@mixin body-max-width {
	width: 100%;
	max-width: 1920px;
	padding: 0 var(--padding-sides);
	margin: 0 auto;
}
@mixin body-max-width-thinner {
	width: 100%;
	max-width: 1280px;
	padding: 0 var(--padding-sides);
	margin: 0 auto;
}
@mixin body-max-width-thinnest {
	width: 100%;
	max-width: 910px;
	padding: 0 var(--padding-sides);
	margin: 0 auto;
}

@mixin body-max-width-padding-in-width {
	width: min(calc(100% - var(--padding-sides) * 2), calc(1920px - var(--padding-sides) * 2));
	max-width: 1920px;
	padding: 0;
	margin: 0 auto;
}

@mixin primaryButton {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	color: white;
	max-width: max-content;
	font-size: var(--fs-18);
	line-height: 1.2;
	font-weight: 700;
	padding: 1.235em 2.882em;
	border-radius: 8px;
	@include tertiaryBackgroundGradientHoverEffect;
}
@mixin add-to-cart-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	border-radius: 8px;
	font-weight: 700;
	padding: 1.3125em 1.833em; //1.166em for padding top and bottom
	cursor: pointer;
	span,
	&::before {
		font-size: var(--fs-18);
		line-height: 1.4;
	}

	@include secondaryBackgroundGradientHoverEffect;
	&:focus-visible {
		outline: 3px solid var(--color-secondary-hover);
		outline-offset: 2px;
	}
}

@mixin text-shadow {
	text-shadow: 1px 1px 3px var(--color-black-o-80);
}

/*-------------------------------------- PRODUCTS BLOCKS */
@mixin products-block-grid-layout {
	display: grid;
	grid-row: 1;
	grid-column: 1;
	grid-template-columns: 1fr;
	row-gap: 12px;
	max-width: 100%;

	--padding-capsules-vertical: 2px;
	--rating-wrapper-height: calc(0.6875em * 1.4 + var(--padding-capsules-vertical) * 2); //4px for padding

	--name-number-of-lines: 2;
	--name-height: calc(1em * var(--name-number-of-lines) * 1.4);

	--desc-number-of-lines: 2;
	--desc-height: calc(0.8125em * var(--desc-number-of-lines) * 1.4);

	--availability-height: calc(0.875em + 3px * 2);
	--prices-height: calc((1em + 0.8125em) * 1.4);

	--add-to-cart-button-height: calc(1.125em * 1.4 + 1.3125em * 2); //1.166em for padding top and bottom

	grid-template-rows:
		var(--rating-wrapper-height)
		var(--name-height)
		var(--desc-height)
		var(--prices-height)
		var(--add-to-cart-button-height);

	@media screen and (max-width: $mobile-max) {
		row-gap: 6px;
		--name-number-of-lines: 3;
		--name-height: calc(0.875em * var(--name-number-of-lines) * 1.4);

		--desc-number-of-lines: 4;
		--desc-height: calc(0.75em * var(--desc-number-of-lines) * 1.4);

		grid-template-rows:
			var(--rating-wrapper-height)
			var(--name-height)
			var(--desc-height)
			var(--availability-height)
			var(--prices-height)
			var(--add-to-cart-button-height);
	}
}

@mixin star-list {
	display: flex;
	align-items: center;
	gap: 3px;
	.star {
		width: 0.693em;
		height: 0.693em;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		&.star-on {
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_star_full.svg");
		}
		&.star-half {
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_star_half.svg");
		}
		&.star-off {
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_star_empty.svg");
		}
	}
}

@mixin disable-input-controls {
	-moz-appearance: textfield; /* For Firefox */
	-webkit-appearance: none; /* For WebKit browsers like Chrome and Safari */
	appearance: none; /* Standard property */
	/* Prevent controls from showing on hover or focus */
	&::-webkit-inner-spin-button,
	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

@mixin customSlider {
	position: relative; /*carousel inner, .products-block*/
	user-select: none;
	display: block;
	> * {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		flex-wrap: nowrap;

		&.grabbing,
		&.grabbing * {
			cursor: grabbing !important;
		}

		&::-webkit-scrollbar {
			display: none;
		}
	}
	.carousel-control {
		@include carouselControl;
	}
}

@mixin arrowDimensions {
	width: 56px;
	height: 49px;

	@media screen and (max-width: $tablet-max) {
		width: 46px;
		height: 40px;
	}

	@media screen and (max-width: $mobile-max) {
		width: 42px;
		height: 36px;
	}
}

@mixin carouselControl {
	position: absolute;
	top: 50%;
	@include arrowDimensions;
	display: grid;
	cursor: pointer;
	transition: transform 0.2s ease-out;
	transform: scale(1);

	&:before {
		content: "";
		display: block;
		grid-row: 1;
		grid-column: 1;
		background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_blue.svg");
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
	}
	&::after {
		content: "";
		display: block;
		grid-row: 1;
		grid-column: 1;
		background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_right.svg");
		background-size: 20%;
		background-position: center;
		background-repeat: no-repeat;
		width: 100%;
		height: 100%;
		margin-left: 2px;
	}
	&.left,
	&#cboxPrevious {
		left: var(--padding-sides);
		left: 5px;
		transform: translate(-50%, -50%) scale(1);
		&:after {
			background-image: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/arrow_white_left.svg");
			margin-left: -2px;
		}
		&:hover {
			transform: translate(-50%, -50%) scale(1.15);
		}
		&.hidden-control {
			transform: translate(-50%, -50%) scale(0);
		}
		@media screen and (max-width: $tablet-max) {
			left: 10px;
		}
		@media screen and (max-width: $mobile-max) {
			left: 12px;
		}
	}
	&.right,
	&#cboxNext {
		right: var(--padding-sides);
		right: 5px;
		transform: translate(50%, -50%) scale(1);
		&:hover {
			transform: translate(50%, -50%) scale(1.15);
		}
		&.hidden-control {
			transform: translate(50%, -50%) scale(0);
		}
		@media screen and (max-width: $tablet-max) {
			right: 10px;
		}
		@media screen and (max-width: $mobile-max) {
			right: 12px;
		}
	}
}

@mixin textTertiaryGradient {
	color: var(--color-tertiary-hover);
	background: linear-gradient(270deg, var(--color-tertiary), var(--color-tertiary-hover));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

@mixin quantity-setup {
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-gray-blue-400);
	border-radius: 8px;
	display: flex;
	align-items: center;
	label {
		height: 100%;
		order: 2;

		input {
			@include disable-input-controls;
			padding: 0;
			font-size: var(--fs-16);
			border-top-style: none;
			border-bottom-style: none;
			border-left-style: solid;
			border-right-style: solid;
			border-width: 1px;
			border-color: var(--color-gray-blue-400);
			border-radius: 0;
			height: 100%;
			text-align: center;
			width: 3.625em;
		}
	}
	.increase,
	.decrease {
		cursor: pointer;
		height: 100%;
		padding: 0px 0.75em;
		font-weight: 600;
		color: var(--color-tertiary-hover);
		font-size: 1.25em;
		line-height: 1;
		background: white;
		transition: background-color 0.2s ease;
		&:hover {
			color: white;
			@include primaryBackgroundGradient;
		}
	}
	.increase {
		order: 3;
		border-radius: 0 8px 8px 0;
	}
	.decrease {
		order: 1;
		border-radius: 8px 0 0 8px;
	}
}

@mixin flags-extra {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	right: 11px;
	top: 11px;
	gap: 4px;
	.flag {
		display: none;
	}
	.flag-discount {
		display: grid;
		position: relative;
		font-size: var(--fs-16);
		font-weight: 700;
		line-height: 1.4;
		color: white;
		justify-items: center;
		align-items: center;
		&::before {
			grid-column: 1;
			grid-row: 1;
			content: "";
			width: 5em;
			height: 4.3125em;
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_red.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		.price-save {
			position: relative;
			z-index: 1;
			grid-column: 1;
			grid-row: 1;
		}
		.price-standard {
			display: none;
		}
	}
	@media screen and (max-width: $mobile-max) {
		left: 11px;
		bottom: 11px;
		top: auto;
		right: auto;
		.flag-discount {
			font-size: var(--fs-12);
		}
	}
}
@mixin flags-default {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	position: absolute;
	left: 11px;
	top: 11px;
	gap: 4px;
	.flag {
		border-radius: 8px;
		font-size: var(--fs-11);
		font-weight: 700;
		line-height: 1.4;
		color: white;
		--start: 5%;
		--end: 105%;
		@include tertiaryBackgroundGradient;
		padding: 2px 6px;
		order: 50;
	}
	.flag-cesky-produkt {
		background: white !important;
		border-style: solid;
		border-width: 1px;
		border-color: var(--color-gray-blue-400);
		color: black;
		order: 1;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			position: relative;
			margin-right: 6px;
			height: var(--fs-12);
			width: var(--fs-12);
			background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/banners/cz.svg?691de754");
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.dkLabComparerFlagProduct,
	.dkLabFavFlagProduct {
		@include redGradient;
		order: 99;
	}
}

@mixin closeBtn {
	position: absolute !important;
	font-size: 0;
	top: 0px;
	right: 20px;
	@include arrowDimensions;

	cursor: pointer !important;
	z-index: 10001 !important;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/hexagon_blue.svg");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center;
	}
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		background: url("https://cdn.myshoptet.com/usr/740472.myshoptet.com/user/documents/upload/assets/icon_close_white.svg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 27.5%;
		transition: transform 0.2s ease-out;
	}
	&:hover {
		&::after {
			transform: scale(1.15);
		}
	}
}
