@charset "UTF-8";
/*toto ↓ smazat, je to tu jen, ať to pak můžu jednoduše sjednotit*/
/*mixinss*/
.in-index {
  /* &:not(.test-eshop) {
  	.products-block-wrapper {
  		position: relative;
  		.carousel-control {
  			@include slider-controls;
  			top: 35%;
  		}
  	}
  	.products-block:not(.products-block-luigi) {
  		display: flex;
  		flex-direction: row;
  		flex-wrap: nowrap;
  		gap: 0;
  		margin-left: calc(-1 * var(--gap-20));
  		overflow: hidden;
  		margin-bottom: 60px;
  		margin-right: 0;
  		@media screen and (max-width: $tablet-medium-min) {
  			margin-left: calc(-1 * var(--gap-10));
  		}
  		@media screen and (max-width: $mobile-max) {
  			margin-bottom: 20px;
  		}
  		> * {
  			flex-basis: 16.6667%;
  			flex-shrink: 0;
  			padding-left: var(--gap-20);
  			transition: transform 0.3s ease-in-out;

  			@media screen and (max-width: $desktop-medium-min) {
  				flex-basis: 20%;
  			}
  			@media screen and (max-width: $desktop-min) {
  				flex-basis: 25%;
  			}
  			@media screen and (max-width: $tablet-medium-min) {
  				flex-basis: 30%;
  				padding-left: var(--gap-10);
  			}
  			@media screen and (max-width: $mobile-max) {
  				flex-basis: 45%;
  			}
  			@media screen and (max-width: $large-mobile-min) {
  				flex-basis: 50%;
  			}
  		}
  		&.dragging {
  			> * {
  				transition: none !important;
  			}
  		}
  	}
  } */
}
.in-index #carousel {
  position: relative;
  padding-top: 22px;
}
.in-index #carousel .item {
  position: relative;
  color: var(--color-black);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  text-wrap: pretty;
}
.in-index #carousel .item .mobile-image {
  display: none;
}
.in-index #carousel .item .pc-image {
  display: block;
}
@media screen and (max-width: 1024px) {
  .in-index #carousel .item .mobile-image {
    display: block;
  }
  .in-index #carousel .item .pc-image {
    display: none;
  }
}
.in-index #carousel .item a {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-gray-500)));
  background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: var(--br-16);
  overflow: hidden;
}
.in-index #carousel .item img,
.in-index #carousel .item video {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.in-index #carousel .item .extended-banner-texts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px 30px 33px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .in-index #carousel .item .extended-banner-texts {
    padding: 20px 14px 30px 33px;
  }
}
.in-index #carousel .item .extended-banner-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-1-4);
  padding-bottom: 0.375em;
}
.in-index #carousel .item .extended-banner-text {
  font-size: var(--fs-20);
  line-height: var(--lh-1-4);
  padding-bottom: 1.111em;
}
.in-index #carousel .item .extended-banner-link {
  color: var(--color-white);
  font-size: var(--fs-13);
  font-weight: var(--fw-700);
  line-height: 1;
  border-radius: var(--br-12);
  background-color: var(--color-primary);
  padding-bottom: 1px;
  -webkit-box-shadow: inset 0px -1px 0px var(--color-primary-500);
          box-shadow: inset 0px -1px 0px var(--color-primary-500);
  padding: 1.077em 1.538em;
  z-index: 1;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.in-index #carousel .item .extended-banner-link:hover, .in-index #carousel .item .extended-banner-link:focus-within {
  background-color: var(--color-primary-hover);
}
.in-index #carousel .item:hover img,
.in-index #carousel .item:hover video, .in-index #carousel .item:focus-within img,
.in-index #carousel .item:focus-within video {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.in-index #carousel .item.white {
  color: var(--color-white);
}
.in-index #carousel .item .carousel-video-lazy video {
  display: none;
}
.in-index #carousel .item .carousel-video-lazy.loaded video {
  display: block;
}
.in-index #carousel .item .carousel-video-lazy.loaded img {
  display: none !important;
}
@media screen and (max-width: 1440px) {
  .in-index #carousel .item .extended-banner-texts {
    padding: 20px 10px 20px 20px;
  }
  .in-index #carousel .item .extended-banner-title {
    font-size: var(--fs-20);
  }
  .in-index #carousel .item .extended-banner-text {
    font-size: var(--fs-16);
    padding-bottom: 1em;
  }
  .in-index #carousel .item .extended-banner-link {
    font-size: var(--fs-13);
  }
}
.in-index #carousel .item:nth-child(2) {
  display: none;
}
@media screen and (max-width: 1280px) {
  .in-index #carousel .item:first-child {
    display: none;
  }
  .in-index #carousel .item:nth-child(2) {
    display: block;
  }
}
.in-index .body-banners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-20);
  padding-bottom: 60px;
}
.in-index .body-banners .banner-wrapper {
  position: relative;
  color: var(--color-black);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  text-wrap: pretty;
}
.in-index .body-banners .banner-wrapper .mobile-image {
  display: none;
}
.in-index .body-banners .banner-wrapper .pc-image {
  display: block;
}
@media screen and (max-width: 1024px) {
  .in-index .body-banners .banner-wrapper .mobile-image {
    display: block;
  }
  .in-index .body-banners .banner-wrapper .pc-image {
    display: none;
  }
}
.in-index .body-banners .banner-wrapper a {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-gray-500)));
  background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: var(--br-16);
  overflow: hidden;
}
.in-index .body-banners .banner-wrapper img,
.in-index .body-banners .banner-wrapper video {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.in-index .body-banners .banner-wrapper .extended-banner-texts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px 30px 33px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .in-index .body-banners .banner-wrapper .extended-banner-texts {
    padding: 20px 14px 30px 33px;
  }
}
.in-index .body-banners .banner-wrapper .extended-banner-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-1-4);
  padding-bottom: 0.375em;
}
.in-index .body-banners .banner-wrapper .extended-banner-text {
  font-size: var(--fs-20);
  line-height: var(--lh-1-4);
  padding-bottom: 1.111em;
}
.in-index .body-banners .banner-wrapper .extended-banner-link {
  color: var(--color-white);
  font-size: var(--fs-13);
  font-weight: var(--fw-700);
  line-height: 1;
  border-radius: var(--br-12);
  background-color: var(--color-primary);
  padding-bottom: 1px;
  -webkit-box-shadow: inset 0px -1px 0px var(--color-primary-500);
          box-shadow: inset 0px -1px 0px var(--color-primary-500);
  padding: 1.077em 1.538em;
  z-index: 1;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.in-index .body-banners .banner-wrapper .extended-banner-link:hover, .in-index .body-banners .banner-wrapper .extended-banner-link:focus-within {
  background-color: var(--color-primary-hover);
}
.in-index .body-banners .banner-wrapper:hover img,
.in-index .body-banners .banner-wrapper:hover video, .in-index .body-banners .banner-wrapper:focus-within img,
.in-index .body-banners .banner-wrapper:focus-within video {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.in-index .body-banners .banner-wrapper.white {
  color: var(--color-white);
}
.in-index .body-banners .banner-wrapper .carousel-video-lazy video {
  display: none;
}
.in-index .body-banners .banner-wrapper .carousel-video-lazy.loaded video {
  display: block;
}
.in-index .body-banners .banner-wrapper .carousel-video-lazy.loaded img {
  display: none !important;
}
@media screen and (max-width: 1440px) {
  .in-index .body-banners .banner-wrapper .extended-banner-texts {
    padding: 20px 10px 20px 20px;
  }
  .in-index .body-banners .banner-wrapper .extended-banner-title {
    font-size: var(--fs-20);
  }
  .in-index .body-banners .banner-wrapper .extended-banner-text {
    font-size: var(--fs-16);
    padding-bottom: 1em;
  }
  .in-index .body-banners .banner-wrapper .extended-banner-link {
    font-size: var(--fs-13);
  }
}
.in-index .body-banners .banner-wrapper .extended-banner-texts {
  padding-right: 60%;
  text-wrap: balance;
}
@media screen and (max-width: 1440px) {
  .in-index .body-banners .banner-wrapper .extended-banner-texts {
    padding-right: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .in-index .body-banners .banner-wrapper .extended-banner-texts {
    padding: 20px 14px 30px 33px;
  }
}
@media screen and (max-width: 1024px) {
  .in-index .body-banners {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding-bottom: 10px;
    margin-bottom: 50px;
    gap: var(--gap-10);
  }
  .in-index .body-banners::-webkit-scrollbar {
    height: 6px;
  }
  .in-index .body-banners > * {
    -ms-flex-preferred-size: calc(50% - var(--gap-10) / 2);
        flex-basis: calc(50% - var(--gap-10) / 2);
    min-width: calc(50% - var(--gap-10) / 2);
  }
}
@media screen and (max-width: 767px) {
  .in-index .body-banners > * {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
    min-width: 55%;
  }
}
@media screen and (max-width: 500px) {
  .in-index .body-banners > * {
    -ms-flex-preferred-size: 80%;
        flex-basis: 80%;
    min-width: 80%;
  }
}
.in-index .footer-banners {
  padding-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .in-index .footer-banners {
    padding-bottom: 40px;
  }
}
.in-index .footer-banners .footer-banner {
  position: relative;
  color: var(--color-black);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  text-wrap: pretty;
}
.in-index .footer-banners .footer-banner .mobile-image {
  display: none;
}
.in-index .footer-banners .footer-banner .pc-image {
  display: block;
}
@media screen and (max-width: 1024px) {
  .in-index .footer-banners .footer-banner .mobile-image {
    display: block;
  }
  .in-index .footer-banners .footer-banner .pc-image {
    display: none;
  }
}
.in-index .footer-banners .footer-banner a {
  background: -webkit-gradient(linear, left top, left bottom, from(var(--color-white)), to(var(--color-gray-500)));
  background: linear-gradient(to bottom, var(--color-white), var(--color-gray-500));
  position: relative;
  color: inherit;
  text-decoration: none;
  display: block;
  border-radius: var(--br-16);
  overflow: hidden;
}
.in-index .footer-banners .footer-banner img,
.in-index .footer-banners .footer-banner video {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.in-index .footer-banners .footer-banner .extended-banner-texts {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 10px 30px 33px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding: 20px 14px 30px 33px;
  }
}
.in-index .footer-banners .footer-banner .extended-banner-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-1-4);
  padding-bottom: 0.375em;
}
.in-index .footer-banners .footer-banner .extended-banner-text {
  font-size: var(--fs-20);
  line-height: var(--lh-1-4);
  padding-bottom: 1.111em;
}
.in-index .footer-banners .footer-banner .extended-banner-link {
  color: var(--color-white);
  font-size: var(--fs-13);
  font-weight: var(--fw-700);
  line-height: 1;
  border-radius: var(--br-12);
  background-color: var(--color-primary);
  padding-bottom: 1px;
  -webkit-box-shadow: inset 0px -1px 0px var(--color-primary-500);
          box-shadow: inset 0px -1px 0px var(--color-primary-500);
  padding: 1.077em 1.538em;
  z-index: 1;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.in-index .footer-banners .footer-banner .extended-banner-link:hover, .in-index .footer-banners .footer-banner .extended-banner-link:focus-within {
  background-color: var(--color-primary-hover);
}
.in-index .footer-banners .footer-banner:hover img,
.in-index .footer-banners .footer-banner:hover video, .in-index .footer-banners .footer-banner:focus-within img,
.in-index .footer-banners .footer-banner:focus-within video {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.in-index .footer-banners .footer-banner.white {
  color: var(--color-white);
}
.in-index .footer-banners .footer-banner .carousel-video-lazy video {
  display: none;
}
.in-index .footer-banners .footer-banner .carousel-video-lazy.loaded video {
  display: block;
}
.in-index .footer-banners .footer-banner .carousel-video-lazy.loaded img {
  display: none !important;
}
@media screen and (max-width: 1440px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding: 20px 10px 20px 20px;
  }
  .in-index .footer-banners .footer-banner .extended-banner-title {
    font-size: var(--fs-20);
  }
  .in-index .footer-banners .footer-banner .extended-banner-text {
    font-size: var(--fs-16);
    padding-bottom: 1em;
  }
  .in-index .footer-banners .footer-banner .extended-banner-link {
    font-size: var(--fs-13);
  }
}
.in-index .footer-banners .footer-banner .mobile-image {
  display: none;
}
.in-index .footer-banners .footer-banner .tablet-image {
  display: none;
}
.in-index .footer-banners .footer-banner .pc-image {
  display: block;
}
@media screen and (max-width: 1279px) {
  .in-index .footer-banners .footer-banner .mobile-image {
    display: none;
  }
  .in-index .footer-banners .footer-banner .tablet-image {
    display: block;
  }
  .in-index .footer-banners .footer-banner .pc-image {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .in-index .footer-banners .footer-banner .mobile-image {
    display: block;
    max-height: 550px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .in-index .footer-banners .footer-banner .tablet-image {
    display: none;
  }
  .in-index .footer-banners .footer-banner .pc-image {
    display: none;
  }
}
.in-index .footer-banners .footer-banner .extended-banner-texts {
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: var(--color-white);
  padding-left: 25.8%;
  padding-right: 50%;
  text-wrap: balance;
}
.in-index .footer-banners .footer-banner .extended-banner-texts h2 {
  color: inherit;
  font-size: 3.875rem;
  font-weight: var(--fw-700);
  line-height: 1;
  padding-bottom: 0.15em;
}
@media screen and (max-width: 1680px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding-left: 22%;
    padding-right: 45%;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts h2 {
    font-size: 3.875rem;
  }
}
@media screen and (max-width: 1440px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding-left: 22%;
    padding-right: 35%;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts h2 {
    font-size: 2.25rem;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts .extended-banner-title {
    padding-bottom: 1em;
    font-size: 1.25rem;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts .extended-banner-text {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 1279px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding-left: 10%;
    padding-right: 35%;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts h2 {
    font-size: 2.5rem;
    padding-bottom: 12px;
  }
  .in-index .footer-banners .footer-banner .extended-banner-texts .extended-banner-text {
    font-size: var(--fs-14);
  }
}
@media screen and (max-width: 1024px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts {
    padding-left: 5%;
    padding-right: 35%;
  }
}
@media screen and (max-width: 767px) {
  .in-index .footer-banners .footer-banner .extended-banner-texts h2 {
    font-size: 3rem;
    padding-bottom: 14px;
  }
}
.in-index .footer-banners .footer-banner .extended-banner-title {
  font-size: 1.875rem;
  line-height: var(--lh-1-4);
  font-weight: var(--fw-400);
  padding-bottom: 1.4em;
}
.in-index .footer-banners .footer-banner .extended-banner-text {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
}
.in-index .footer-banners .footer-banner .extended-banner-link {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--color-white);
  border-style: solid;
  border-width: 1px;
  border-color: var(--color-white);
  padding: 1.23em 1.538em;
  border-radius: var(--br-16);
}
.in-index .footer-banners .footer-banner .extended-banner-link:hover, .in-index .footer-banners .footer-banner .extended-banner-link:focus-within {
  background-color: var(--color-white);
  color: var(--color-black);
}
.in-index .footer-banners .footer-banner ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
}
.in-index .footer-banners .footer-banner ul li {
  padding: 0.375em 0 0.375em 1.25em;
  position: relative;
}
.in-index .footer-banners .footer-banner ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 0.375em;
  height: 0.375em;
  border-radius: 50%;
  background: var(--color-primary);
}
.in-index .footer-banners .footer-banner ul li:before {
  background-color: var(--color-white);
}
.in-index .benefitBanner {
  border-top-style: none;
  border-bottom-style: solid;
  margin-top: 0;
  padding-top: 76px;
  padding-bottom: 76px;
  margin-bottom: 37px;
}
@media screen and (max-width: 1024px) {
  .in-index .benefitBanner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    overflow-x: auto;
    padding: 40px 0 16px;
    margin-bottom: 34px;
    border-bottom-style: none;
  }
  .in-index .benefitBanner::-webkit-scrollbar {
    height: 6px;
  }
  .in-index .benefitBanner > * {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    min-width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .in-index .benefitBanner > * {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    min-width: 70%;
  }
}
.in-index .products-block:not(.products-block-luigi) {
  margin-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .in-index .products-block:not(.products-block-luigi) {
    margin-bottom: 20px;
  }
}
.in-index .homepage-blog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
  margin-left: calc(-1 * var(--gap-20));
  overflow: hidden;
  margin-bottom: 60px;
  position: relative;
  padding-top: calc(var(--fs-24) * 2 + var(--gap-7));
  padding-bottom: calc(var(--fs-16) * 3 * 1.4 + var(--gap-18));
}
@media screen and (max-width: 1279px) {
  .in-index .homepage-blog-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: calc(var(--fs-16) * 3 * 1.4 + var(--gap-18) + 5px);
  }
  .in-index .homepage-blog-wrapper::-webkit-scrollbar {
    height: 6px;
  }
}
.in-index .homepage-blog-wrapper > * {
  display: block;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: var(--gap-20);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media screen and (max-width: 1440px) {
  .in-index .homepage-blog-wrapper > * {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
}
@media screen and (max-width: 1279px) {
  .in-index .homepage-blog-wrapper > * {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media screen and (max-width: 767px) {
  .in-index .homepage-blog-wrapper > * {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
  }
}
@media screen and (max-width: 500px) {
  .in-index .homepage-blog-wrapper > * {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}
.in-index .homepage-blog-wrapper .homepage-group-title {
  width: 100%;
  padding: 0;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}
.in-index .homepage-blog-wrapper .news-item a {
  display: block;
  width: 100%;
  position: relative;
  border-radius: var(--br-16);
}
.in-index .homepage-blog-wrapper .news-item .title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 18px 15% 20px 18px;
  color: var(--color-white);
  font-size: var(--fs-20);
  font-weight: var(--fw-700);
  line-height: var(--lh-1-4);
  padding-bottom: 1em;
}
.in-index .homepage-blog-wrapper .news-item .description {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: auto;
  padding: 18px 15% 0 18px;
  color: var(--color-black);
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.in-index .homepage-blog-wrapper .news-item .read-article {
  display: none;
}
.in-index .homepage-blog-wrapper .news-item .image {
  overflow: hidden;
  border-radius: var(--br-16);
  position: relative;
}
.in-index .homepage-blog-wrapper .news-item .image:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(72, 9, 143, 0)), to(rgba(72, 9, 143, 0.9)));
  background: linear-gradient(180deg, rgba(72, 9, 143, 0) 20%, rgba(72, 9, 143, 0.9) 100%);
  border-radius: var(--br-16);
  pointer-events: none;
}
.in-index .homepage-blog-wrapper .news-item img {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.in-index .homepage-blog-wrapper .news-item:hover .title, .in-index .homepage-blog-wrapper .news-item:focus-within .title {
  text-decoration: underline;
  text-underline-offset: 3px;
}
.in-index .homepage-blog-wrapper .news-item:hover img, .in-index .homepage-blog-wrapper .news-item:focus-within img {
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}
.in-index .welcome-wrapper .welcome > h1 {
  display: none;
}
.in-index .welcome-wrapper .welcome > div {
  padding: 115px 12% 100px 66px;
  margin-bottom: 55px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1.75fr 1fr;
  gap: 10%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: var(--color-gray-500);
}
.in-index .welcome-wrapper .welcome > div .homepage-welcome-texts {
  font-size: var(--fs-20);
}
.in-index .welcome-wrapper .welcome > div .homepage-welcome-texts h1 {
  padding-bottom: 1.21875em;
  padding-top: 0;
}
@media screen and (max-width: 1024px) {
  .in-index .welcome-wrapper .welcome > div {
    padding: 40px 20px 40px 20px;
    gap: 30px;
    grid-template-columns: 1fr;
    text-align: center;
  }
  .in-index .welcome-wrapper .welcome > div .homepage-welcome-texts {
    font-size: var(--fs-16);
  }
  .in-index .welcome-wrapper .welcome > div .homepage-welcome-texts h1 {
    font-size: var(--fs-28);
    padding-bottom: 1em;
  }
  .in-index .welcome-wrapper .welcome > div .homepage-welcome-image {
    max-width: 500px;
    margin: auto;
  }
}
.in-index .latest-contribution-box {
  display: none;
}
.in-index .hodnoceni-obchodu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: var(--color-gray-400);
  border-radius: var(--br-16);
  padding: 44px 24px 58px 42px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
@media screen and (max-width: 1279px) {
  .in-index .hodnoceni-obchodu-section {
    padding: 34px 30px 34px 30px;
    gap: 0;
  }
}
.in-index .hodnoceni-obchodu-section .hodnoceni-obchodu-title {
  padding-bottom: 1.4167em;
  width: auto;
}
@media screen and (max-width: 1279px) {
  .in-index .hodnoceni-obchodu-section .hodnoceni-obchodu-title {
    width: 100%;
    padding-bottom: 0.75em;
    text-align: center;
  }
}
.in-index .hodnoceni-obchodu-section .stars-label-link {
  width: auto;
  margin-left: auto;
  text-align: right;
  padding-right: var(--gap-16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: var(--gap-8);
}
.in-index .hodnoceni-obchodu-section .stars-label-link .stars-label {
  color: inherit;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.in-index .hodnoceni-obchodu-section .stars-label-link::before {
  content: "";
  width: 27px;
  height: 27px;
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_verified_primary.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 1279px) {
  .in-index .hodnoceni-obchodu-section .stars-label-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
    text-align: center;
    padding-top: var(--gap-16);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: auto;
  }
}
.in-index .hodnoceni-obchodu-section .slider-custom-wrapper {
  width: 100%;
}
.in-index .hodnoceni-obchodu-section .votes-wrap {
  width: 100%;
}
.in-index .hodnoceni-obchodu-section .vote-wrap {
  background: var(--color-white);
  padding: var(--gap-20);
}
.in-index .hodnoceni-obchodu-section .vote-content {
  max-height: 4em;
  overflow-y: auto;
  overflow-x: hidden;
}
.in-index .homepage-group-title {
  font-size: var(--fs-24);
  font-weight: var(--fw-700);
  line-height: var(--lh-1-4);
  padding-bottom: 1em;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.in-index .homepage-group-title .homepage-group-title-link {
  color: var(--color-black);
}
.in-index .homepage-group-title .homepage-group-title-link:hover, .in-index .homepage-group-title .homepage-group-title-link:focus {
  color: var(--color-primary);
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .in-index .homepage-group-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.in-index .homepage-group-title-show-all {
  font-size: var(--fs-16);
  font-weight: var(--fw-400);
  text-decoration: underline;
}
.in-index .homepage-group-title-show-all:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 0.75em;
  margin-left: var(--gap-4);
  background-image: url("https://cdn.myshoptet.com/usr/www.natima.cz/user/documents/upload/assets/icon_arrow_long_right_primary.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.in-index .homepage-group-title-show-all.desktop {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .in-index .homepage-group-title-show-all.desktop {
    display: none !important;
  }
}
.in-index .homepage-group-title-show-all.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .in-index .homepage-group-title-show-all.mobile {
    display: block !important;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.in-index .homepage-blog-wrapper .homepage-group-title-link {
  padding-left: 20px;
}
.in-index .homepage-blog-wrapper .homepage-group-title-show-all.mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-right: 20px;
  font-size: var(--fs-20);
}